/*Map styling*/

#output_center_top {
    display: flex;
    margin: 0 -45px;
    padding: 5px;
    height: 300px;
}

#output_map {
    /*height: 250px;*/
    height: 100%;
    width: 50%;
    float: left;
}

#output_map * {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
}

#output_comids {
    padding-left: 5px;
    width: 50%;
    float: right;
}

#output_comid_list {
    font-size: 12px !important;
    width: 100%;
}

#output_info {
    width: 100%;
    padding: 20px 0;
    display: inline-block;
}

#output_info_div {
    width: 100%;
    font-size: 10px;
}

.huc_info_div {
    display: table-row;
    width: 100%;
    font-size: 12px;
}

.huc_info_cell {
    display: table-cell;
}

#output_graph_div {
    width: 100%;
    float: left;
    /*margin-left: -45px;*/
}

#output_graph {
    width: 100%;
    height: 250px;
    font-size: 10px;
}

#output_center_bottom {
    border: none;
}

#output_center_bottom ul {
    /*display: block;*/
    text-align: center;
}

#output_table_div {
    width: 100%;
    /*float: right;*/
}

#output_table {
    width: 100%;
    height: 250px;
    font-size: 10px;
}

#output_loading {
    display: none;
    width: 110%;
    height: 100%;
    margin: 0 -45px;
    background: white;
    opacity: 0.95;
    z-index: 9999999;
    position: absolute;
}

#loading_msg {
    margin: 50px;
    font-size: larger;
}

#export_json_catchment {
    display: none;
}

#export_csv_catchment {
    display: none;
}

#output_export {
    width: 100%;
    display: inline-block;
    margin-top: 25px;
}

#output_export button {
    font-size: 12px;
}