#huc_map_block * {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
}

/*EPA Corrections*/
.block-pane-epa-web-area-connect{
    float: right;
}

.region-sidebar {
    width: 25%;
    display: inline-block !important;
}

.headerbar {
    background: transparent none !important;
    color: black !important;
}

.menu-item {
    border-top: none !important;
}

.menu-item-last {
    border-bottom: none !important;
}

.main-column {
    float: right;
    width: 75% !important;
    display: inline-block;
}

.node {
    position: relative !important;
}

#block-og-menu-og-single-menu-block {
    /*border-right: solid black 1px !important;*/
    padding: 10px;
}

/*HMS Hydrology Workflow Main*/
.single_tab {
    text-align: center;
}

#workflow_stream_img {
    margin-top: 25px;
}

#workflow_tabs {
    border: none !important;
    text-align: center;
}

#workflow_tabs ul {
    background: none !important;
    list-style: none;
    padding: 0;
    margin: auto 0 0 0;
    display: inline-block;
    border: none !important;
}

#workflow_tabs ul li.ui-tabs-active {
    border: none;
    background: #007fff;
}

#workflow_tabs ul li.ui-tabs-active a{
    cursor: pointer;
}

#workflow_tabs ul li {
    background: none;
    /*margin: 1px 2px 0 2px;*/
    /*padding: 0.5em 1em;*/
    list-style: none;
    float: left;
    /*width: 24%;*/
    display: inline-block;
    padding: 0;
    margin: auto 3px;
}

#workflow_tabs ul li a{
    line-height: 1.5em;
    font-weight: bold;
    display: block;
    font-size: 12px;
    padding: 1em 1em 1em 1em;
}

#workflow_tabs ul li:hover {
    cursor: pointer;
    background: #007fff;
    opacity: 0.7;
}

#workflow_tabs ul li a:focus{
    box-shadow: none;
}

/*HMS Hydrology Workflow Map*/
#huc_map_block {
    height: 100%;
    width: 100%;
    position: absolute;
    box-shadow: 3px 1px 8px 0px;
    border-radius: 3px;
    display: none;
    text-align: center;
    background: rgba(255, 255, 255, 0.95);
    z-index: 9999;
    padding-bottom: 10px;
}

#huc_map_block h5 {
    margin-top: 10px;
    float: left;
    padding-left: 5%;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

#huc_map_block span {
    margin-right: 10px;
    font-weight: bold;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

#huc_map_div {
    height: 90%;
    width: 90%;
    display: inline-block;
}

#basemaps-wrapper {
    box-shadow: none;
    float: left;
    font-size: small;
    margin-left: 5%;
    margin-top: -7px;
}

#current_huc_level {
    float: left;
    font-size: small;
    margin-top: 11px;
    padding-left: 5px;
}

.selection_info {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    padding: 5px 10px;
    z-index: 9999;
}

.selection_info * {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    cursor: default;
}

#huc_map_button_add {
    margin: 0 !important;
}

#selection_huc_options label input{
    position: relative !important;
    margin-left: 10px;
    left: 0;
}

/*HMS Hydrology Workflow About */
#workflow_info_p{
    /*box-shadow: 3px 1px 8px 0px;*/
    margin: 0;
    padding: 10px 25px;
    border-radius: 3px;
    width: 100%;
    text-align: left;
}

#workflow_info_p img {
    padding-top: 10px;
}

.workflow_stream_img {
    width: 50%;
}

/*HMS Hydrology Workflow Inputs*/
#input_tab {
    height: auto;
    display: inline-block;
    box-shadow: 3px 1px 8px 0px;
    border-radius: 3px;
    margin-top: 15px;
}

#input_buttons_block {
}

#input_buttons_block h3{
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

.workflow_input {
    text-align: center;
    display: inline-block;
    margin: 5px;
    padding: 5px 10px 0 10px;
    border: solid #f1f1f1 1px;
    box-shadow: #f1f1f1  1px 1px 1px 1px;
}

.workflow_input:hover {
    cursor: pointer;
    background: #f1f1f1;
}

.workflow_input:hover h5 {
    color: #0071bc;
}

.input_row {
    width: 90%;
    display: inline-block;
    text-align: center;
    border: solid #f1f1f1 1px;
}

.workflow_input h5 {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

#input_block {
    text-align: center;
}

.input_fields {
    transition: none;
    -webkit-transition: none;
    padding: 15px;
    border: solid #f1f1f1 1px;
    width: 90%;
    display: none;
}

.input_fields label {
    float: left;
    padding-right: 10px;
}

.input_fields input {
    float: left;
    padding-right: 10px;
}

.input_fields button {
    margin: 0 10px 10px 10px;
    font-weight: 500;
    padding: 5px 10px;
}

.input_fields span {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: -10px
}

.input_fields select {
    float: left;
}

.input_fields h5 {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

.input_fields * {
    font-size: 0.9em !important;
}

.visibleInput {
    display: inline-block !important;
}

.selected {
    background: #f1f1f1 !important;
}

.selected h5{
    font-weight: bolder !important;
    color: #0071bc !important;
}

#selected_inputs_block h3 {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

.main_block {
    float: left;
    width: 100%;
    margin: 0 0 15px 0;
}

#notifications {
    text-align: center;
    color: red;
}

.close_button {
    float:right;
    padding: 5px;
}

.close_button:hover {
    font-weight: bolder;
    color: #0071bc;
    cursor: pointer;
}

#end_datepicker {
    margin-left: 5px;
}

.ui-datepicker * {
    transform: none !important;
    -webkit-transition: none !important;
}

.selected_input_table {
    padding: 15px;
    border: solid #f1f1f1 1px;
    width: 90%;
    display: table;
    margin: 0 auto;
}

.blocked {
    cursor: default;
    opacity: 0.5
}

.blocked:hover h5 {
    cursor: default;
    color: black;
}

.hide_button {
    opacity: 5;
    cursor: default;
}

.hidden_button {
    display: none;
}

.spatial_type_block {
    display: none;
}

#huc_map_button {
    float: left;
}

#comid_choice_div {
    float: left;
    padding: 0 15px;
}

#comid_choice_div input {
    position: relative;
    left: 0;
    padding: 0;
    float: inherit;
    margin-right: 5px;
}

#submit_workflow {
    margin-top: 10px;
}

#selected_input_table_block {
    display: inline-block;
    font-size: 0.8em;
    width: 100%;
}

#selected_input_table_header * {
    font-weight: bold;
    background: #f1f1f1;
}

.table_row {
    width: 100%;
    display: table-row;
}

.input_column_0 {
    display: table-cell;
    padding: 0 10px
}

.input_column_1 {
    display: table-cell;
    padding: 0 10px;
}


/* Data Tab Styling */
#data_tab_task_id {
    width: 80%;
    display: inline-block;
    margin: 20px 0;
}

#data_tab_task_id label {
    float: left;
    margin-right: 20px;
}

#data_tab_task_id input {
    float: left;
    width: 60%;
}

#get_previous_data {
    margin-top: -10px;
}

/*Version 2 updates*/
.show {
    display: inline-block;
}
.hide {
    display: none;
}
.input_version_title {
    display: inline-block;
}
.version {
    display: inline-block;
}
#input_block_v1 {
    float: left;
    width: 100%;
    margin: 25px;
}
#input_block_v2 {
    border: 1px solid lightgray;
    margin: 25px;
    padding: 20px;
    font-size: smaller;
}
.block_title {
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: inline-flex;
}
.location_input_row {
    display: inline-flex;
    float: left;
    width: 100%;
    font-size: small;
    margin: 10px 15px;
}
.location_text_input {
    margin: 0 8px;
}
.location_input_link {
    color: blue !important;
}
.location_checkbox_input {
    margin-right: 10px;
}
.notification {
    font-size: smaller;
    color: red;
}
.temporal_input_row {
    display: inline-flex;
    float: left;
    width: 100%;
    font-size: small;
    margin: 10px 15px;
}
.temporal_text_input {
    margin: 0 8px;
}
.subblock_title {
    width: 100%;
    display: inline-flex;
}
.temporal_input_row_radio {
    display: inline-flex;
    float: left;
    width: 100%;
    font-size: small;
    margin: 3px 10px;
}
.temporal_input_row_ext {
    display: block;
    float: left;
    width: 100%;
    font-size: small;
    margin: 3px 10px;
}
.temporal_input_row_ext * {
    display: block;
    float:left;
}
.sources_input_row {
    display: inline-flex;
    float: left;
    width: 100%;
    font-size: small;
    margin: 10px;
}
.source_input_label {
    margin: 0 auto;
}
#previous_tasks {
    display: inline-block;
}
.previous_task_id {
    text-decoration: underline;
    padding-left: 25px;
}
.previous_task_time {
    float: left;
}

#data_request_tab {
    text-align: center;
    height: 100%;
    display: inline-block;
    position: relative;
}
