[submodule "cts_app"]
	path = cts_app
	url = https://github.com/quanted/cts_app.git
[submodule "cts_celery"]
	path = cts_celery
	url = https://github.com/quanted/cts_celery.git
[submodule "cts_nodejs"]
	path = cts_nodejs
	url = https://github.com/quanted/cts_nodejs.git
[submodule "cyan_app"]
	path = cyan_app
	url = https://github.com/quanted/cyan_app.git
[submodule "flask_qed"]
	path = flask_qed
	url = https://github.com/quanted/flask_qed.git
[submodule "hem_app"]
	path = hem_app
	url = https://github.com/quanted/hem_app.git
[submodule "hms_app"]
	path = hms_app
	url = https://github.com/quanted/hms_app.git
[submodule "hwbi_app"]
	path = hwbi_app
	url = https://github.com/quanted/hwbi_app.git
[submodule "pisces_app"]
	path = pisces_app
	url = https://github.com/quanted/pisces_app.git
[submodule "pram_app"]
	path = pram_app
	url = https://github.com/quanted/pram_app.git
[submodule "qed_nginx"]
	path = qed_nginx
	url = https://github.com/quanted/qed_nginx.git
[submodule "qed_py3"]
	path = qed_py3
	url = https://github.com/quanted/qed_py3.git
[submodule "requirements_qed"]
	path = requirements_qed
	url = https://github.com/quanted/requirements_qed.git
[submodule "splash_app"]
	path = splash_app
	url = https://github.com/quanted/splash_app
[submodule "static_qed"]
	path = static_qed
	url = https://github.com/quanted/static_qed.git
[submodule "temp_config"]
	path = temp_config
	url = https://github.com/quanted/temp_config.git
[submodule "templates_qed"]
	path = templates_qed
	url = https://github.com/quanted/templates_qed.git

