.DS_Store
*.pyc
*.bak
*.dropbox
app.yaml
*.xlsx
*.old
*.doc
*.mdb
*.pptx
.VolumeIcon.icns
.fseventsd
Icon^M^M
.project
.pydevproject
publish_fortran.py
geneec_output.py
przm_output.py
pfam_output.py
GA2.tif
