[submodule "nginx"]
	path = nginx
	url = https://github.com/funkswing/nginx-uwsgi-qed.git
	branch = master
[submodule "splash_app"]
	path = splash_app
	url = https://github.com/quanted/splash_app
	branch = master
[submodule "templates_qed"]
	path = templates_qed
	url = https://github.com/quanted/templates_qed.git
	branch = master
[submodule "static_qed"]
	path = static_qed
	url = https://github.com/quanted/static_qed.git
	branch = master
[submodule "cts_app"]
	path = cts_app
	url = https://github.com/quanted/cts_app.git
[submodule "ubertool_app"]
	path = ubertool_app
	url = https://github.com/quanted/ubertool_app.git
	branch = master
[submodule "ubertool_ecorest"]
	path = ubertool_ecorest
	url = https://github.com/quanted/ubertool_ecorest.git
[submodule "hwbi_app"]
	path = hwbi_app
	url = https://github.com/quanted/hwbi_app.git
[submodule "pisces_app"]
	path = pisces_app
	url = https://github.com/quanted/pisces_app.git
[submodule "hms_app"]
	path = hms_app
	url = https://github.com/quanted/hms_app.git
[submodule "pop_app"]
	path = pop_app
	url = https://github.com/quanted/pop_app.git
[submodule "cyan_app"]
	path = cyan_app
	url = https://github.com/quanted/cyan_app.git
[submodule "sam_app"]
	path = sam_app
	url = https://github.com/quanted/sam_app.git
