beautifulsoup4==4.6.0
celery==4.0.2
codecov==2.0.9
coverage==4.4.1
coveralls==1.1
django==1.11.2
#django-crispy-forms
django-parsley
django-rest-swagger
dotenv
enum
enum34
factory_boy
flower
html5lib==0.99
mechanize
nose
nose-cov
numpy
pandas
pillow
pylint
pypdf2
python-coveralls
python-dotenv
pytz
redis
reportlab
requests
scipy
selenium
six
Sphinx
tabulate
xhtml2pdf==0.1b2
xlsxwriter
