Django
redis
requests
celery
django-parsley
enum34
flower
html5lib==0.99
pytz
reportlab
xhtml2pdf==0.1b2
beautifulsoup4
codecov
coverage
coveralls
django-rest-swagger
enum
mechanize
nose
nose-cov
numpy
pandas
pillow
pypdf2
python-coveralls
python-dotenv
selenium
six
Sphinx
tabulate
xlsxwriter