beautifulsoup4
celery
codecov
coverage
coveralls
Django
django-parsley
django-rest-swagger
enum
enum34
flower
html5lib==0.99
mechanize
nose
nose-cov
numpy
pandas
pillow
pypdf2
python-coveralls
pytz
redis
reportlab
requests
selenium
Sphinx
tabulate
xhtml2pdf==0.1b2
xlsxwriter





