<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd
	http://www.springframework.org/schema/jdbc
	http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
	http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:component-scan base-package="chemaxon.jchem.ws2base, chemaxon.jchem.webservice2" />

	<!-- loading service contexts from classpath -->
	<import resource="classpath*:serviceContext.xml" />
	<import resource="classpath*:com/chemaxon/**/serviceContext.xml" />

	<import resource="spring-taskmanager.xml" />
	<import resource="spring-mapping.xml" />
	<import resource="spring-executors.xml" />
	<import resource="spring-configStore.xml" />
	<import resource="spring-cache.xml" />
    
	<import resource="spring-security.xml" />
	
	<bean id="sysProps" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
	  <property name="targetClass"><value>java.lang.System</value></property>
	  <property name="targetMethod"><value>setProperty</value></property>
	  <property name="arguments">
	    <list>
	      <value>com.mchange.v2.c3p0.management.ManagementCoordinator</value>
	      <value>com.mchange.v2.c3p0.management.NullManagementCoordinator</value>
	    </list>
	  </property>
	</bean>
	
	<bean class="chemaxon.jchem.webservice2.restservices.v0.FolderImporter" />

	<bean id="dbConfigManager" class="chemaxon.jchem.webservice2.DBConfigManager" />

	<bean id="dbManager" class="chemaxon.jchem.webservice2.ChDBManager" />

	<bean id="simpleDbHandler" class="chemaxon.jchem.webservice2.util.SimpleJChemDbHandler" primary="true"/>

    <import resource="spring-appDb.xml" />

	<bean id="moleculeResultsetBuilder" class="chemaxon.jchem.webservice2.MoleculeResultsetBuilder">
		<property name="pageSize" value="200" />
	</bean>

	<bean id="clusterUtils" class="chemaxon.jchem.webservice2.clustering.ClusterUtils" />

	<bean id="responseCachingFilter" class="chemaxon.jchem.webservice2.util.ResponseCachingFilter">
		<property name="alwaysUseFullPath" value="true" />
		<property name="useExpiresHeader" value="true" />
		<property name="useCacheControlHeader" value="true" />
		<property name="useCacheControlNoStore" value="true" />
		<property name="alwaysMustRevalidate" value="true" />
		<property name="cacheMappings">
			<props>
				<!-- cache for one hour -->
				<prop key="/src/**">3600</prop>
				<prop key="/docs/**">3600</prop>
				<!-- no cache -->
				<prop key="/**">0</prop>
			</props>
		</property>
	</bean>

</beans>
