<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<if condition='property("log.dir").equals("")'>
		<then>
			<if condition='property("catalina.home").equals("")'>
				<then>
					<property name="log.dir" value="." />
				</then>
				<else>
					<property name="log.dir" value="${catalina.home}" />
				</else>
			</if>
		</then>
	</if>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
<!-- 		<filter class="ch.qos.logback.classic.filter.ThresholdFilter"> -->
<!--  	        <level>WARN</level> -->
<!-- 	    </filter> -->
		<encoder name="defaultEncoder" class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			</layout>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/logs/chemaxon.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${log.dir}/logs/chemaxon_%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep X days' worth of history -->
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder name="defaultEncoder" class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			</layout>
		</encoder>
	</appender>
	
	<appender name="MEASURE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/logs/chemaxon_measure.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${log.dir}/logs/chemaxon_measure_%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep X days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder name="defaultEncoder" class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%thread|%msg%n</pattern>
			</layout>
		</encoder>
	</appender>
	
	<appender name="CFGSTORE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/logs/chemaxon_cfgstore.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${log.dir}/logs/chemaxon_cfgstore_%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep X days' worth of history -->
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder name="defaultEncoder" class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			</layout>
		</encoder>
	</appender>

	<appender name="LOGGERSERVICE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/logs/chemaxon_client.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${log.dir}/logs/chemaxon_client_%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep X days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder name="defaultEncoder" class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%thread|%msg%n</pattern>
			</layout>
		</encoder>
	</appender>
	
	<logger name="chemaxon" level="INFO" />
	<logger name="chemaxon.jchem.webservice2" level="DEBUG" />
	<logger name="chemaxon.jchem.ws2base" level="DEBUG" />
	<logger name="com.chemaxon.connect" level="DEBUG" />
    
    <logger name="jdbc.sqlonly" level="OFF" />
    <logger name="jdbc.audit" level="OFF" />
    <logger name="jdbc.sqltiming" level="OFF" />
    <logger name="jdbc.resultset" level="OFF" />
    <logger name="jdbc.connection" level="OFF" />
	
<!-- 	<logger name="org" level="INFO" /> -->
	<logger name="org.jooq" level="WARN" />
<!-- 	<logger name="com" level="INFO" /> -->
<!-- 	<logger name="com.sun.jersey" level="DEBUG" /> -->
<!-- 	<logger name="liquibase" level="INFO" /> -->
	<logger name="uk.co.jemos.podam" level="ERROR" />

<!-- 	<logger name="com.mchange.v2.c3p0.SQLWarnings" level="ERROR" /> -->
	<logger name="ch.qos.logback" level="ERROR" />
	<logger name="chemaxon.jchem.webservice2.util.ResponseCachingFilter" level="ERROR" />
	
<!-- 	Separate logger for measure logs -->
	<logger name="measure" level="DEBUG" additivity="false">
		<appender-ref ref="MEASURE" />
	</logger>
	
<!-- 	Separate logger for config store (debug) -->
	<logger name="chemaxon.jchem.webservice2.configstore" level="WARN" additivity="false">
		<appender-ref ref="CFGSTORE" />
	</logger>

<!-- 	Separate logger for logger service -->
	<logger name="com.chemaxon.log.webservice.LoggerService" level="DEBUG" additivity="false">
		<appender-ref ref="LOGGERSERVICE" />
	</logger>

	<root level="WARN">
<!-- 		<appender-ref ref="STDOUT" /> -->
		<appender-ref ref="FILE" />
	</root>
</configuration>