<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd">


	<!-- Spring task scheduler and executor -->
	<task:scheduler id="taskScheduler" pool-size="5" />
<!-- 	<task:executor id="taskExecutor" pool-size="5-25" queue-capacity="100" rejection-policy="CALLER_RUNS"/> -->
<!-- 	<task:annotation-driven executor="taskExecutor" scheduler="taskScheduler" /> -->
	
	<bean id="partitionExecutor" class="chemaxon.jchem.webservice2.util.concurrent.AdvancedTaskExecutor">
		<property name="poolSize" value="#{T(Math).max(T(Runtime).runtime.availableProcessors(), 4)}"/>
	</bean>
	
	<bean id="fieldResultExecutor" class="chemaxon.jchem.webservice2.util.concurrent.AdvancedTaskExecutor">
		<property name="poolSize" value="#{T(Math).max(T(Runtime).runtime.availableProcessors(), 4)}"/>
	</bean>
	
	<bean id="postProcessExecutor" class="chemaxon.jchem.webservice2.util.concurrent.AdvancedTaskExecutor">
		<property name="poolSize" value="#{T(Math).max(T(Runtime).runtime.availableProcessors() / 3.0 * 2, 3.0)}"/>
	</bean>

</beans>
