<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="chemaxon.jchem.webservice2.EmbeddedDBBuilder">
		<property name="dataSource" >
			<bean id="embeddedDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close"> 
		      	<property name="driverClass" value="org.apache.derby.jdbc.EmbeddedDriver" />
				<property name="jdbcUrl" value="jdbc:derby:memory:derbyDB;create=true" />
				<property name="user" value="" />
				<property name="password" value="" />
		    </bean>
		</property>
        <property name="publicDbConfigName" value="embedded" />
		<property name="tableName" value="testTable1" />
		<property name="resources">
			<list>
				<bean class="chemaxon.jchem.webservice2.EmbeddedDBBuilder.MoleculeResource">
					<property name="path" value="embedded-db.sdf" />
					<property name="repeat" value="1" />
				</bean>
<!-- 				<bean class="chemaxon.jchem.webservice2.EmbeddedDBBuilder.MoleculeResource"> -->
<!-- 					<property name="path" value="embedded-db-markush.mrv" /> -->
<!-- 					<property name="repeat" value="1" /> -->
<!-- 				</bean> -->
			</list>
		</property>
	</bean>

</beans>
