<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	 
	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider user-service-ref="userServiceHashed" >
			<security:password-encoder hash="sha-256" base64="false" />
		</security:authentication-provider>
		<security:authentication-provider user-service-ref="userService" />
	</security:authentication-manager>
	
	<security:user-service id="userService">
			<security:user name="admin" password="admin" authorities="ROLE_USER,ROLE_ADMIN" />
			<security:user name="user" password="user" authorities="ROLE_USER" />
    </security:user-service>
    
    <security:user-service id="userServiceHashed">
			<security:user name="admin2" password="2257fff554f4090e9a407ac4f7059d52f50895be9adf43487ba0ba29b77d165b" authorities="ROLE_USER,ROLE_ADMIN" />
			<security:user name="user2" password="2257fff554f4090e9a407ac4f7059d52f50895be9adf43487ba0ba29b77d165b" authorities="ROLE_USER" />
	</security:user-service>
	
	<bean id="rememberMeUserDetailsService" class="chemaxon.jchem.webservice2.security.DelegatingUserDetailsService">
		<constructor-arg>
			<list>
				<ref bean="userService"/>
				<ref bean="userServiceHashed"/>
			</list>
		</constructor-arg>
	</bean>
	
    <bean id="authenticationMessage" class="java.lang.String">
      <constructor-arg value="Embedded authentication profile is active. Please contact your administartor for credentials!"/>
    </bean>
	
</beans>