<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="eventBus" class="com.google.common.eventbus.EventBus" />
    
    <bean id="backgroundTaskExecutor" class="chemaxon.jchem.webservice2.util.concurrent.AdvancedTaskExecutor">
        <property name="poolSize" value="#{T(Math).max(T(Runtime).runtime.availableProcessors(), 4)}" />
    </bean>

    <bean id="backgroundTaskExecutor2" class="chemaxon.jchem.webservice2.util.concurrent.AdvancedTaskExecutor">
        <property name="poolSize" value="#{T(Math).max(T(Runtime).runtime.availableProcessors(), 4)}" />
    </bean>
    
    <bean id="backgroundTaskExecutor3" class="chemaxon.jchem.webservice2.util.concurrent.AdvancedTaskExecutor">
        <property name="poolSize" value="#{T(Math).max(T(Runtime).runtime.availableProcessors() / 3.0 * 2, 3.0)}" />
    </bean>
    
    <bean id="taskManager" class="chemaxon.jchem.monitor.taskmanager.TaskManagerImpl">
    	<property name="canCancelOrphanTasks" value="true" />
    </bean>

</beans>
