.label 
{
  text-align:right;
}

div#loading {
  display: none;
}

.mEFS
{ 
  font: 14px/24px Arial; 
}

.tEFS table, .tEFS th,.tEFS  td 
{ 
  border:1px solid black;
}

#molQuerySel
{
  width: 150px;
}

.button
{
  width: 150px;
}

.ui-tabs
{
  padding: 0;
}

.tEFS table
{ 
  /* font: 14px/24px Arial; */
  width:100%; 
  border-collapse:collapse;
}

div#resultContent
{
  
  height: 380px;
  overflow:scroll;
  
}

#content-wrapper
{
  width: 540px;
  height: 480px;
}

#dialog
{ 
  font-size: .6em;
}

.hide 
{
  display: none;
}

.efsHide
{
  display:none;
}

 /*#bd { display:none; }*/

img
{
  border-style: none;
}

a.doToggle {
  text-decoration: none;
/*  font-size: 1.5em; */
  font-weight: bold;
  color: red;
}

h3
{ 
  padding-top:0px; 
  padding-bottom:0px; 
  margin-top:0px; 
  margin-bottom:0px; 
}

.tip
{
  /*    width: 212px;
        overflow: hidden;
        display: none; 
        z-index: 500; */
  position: absolute;
  
}

.tipTop {background: transparent url(../images/tipTop.png) no-repeat top; height:37px;}
.tipMid {background: transparent url(../images/tipMid.png) repeat-y; padding: 0 25px 0px 25px;}
.tipBtm {background: transparent url(../images/tipBtm_right.png) no-repeat bottom; height: 32px;}


.simpleDialog input[type="text"], .simpleDialog textarea
{
  margin-bottom: 5px;
  display: block;
  padding: 4px;
  width: 300px;
}

.simpleDialog label
{
  display: block;
}

.simpleDialog p 
{
  padding-bottom: 5px;
}

.simpleDialog
{
  margin: 15px 0 0 0;
  border-radius: 15px;
  padding: 20px;
  background:#eee;
  overflow: scroll;
  position: relative;
  z-index: 500;
}

div#propertyTable
{
  margin-left: 30px;
}

h3#simpleDialog-title
{
  background-color: #eee;
  text-align: center;
}

#complete-overlay
{
  background: transparent url(../images/background_overlay.png) repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 450;
  display: none;
}

#simpleDialog-overlay
{
  background: transparent url(../images/overlay.png) repeat;
  padding: 0 15px 15px 15px;
  position:absolute;
  top:0; 
  left:0;
  z-index:499;
  display:none;
}
#simpleDialog-overlay a.hideSimpleDialog
{
  position: relative;
}

div#header
{
  font-size: x-large;
  font-weight: bolder;
  background:#006699;
  color:white;
  text-align:center;
  padding:15px;
}

caption#nopt
{
  background-color:gray;
}

caption#opt
{
  background-color:green;
}

div#footer, caption, td#results
{
  background-color:#006699;
  color:white;
  clear:both;
  text-align:center;
  padding:5px;
  height:15px;
}

div#bd
{
  position: relative;
}

div#gmap
{
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 400px; /* If you change this don't forget to change the crosshair position to match */
}

div#crosshair
{
  position: absolute;
  top: 192px;
  height: 19px;
  width: 19px;
  left: 50%;
  margin-left: -8px;
  display: block;
  background: url(../images/crosshair.gif);
  background-position: center center;
  background-repeat: no-repeat;
}
/*
div#api-toolbar
{
  width: 500px;
  position: relative;
  float: left;
}

div#dynamic-table-1
{
  position: relative;
  top: 85px;
}
*/
div#api-commit-button
{
  padding-left: 40px;
}

tr.rheader
{
  background-color: #CCCCCC;
}

tr.rblue
{
  background-color: #D4EAFF;
}

tr.rwhite
{
  background-color: #FFFFFF;
}

.pad5
{
  padding: 5px 5px 5px 5px;
}

li.horizontal
{
  display: inline;
}

li.dynamic-table-api-button
{
  list-style-type: none;
  padding-right: 20px;
}
