body, div, dl, dt, dd, ul, ol, li, img, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    background-color: #fff;
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0;
}
address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: normal;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: ''}
abbr, acronym {
    border: 0;
    font-variant: normal;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
input, textarea, select {
    *font-size: 100%}
legend {
    color: #000;
}
a img {
    border: none;
}
body {
    background: #4a5b63 url('i/bg-body.png') repeat-x;
    color: #151515;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 75%;
    line-height: 1.5;
}
#sitewidea, #sitewideb, #sitewidec {
    background-color: #000;
    color: #fff;
    font-size: 1.25em;
    font-weight: bold;
    padding: 0 10px;
}
#sitewidea a:hover, #sitewideb a:hover, #sitewidec a:hover, #sitewidea a, #sitewideb a, #sitewidec a {
    color: #fff;
    text-decoration: underline;
}
#sitewideb span {
    font-size: 1.5em;
}
#sitewidec span {
    font-size: 1.75em;
}
#header {
    color: #fff;
    margin: 0 auto;
    padding: 12px 0 0;
    position: relative;
    width: 960px;
}
#header img {
    display: none;
}
#header p a {
    background: url('i/epa-sprites.png') no-repeat 0 -261px;
    color: #fff;
    display: block;
    height: 45px;
    left: -2px;
    position: relative;
    width: 378px;
}
#header dl {
    background: url('i/epa-sprites.png') no-repeat 0 -61px;
    display: none;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 371px;
}
#header dt {
    left: -3000px;
    position: absolute;
    top: 0;
    text-indent: -3000px;
}
#header dd {
    display: inline;
}
#header dd a {
    display: block;
    height: 40px;
    position: absolute;
    text-indent: -3000px;
    top: 0;
}
#spanish a {
    left: 0;
    width: 65px;
}
#trad_chinese a {
    left: 67px;
    width: 88px;
}
#simple_chinese a {
    left: 157px;
    width: 84px;
}
#vietnamese a {
    left: 243px;
    width: 73px;
}
#korean a {
    left: 318px;
    width: 50px;
}
#header ul {
    height: 30px;
    left: -6px;
    list-style: none;
    position: relative;
    width: 525px;
}
#header li a:focus {
    outline: none;
}
#header li a {
    background-image: url('i/epa-sprites.png');
    background-repeat: no-repeat;
    background-position: 0 -151px;
    display: block;
    height: 30px;
    position: absolute;
    text-indent: -3000px;
    top: 0;
}
li#learn {
    left: 0;
    position: absolute;
}
li#learn a {
    background-position: 0 -151px;
    left: 0;
    width: 126px;
}
li#learn a:hover {
    background-position: 0 -181px;
}
li#scitech {
    left: 127px;
    position: absolute;
}
li#scitech a {
    background-position: -127px -151px;
    left: 0;
    width: 163px;
}
li#scitech a:hover {
    background-position: -127px -181px;
}
li#laws {
    left: 290px;
    position: absolute;
}
li#laws a {
    background-position: -290px -151px;
    left: 0;
    width: 151px;
}
li#laws a:hover {
    background-position: -290px -181px;
}
li#about {
    left: 441px;
    position: absolute;
}
li#about a {
    background-position: -441px -151px;
    left: 0;
    width: 85px;
}
li#about a:hover {
    background-position: -441px -181px;
}
#header ul li ul li {
    position: relative;
}
#header ul ul {
    height: auto;
    position: absolute;
    top: -999em;
    width: 160px;
}
#header ul ul li {
    background: #435258;
    border-bottom: 1px solid #599dbd;
    float: left;
}
#header ul li:hover {
    visibility: inherit;
}
#header ul ul a {
    background: none;
    color: #fff;
    display: block;
    font-size: .9167em;
    font-weight: bold;
    height: auto;
    padding: 5px;
    position: static;
    text-indent: 0;
    width: auto;
}
#header ul li#learn ul a, #header ul li#scitech ul a, #header ul li#laws ul a, #header ul li#about ul a {
    width: 150px;
}
body #header ul ul a:hover {
    background: #599dbd;
    height: auto;
    position: static;
}
#header ul li:hover ul, #header ul li.sfHover ul {
    left: 0;
    top: 38px;
    z-index: 99;
}
#header ul li:hover li ul, #header ul li.sfHover li ul {
    top: -999em;
}
#header ul li li:hover ul, #header ul li li.sfHover ul {
    left: 160px;
    top: 0;
}
#header ul li li:hover li ul, #header ul li li.sfHover li ul {
    top: -999em;
}
#header ul li li li:hover ul, #header ul li li li.sfHover ul {
    left: 160px;
    top: 0;
}
.sf-sub-indicator {
    display: none;
}
#header #EPAsearch {
    float: right;
    margin-top: -17px;
}
#header #EPAsearch fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
#EPAsearch legend {
    display: none;
}
#EPAsearch label {
    font-weight: normal;
    margin-right: 5px;
    text-transform: uppercase;
}
#EPAsearch label input {
    margin: 0;
    padding: 0;
    vertical-align: text-bottom;
}
#EPAsearch ol, #EPAsearch ul {
    display: inline;
    height: auto;
    list-style: none;
    margin: 0;
    position: static;
    width: auto;
}
#EPAsearch ul li {
    display: inline;
}
#header fieldset ul li a, #header fieldset ol li a {
    background: none;
    color: #fff;
    display: inline;
    font-size: .833em;
    height: auto;
    margin-left: 13px;
    position: static;
    text-decoration: none;
    text-indent: 0;
}
#header fieldset ul li a:hover, #header fieldset ol li a:hover {
    text-decoration: underline;
}
#search {
    background: url('i/epa-sprites.png') no-repeat 0 -489px;
    height: 24px;
    width: 260px;
}
#searchbox {
    background: none;
    border: none;
    height: 20px;
    padding: 2px 3px 0;
    width: 194px;
}
#searchbutton {
    background: none;
    border: none;
    cursor: pointer;
    height: 25px;
    vertical-align: top;
    width: 55px;
}
.ac_results {
    border: 1px solid #ddd;
    font-size: 11px;
    overflow: hidden;
    z-index: 100;
}
.ac_results ul {
    background: #fff;
    list-style: none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}
.ac_results ul li {
    margin: 0;
    padding: 4px;
}
.ac_results strong {
    color: #559b6a;
}
.ac_even {
    background-color: #fff;
}
.ac_odd {
    background-color: #f4f4f4;
}
.ac_over {
    background-color: #ffc;
}
#content {
    background: #fff;
    border: 10px solid #435258;
    margin: 0 auto;
    position: relative;
    width: 960px;
}
#area {
    position: relative;
}
#area p a {
    background: url('i/icons.png') no-repeat 0 -67px;
    float: right;
    font-size: .7333em;
    font-weight: normal;
    margin-right: 5em;
    padding: 5px 10px 0 18px;
}
#content #area p {
    font-size: 1.33em;
    font-weight: bold;
    line-height: 1.4;
    margin: 0;
    padding: 1px 0 0 10px;
}
#area p#tagline {
    font-size: .9167em;
    font-weight: normal;
}
#content ul#share {
    list-style: none;
    margin: 0;
    padding: 5px 5px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 150;
}
#share li {
    padding-bottom: 10px;
}
#share li a {
    background: url('i/icons.png') no-repeat 0 -259px;
    padding: 0 10px 0 18px;
}
#share li ul {
    display: none;
}
#share li.on {
    z-index: 99;
}
#share li.on ul {
    background: #fff;
    border: 1px solid #ddd;
    display: block;
    font-size: 11px;
    list-style: none;
    margin: 0;
    padding: 5px 10px;
    position: absolute;
    right: -52px;
    top: 23px;
    width: 80px;
    z-index: 1000;
    -moz-border-radius: 6px 6px 0 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#share li.on li {
    padding-bottom: 0;
}
#share li.on li a {
    background: #fff;
    color: #06c;
    display: block;
    float: none;
    height: auto;
    padding: 0;
    position: static;
    text-indent: 0;
    width: auto;
}
#share li.on li a:focus, #share li.on li a:hover {
    color: #47aa42;
}
#page {
    background: url('i/bg-page.gif') repeat-y;
    padding-bottom: 1em;
    position: relative;
    z-index: 50;
}
#main {
    float: right;
    margin: 0 10px;
    width: 760px;
}
#page ul#breadcrumbs {
    list-style: none;
    margin: 4px -10px 1em;
    padding: 0 10px;
    overflow: hidden;
}
#page ul#breadcrumbs li {
    background: url('i/icons.png') no-repeat -13px -115px;
    display: block;
    float: left;
    padding-left: 12px;
    white-space: nowrap;
}
#page ul#breadcrumbs li.first {
    background: none;
    padding-left: 0;
}
#page ul#breadcrumbs li.first a {
    padding-left: 0;
}
ul#breadcrumbs li a {
    padding: 0 2px;
}
ul#breadcrumbs li a:focus, ul#breadcrumbs li a:hover {
    color: #47aa42;
}
#areafooter {
    clear: both;
    color: #666;
    font-size: .9167em;
    margin: 2.5em;
    text-align: center;
}
#areanav {
    background-color: #4289aa;
    background-image: url('i/epa-sprites.png');
    margin-right: 3px;
    width: 177px;
}
#content #areanav ul {
    background-color: #4289aa;
    list-style: none;
    margin: 0;
    position: relative;
    top: 12px;
}
#areanav li {
    border-bottom: 1px solid #599dbd;
    list-style: none;
}
#areanav li.separator {
    border-bottom: none;
}
#areanav hr {
    color: #fff;
    background: #fff;
    border: 1px solid #fff;
    clear: none;
    margin: .2em auto;
}
#areanav li a:visited, #areanav li a:focus, #areanav li a:hover {
    color: #fff;
    text-decoration: none;
}
#areanav li a {
    color: #fff;
    display: block;
    font-weight: bold;
    font-size: .9167em;
    padding: 5px 5px 5px 10px;
    text-decoration: none;
    width: 162px;
}
#areanav li a:focus, #areanav li a:hover {
    background: #599dbd;
}
#content #areanav li ul {
    margin: 0 0 5px 15px;
    padding: 0;
    top: 0;
}
#areanav li li {
    border-bottom: 0;
    width: 162px;
}
#areanav li li a {
    margin-left: 6px;
    padding: 0;
    text-indent: -6px;
    width: auto;
}
#areanav li li a:focus, #areanav li li a:hover {
    background: none;
    text-decoration: underline;
}
#footer {
    background: url('i/epa-sprites.png') no-repeat 879px -343px;
    clear: left;
    color: #fff;
    font-size: .9167em;
    margin: 0 auto;
    padding: 1em 0;
    position: relative;
    width: 960px;
}
#footer a:focus, #footer a:hover {
    text-decoration: underline;
}
#footer a {
    color: #fff;
    text-decoration: none;
}
#footer ul {
    list-style: none;
    margin-left: -5px;
}
#goodies {
    display: block;
    height: 45px;
    position: relative;
    top: 0;
    width: 570px;
}
#goodies li {
    display: inline;
}
#goodies li a:focus {
    outline: none;
}
#goodies li a {
    background-image: url('i/goodies.jpg');
    background-repeat: no-repeat;
    display: block;
    height: 45px;
    position: absolute;
    text-indent: -3000px;
}
#goodies li#rss-news a {
    background-position: 0 0;
    left: 0;
    width: 120px;
}
#goodies li#rss-news a:hover {
    background-position: 0 -45px;
}
#goodies li#podcasts a {
    background-position: -120px 0;
    left: 120px;
    width: 104px;
}
#goodies li#podcasts a:hover {
    background-position: -120px -45px;
}
#goodies li#mobile a {
    background-position: -224px 0;
    left: 224px;
    width: 112px;
}
#goodies li#mobile a:hover {
    background-position: -224px -45px;
}
#goodies li#email-news a {
    background-position: -339px 0;
    left: 339px;
    width: 130px;
}
#goodies li#email-news a:hover {
    background-position: -339px -45px;
}
#goodies li#widgets a {
    background-position: -476px 0;
    left: 476px;
    width: 93px;
}
#goodies li#widgets a:hover {
    background-position: -476px -45px;
}
#goodies li#students a {
    display: none;
}
#globalfooter {
    margin-top: 10px;
}
#globalfooter li {
    display: inline;
    border-right: 1px solid #fff;
}
#globalfooter li.last {
    border-right: none;
}
#globalfooter li a {
    padding: 0 9px 0 5px;
}
#url {
    display: none;
}
body#sidebarless p#wcmswatermark {
    margin-left: 0;
}
.clearfix:after, .columns:after, #page:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}
.clearfix, #page {
    display: block;
}
.tropo #header {
    padding-top: 20px;
}
.tropo #header dl {
    display: block;
}
.tropo #page {
    background: #fff url('i/bg-tropo-page.png') repeat-y 719px 0;
}
.tropo #page ul#breadcrumbs {
    display: none;
}
.tropo #area {
    border-bottom: 1px solid #f4f4f4;
}
.tropo #main {
    float: left;
    width: 700px;
}
.tropo #feature {
    margin: 10px 10px 0 0;
    overflow: hidden;
    width: 700px;
}
.tropo #aside {
    background: url('i/bg-aside.png') no-repeat;
    float: left;
    margin-right: 10px;
    padding: 1em 0 0 10px;
    width: 220px;
}
.tropo #areanav {
    display: none;
}
.tropo .region-map {
    margin-bottom: 1em;
}
.tropo #content .areanav {
    background: #e7efdd;
    font-size: .9167em;
    line-height: 1.2em;
    padding: .5em 0;
    text-align: center;
}
.tropo #goodies li#students a {
    display: none;
}
.tropo #feature-alt {
    border: 2px #ccc solid;
    border-width: 2px 0;
    float: right;
    margin: 2px 0 0;
    overflow: hidden;
    width: 520px;
}
.tropo #nav-alt {
    background: #4289aa;
    border: #ccc 2px solid;
    float: left;
    margin: 2px 0 0;
    width: 176px;
}
.tropo #nav-alt ul {
    list-style: none;
    margin: 0;
}
.tropo #nav-alt li {
    border-bottom: 1px solid #599dbd;
}
.tropo #nav-alt li.separator {
    border-bottom: none;
}
.tropo #nav-alt hr {
    color: #fff;
    background: #fff;
    border: 1px solid #fff;
    clear: none;
    margin: .2em auto;
}
.tropo #nav-alt li a:visited, .tropo #nav-alt li a:focus, .tropo #nav-alt li a:hover {
    color: #fff;
    text-decoration: none;
}
.tropo #nav-alt li a {
    color: #fff;
    display: block;
    font-weight: bold;
    font-size: .9167em;
    padding: 3px 3px 3px 10px;
    text-decoration: none;
    width: 158px;
}
.tropo #nav-alt li a:hover {
    background: #599dbd;
}
.tropo #nav-alt li ul {
    margin: 0 0 5px 15px;
    padding: 0;
}
.tropo #nav-alt li li {
    border-bottom: 0;
    width: 162px;
}
.tropo #nav-alt li li a {
    margin-left: 6px;
    padding: 0;
    text-indent: -6px;
    width: auto;
}
.tropo #nav-alt li li a:hover {
    background: none;
    text-decoration: underline;
}
.wide #content {
    min-width: 960px;
    width: 95%}
.wide #page {
    background: #fff;
}
.wide #main {
    float: none;
    position: relative;
    margin: 0 10px;
    width: auto;
}
.wide #areanav {
    display: none;
}
.two-col #section, .twocol #section {
    float: left;
    margin-right: 10px;
    width: 520px;
}
.two-col #aside, .twocol #aside {
    float: right;
    margin-left: 10px;
    width: 220px;
}
.es h1 span.en a {
    background: url('http://www.epa.gov/epafiles/css/i/language-english.png') no-repeat top left;
    display: block;
    float: left;
    height: 20px;
    text-indent: -3000px;
    width: 55px;
}
.es h1 span.en a:hover {
    background-position: bottom left;
}
@media screen, print {
    h1 {
    clear: left;
    font-size: 2em;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 .5em;
}
h2 {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0 0 .75em;
}
h3 {
    font-size: 1.35em;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 1em;
}
h4 {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.25;
    margin: 0 0 1.25em;
}
h5 {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 1.5em;
}
h6 {
    font-size: 1em;
    margin: 0 0 1.5em;
}
#content p {
    margin: 0 0 1.5em;
}
abbr, acronym {
    border-bottom: 1px dashed #d0d0d0;
    cursor: help;
    font-variant: small-caps;
}
address {
    margin: 0 0 1.5em;
    font-style: italic;
}
blockquote {
    margin: 1.5em;
}
del {
    color: #666;
    text-decoration: line-through;
}
dfn, em {
    font-style: italic;
}
dfn {
    font-weight: bold;
}
hr {
    background: #d9f0a0;
    border: 1px solid #d9f0a0;
    clear: both;
    color: #d9f0a0;
    float: none;
    text-align: center;
    margin: .7em auto;
    width: 80%}
ins {
    text-decoration: none;
}
pre {
    margin: 1.5em 0;
    white-space: pre;
}
pre, code {
    font: 1em 'andale mono', 'Lucida Sans Console', monospace;
    line-height: 1.5;
}
strong {
    font-weight: bold;
}
sup, sub {
    line-height: 0;
}
#content a:visited {
    color: #4298aa;
}
#content a:focus, #content a:hover {
    color: #47aa42;
    text-decoration: underline;
}
#content a {
    color: #06c;
    text-decoration: none;
}
#content li ul, #content li ol {
    margin: 0 1em;
}
#content li ul {
    list-style-type: circle;
}
#content ul, #content ol {
    margin: 0 2em 1.5em;
}
#content ul {
    list-style-type: disc;
}
dl {
    margin: 0 0 1.5em;
}
dl dt {
    font-weight: bold;
}
dd {
    margin-left: 1em;
}
.center {
    text-align: center;
    margin: 0 10px;
}
#content .centered {
    margin: .5em auto;
}
.clear {
    clear: both;
}
.epaltsansbold {
    font-size: .85em;
    font-weight: bold;
}
.epaltsans, .epaLtSans {
    font-size: .9em;
}
.fileinfo {
    font-size: .85em;
    color: #666;
}
.highlight {
    background: #ff0;
}
.left {
    float: left;
    margin: 0 10px 10px 0;
}
.right, .righted {
    float: right;
    margin: 0 0 10px 10px;
}
.skip {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    border: none;
    font-size: 0;
}
.warning {
    color: #c33;
    font-weight: bold;
    font-size: 1em;
}
#content .pagetop {
    clear: both;
    margin: 1em 0;
    font-size: .833em;
    background: url('i/icons.png') no-repeat 0 -30px;
}
#content .pagetop a {
    color: #666;
    padding-left: 8px;
}
#content .pagetop a:hover {
    color: #666;
}
.imgcontainer-r, .imgcontainer-l {
    border: 1px solid #ddd;
    background: #f4f4f4;
}
.imgcontainer-r img, .imgcontainer-l img {
    margin: 0 0 -.25em;
}
.imgcontainer-r {
    float: right;
    margin: 0 0 .5em 1em;
}
.imgcontainer-l {
    float: left;
    margin: 0 1em .5em 0;
}
#content .caption {
    margin: 0;
    padding: 2px 4px;
    font-size: .92em;
}
.boxmulti, .boxnat, .boxalert {
    background: #f4f4f4;
    float: right;
    font-size: .9167em;
    margin: 10px 0 10px 10px;
    padding: 0 0 5px;
    width: 218px;
}
.boxmulti, .boxnat {
    -moz-border-radius: 10px 10px 0 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.boxmulti {
    border: 1px solid #559b6a;
}
.boxnat {
    border: 1px solid #4289aa;
}
.boxalert {
    border: 1px solid #c33;
}
.box {
    background: #fff;
    border: 1px solid #ddd;
    margin: 10px 10px 10px 0;
    padding: 0 0 5px;
    font-size: .9167em;
    width: 50%;
    -moz-border-radius: 10px 10px 0 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.boxmulti h5, .boxnat h5, .boxalert h5, .box h5 {
    font-size: 1.0em;
    text-align: center;
    color: #fff;
    padding: 4px;
    margin: 0 0 .2em;
}
.boxmulti h6, .boxnat h6, .boxalert h6, .box h6 {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    margin: .75em 5px 0;
}
.boxmulti h5, .boxnat h5, .box h5 {
    -moz-border-radius: 6px 6px 0 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.boxmulti h5 {
    background-color: #559b6a;
}
.boxnat h5 {
    background-color: #4289aa;
}
.boxalert h5 {
    background-color: #c33;
}
.box h5 {
    background-color: #ddd;
    color: #151515;
    text-align: left;
}
.centered h5, .righted h5 {
    text-align: center;
}
.color1 {
    border: 1px solid #559b6a;
}
.color2 {
    border: 1px solid #4289aa;
}
.color1 h5 {
    background: #559b6a;
    color: #fff;
}
.color2 h5 {
    background-color: #4289aa;
    color: #fff;
}
#content .boxmulti h5 a, #content .boxnat h5 a, #content .color1 h5 a, #content .color2 h5 a, #content .boxalert h5 a {
    color: #fff;
}
#content .box h5 a {
    color: #000;
}
#content .boxmulti ul, #content .boxnat ul, #content .boxalert ul, #content .box ul {
    margin: .5em 1em;
}
#content .boxmulti ol, #content .boxnat ol, #content .boxalert ol, #content .box ol {
    margin: .5em 1em .5em 1.5em;
}
.boxmulti li, .boxnat li, .boxalert li, .box li {
    margin-left: 1em;
    padding: 0 .5em 0 0;
}
#content .boxmulti p, #content .boxnat p, #content .boxalert p, #content .box p {
    margin: .5em 0;
    padding: 0 .5em;
}
#content .boxmulti li ul, #content .boxmulti li ol, #content .boxnat li ul, #content .boxnat li ol, #content .boxalert li ul, #content .boxalert li ol, #content .box li ul, #content .box li ol {
    margin: 0 .5em;
}
.boxsimple {
    width: 15%;
    float: right;
    font-size: .9167em;
    border: 1px solid #f4f4f4;
    margin: 0 0 10px 10px;
}
.boxsimple h5 {
    font-size: 1.0em;
    margin: .5em 0;
    padding: 0 .5em;
}
.boxsimple p {
    margin: .5em 0;
    padding: 0 .5em;
}
.tropo #aside .box, .tropo #aside .boxmulti, .tropo #aside .boxnat, .tropo #aside .boxsimple, .tropo #aside .boxalert, .two-col #aside .box, .two-col #aside .boxmulti, .two-col #aside .boxnat, .two-col #aside .boxsimple, .two-col #aside .boxalert {
    float: none;
    margin: 0 0 10px;
    width: 218px;
}
.tropo #aside .box h5, .tropo #aside .boxmulti h5, .tropo #aside .boxnat h5, .tropo #aside .boxsimple h5, .tropo #aside .boxalert h5 {
    text-align: left;
}
p.pullquote {
    float: right;
    border: 1px solid #f4f4f4;
    border-width: 2px 0;
    font-size: 1.1em;
    font-style: italic;
    font-weight: bold;
    color: #333;
    line-height: normal;
    margin: .5em 0 .5em 1em;
    padding: .5em;
    width: 50%}
p.pullquote span.author, p.pullquote span {
    font-size: .8em;
    font-style: normal;
}
#content .disclaimer, #content .disclaimer-wide, p#archive {
    width: 150px;
    float: right;
    font-size: .9167em;
    line-height: 1.1;
    padding: .3em;
    margin: 10px 0 10px 10px;
    border: 1px solid #ddd;
    background: #f4f4f4;
}
#content .disclaimer-wide {
    margin: 10px 10%;
    padding: .3em;
    text-align: center;
    width: auto;
    float: none;
}
p#archive {
    margin: 10px 0;
    padding: .3em .3em .3em 30px;
    width: 350px;
    float: none;
    background: #f4f4f4 url('i/icons.png') no-repeat 3px -156px;
}
#content ul#tabs, #content ul.tabs-js {
    background: url('i/bg-tabs.png') repeat-x 0 100%;
    font-size: .9167em;
    list-style: none;
    margin: 0 -10px 1.5em;
    overflow: hidden;
}
#content ul.tabs-js {
    margin: 0 0 1.5em;
}
#content ul#tabs-vert {
    background: url('i/bg-tabs-vert.png') repeat-y;
    float: right;
    font-size: .9167em;
    list-style: none;
    margin: 0 0 1.5em 1em;
    overflow: hidden;
    width: 180px;
}
#content ul#tabs li {
    display: inline;
}
#content ul.tabs-js li {
    float: left;
    margin: 0;
    padding: 0;
}
#content ul#tabs li a, #content ul.tabs-js li a, #content ul#tabs-vert li a {
    background: #d6e5eb;
    border: 1px solid #4289aa;
    color: #4289aa;
    display: block;
    float: left;
    font-size: .9167em;
    font-weight: bold;
    margin: 0 .25em 0 .5em;
    padding: .5em .5em .25em;
}
#content ul#tabs-vert li a {
    float: none;
    margin: .5em 0;
}
#content ul#tabs li a:hover, #content ul#tabs li.on a, #content ul.tabs-js li a:hover, #content ul.tabs-js li a.current, #content ul#tabs-vert li a:hover, #content ul#tabs-vert li.on a {
    background: #fff;
    border-bottom-color: #fff;
    text-decoration: none;
}
#content ul#tabs li.on a, #content ul.tabs-js li a.current, #content ul#tabs-vert li.on a {
    cursor: default;
}
#content ul#tabs-vert li a:hover, #content ul#tabs-vert li.on a {
    border-left-color: #fff;
    border-bottom-color: #4289aa;
}
.accordion {
    margin: 1em 0;
}
.accordion h3 {
    background: url('http://www.epa.gov/region1/images2/misc/accordion-default.jpg') no-repeat right top #aaa;
    border-top: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    margin: 0;
    padding: 5px 15px;
}
.accordion h3.current {
    background: url('http://www.epa.gov/region1/images2/misc/accordion-active.jpg') no-repeat right top #4289aa;
    cursor: default;
}
.accordion div.pane {
    padding: 5px 15px;
}
#colorbox, #cboxOverlay, #cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}
#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%}
#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}
#cboxContent {
    position: relative;
}
#cboxLoadedContent {
    overflow: auto;
}
#cboxTitle {
    margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
}
.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
}
.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
}
#cboxOverlay {
    background: #000;
}
#cboxContent {
    margin-top: 20px;
}
#cboxError {
    padding: 50px;
    border: 1px solid #ccc;
}
#cboxLoadedContent {
    border: 5px solid #000;
    background: #fff;
}
#cboxTitle {
    position: absolute;
    top: -20px;
    left: 0;
    color: #ccc;
}
#cboxCurrent {
    position: absolute;
    top: -20px;
    right: 0;
    color: #ccc;
}
#cboxSlideshow {
    position: absolute;
    top: -20px;
    right: 90px;
    color: #fff;
}
#cboxPrevious {
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -32px;
    background: url(i/colorbox-controls.png) no-repeat top left;
    width: 28px;
    height: 65px;
    text-indent: -9999px;
}
#cboxPrevious.hover {
    background-position: bottom left;
}
#cboxNext {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -32px;
    background: url(i/colorbox-controls.png) no-repeat top right;
    width: 28px;
    height: 65px;
    text-indent: -9999px;
}
#cboxNext.hover {
    background-position: bottom right;
}
#cboxLoadingOverlay {
    background: #000;
}
#cboxLoadingGraphic {
    background: url(i/loading.gif) no-repeat center center;
}
#cboxClose {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    background: url(i/colorbox-controls.png) no-repeat top center;
    width: 38px;
    height: 19px;
    text-indent: -9999px;
}
#cboxClose.hover {
    background-position: bottom center;
}
table, td, th, tr {
    vertical-align: top;
}
table.table, table.tablebord {
    border-collapse: collapse;
    margin: 0 0 10px;
}
table.tablebord {
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
}
table.table caption, table.tablebord caption {
    background-color: #eee;
    padding: 5px;
    font-weight: bold;
}
table.table th, table.table td, table.tablebord th, table.tablebord td {
    padding: 5px;
    border: 1px solid #ddd;
    border-width: 0 0 1px;
}
table.table thead, table.table tfoot, table.tablebord thead, table.tablebord tfoot {
    background-color: #ccc;
    font-weight: bold;
}
table.table th, table.tablebord th {
    background-color: #ccc;
    border: 1px solid #ddd;
    border-width: 0 1px;
    font-weight: bold;
}
table.tablebord th, table.tablebord td {
    border-width: 0 1px 1px 0;
}
table th.header {
    background-image: url('i/sort.png');
    background-repeat: no-repeat;
    background-position: right -42px;
    cursor: pointer;
    padding-right: 20px;
}
table th.headerSortUp {
    background-position: right -96px;
}
table th.headerSortDown {
    background-position: right 14px;
}
tr.tint, tr.odd {
    background-color: #eee;
}
table.qfinder {
    border-collapse: collapse;
    margin: 1em 0;
    padding-bottom: .2em;
    width: 100%}
table.qfinder thead th {
    background: #4289aa;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    padding: 2px 0 2px 12px;
}
#content table.qfinder thead th a {
    background: #fff;
    color: #45963a;
    float: right;
    font-size: .833em;
    margin: 4px 2px 0;
    padding: 0 4px;
}
#content table.qfinder thead th a:hover {
    background: #4289aa;
    color: #fff;
}
table.qfinder thead td {
    padding: 0 8px 0 0;
}
table.qfinder tbody td {
    background: #e7efdd;
    font-size: .9167em;
    line-height: 1.2em;
    padding: .5em 0;
    vertical-align: top;
    width: 25%}
#content table.qfinder a {
    margin: 0;
    padding: 0 0 0 1em;
    display: block;
}
table.area {
    border: 3px solid #4289aa;
    border-width: 3px 0;
    margin-bottom: 0;
}
table.area tbody td {
    background: #f1f1f1;
}
#content .form ul {
    margin: 0;
}
.form li {
    list-style: none;
    margin-bottom: 10px;
    overflow: hidden;
}
form.form fieldset {
    border-top: 1px solid #ddd;
    padding: 1em;
    margin: 0 0 1.5em 0;
}
form.form legend {
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 10px;
}
form.form label, form.form input {
    display: block;
}
form.form label em {
    color: #c00;
    padding: 0 5px;
    font-weight: bold;
}
form.form input.check, form.form label.check {
    display: inline;
    float: none;
    width: auto;
}
form.form label {
    font-weight: bold;
    padding-right: 10px;
}
form.form input.text, form.form input.check, form.form textarea, form.form select {
    border: 1px solid #ddd;
    padding: 5px;
}
form.form input.text:focus, form.form input.check:focus, form.form textarea:focus, form.form select:focus {
    border: 1px solid #666;
}
form.form br, form.form li, form.form p {
    clear: left;
}
form.form input#submit {
    background: #369;
    border: #ddd;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px;
    width: auto;
}
.error {
    padding: 4px;
    margin: 5px 0 0 5px;
    border: 2px solid #fbc2c4;
    background: #fbe3e4;
    color: #8a1f11;
}
.error a {
    color: #8a1f11;
}
.nav {
    background: url('i/arrows.png') no-repeat top left;
}
.end {
    background-position: 100% -165px;
    padding: 0 20px 0 10px;
}
.home {
    background-position: 0 -75px;
    padding: 0 10px 0 20px;
}
.next {
    background-position: 100% -30px;
    padding: 0 20px 0 10px;
}
.prev {
    background-position: 0 -120px;
    padding: 0 10px 0 20px;
}
#main .columns {
    display: inline-block;
    display: block;
    overflow: hidden;
}
* html #main .columns {
    height: 1%}
#main .column {
    display: inline;
    float: left;
    margin: 0 10px;
    overflow: hidden;
}
#main .columns .last {
    float: right;
    margin-right: 0;
}
#main .columns .first {
    margin-left: 0;
}
#main .col2 .column {
    width: 370px;
}
#main .col3 .column {
    width: 240px;
}
#main .col4 .column {
    width: 175px;
}
.tropo #main .col2 .column, .twocol #main .col2 .column {
    width: 340px;
}
.tropo #main .col3 .column, .twocol #main .col3 .column {
    width: 220px;
}
.tropo #main .col4 .column, .twocol #main .col4 .column {
    width: 160px;
}
#main .gallery {
    display: inline-block;
    display: block;
    margin: 0;
    overflow: hidden;
}
* html #main .gallery {
    height: 1%}
#main .gallery li {
    display: inline;
    float: left;
    margin: 0 10px;
    overflow: hidden;
    width: 136px;
}
#main .gallery li.last {
    float: right;
    margin-right: 0;
}
#main .gallery li.first {
    margin-left: 0;
}
#main .gallery li img {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 3px;
    width: 128px;
}
#main .gallery li a {
    border: 0;
}
}@media print {
    html {
    background: #fff;
}
body {
    background: #fff;
    margin: 1em;
    width: auto;
    font-size: 75%;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#sitewidea, #sitewideb, #sitewidec, #header ul, #header form, #header dl, #share {
    display: none;
}
#header p a {
    background: url('i/print-epa-logo.gif') no-repeat;
    color: #fff;
    display: block;
    height: 21px;
    left: -2px;
    top: -5px;
    position: relative;
    width: 150px;
}
#header p a img {
    display: block;
    height: 21px;
    width: 150px;
}
#area p a {
    display: none;
}
#area p {
    font-size: 1.33em;
    font-weight: bold;
    line-height: 1.2;
}
#area p#tagline {
    font-size: .9167em;
    font-weight: normal;
    line-height: 1.2;
}
#content {
    border: none;
    width: auto;
}
#page {
    background: none;
    width: auto;
}
#main {
    float: none;
    width: auto;
}
#main a {
    color: #000;
    text-decoration: underline;
}
.tropo #main {
    float: left;
    width: 75%}
.tropo #aside {
    width: 25%}
#main ul#breadcrumbs, #content ul#tabs, #content ul#tabs-vert, #main #areafooter, #areanav, p.pagetop {
    display: none;
}
#footer {
    background: none;
    clear: both;
    font-size: .9167em;
    position: static;
}
#goodies, #globalfooter {
    display: none;
}
#url {
    color: #000;
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
}
}