{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Human Well-Being Index (HWBI) API Documentation",
        "description": "Welcome to the U.S. Environmental Protection Agency's (USEPA) Human Well-Being Index (HWBI) interactive RESTful API documentation.\n\nThe HWBI was generated by researchers at the USEPA using over one hundred nationally-available data layers to assess economic, social, and ecosystem services and calculate human well-being across the entire U.S. at the regional, state, and county levels for years 2000-2010. This API provides values for 22 economic, ecosystem, and social services, 8 domains of well-being, and a total HWBI score for each county in the U.S.\n"
    },
    "host": "qed.epa.gov/rest/hwbi",
    "schemes": [
        "http",
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/locations/{state}/{county}": {
            "get": {
                "parameters": [
                    {
                        "name": "state",
                        "in": "path",
                        "type": "string",
                        "description": "United States of America state name",
                        "required": true
                    },
                    {
                        "name": "county",
                        "in": "path",
                        "type": "string",
                        "description": "United States of America county name",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The /locations endpoint uses state and county name to provide values for 22 economic, ecosystem, and social services, 8 domains of well-being, and a total HWBI score for the county."
                    }
                }
            }
        },
        "/calc/run": {
            "get": {
                "parameters": [
                    {
                        "name": "CapitalInvestmentScore",
                        "in": "query",
                        "description": "Capital Investment",
                        "type": "number",
                        "default": 58.58767309,
                        "minimum": 56.31683197,
                        "maximum": 61.75389692,
                        "required": true
                    },
                    {
                        "name": "ConsumptionScore",
                        "in": "query",
                        "description": "Consumption",
                        "type": "number",
                        "default": 51.30107144,
                        "minimum": 47.42882423,
                        "maximum": 54.04916975,
                        "required": true
                    },
                    {
                        "name": "EmploymentScore",
                        "in": "query",
                        "description": "Employment",
                        "type": "number",
                        "default": 61.42698061,
                        "minimum": 33.13814798,
                        "maximum": 72.57176231,
                        "required": true
                    },
                    {
                        "name": "FinanceScore",
                        "in": "query",
                        "description": "Finance",
                        "type": "number",
                        "default": 48.04367489,
                        "minimum": 31.42250002,
                        "maximum": 61.56578545,
                        "required": true
                    },
                    {
                        "name": "InnovationScore",
                        "in": "query",
                        "description": "Innovation",
                        "type": "number",
                        "default": 40.78933818,
                        "minimum": 25.89488723,
                        "maximum": 65.3289721,
                        "required": true
                    },
                    {
                        "name": "ProductionScore",
                        "in": "query",
                        "description": "Production",
                        "type": "number",
                        "default": 51.37376206,
                        "minimum": 45.11697104,
                        "maximum": 51.67193166,
                        "required": true
                    },
                    {
                        "name": "ReDistributionScore",
                        "in": "query",
                        "description": "Re-Distribution",
                        "type": "number",
                        "default": 44.91955411,
                        "minimum": 68.92691912,
                        "maximum": 61.75389692,
                        "required": true
                    },
                    {
                        "name": "AirQualityScore",
                        "in": "query",
                        "description": "Air Quality",
                        "type": "number",
                        "default": 39.74227925,
                        "minimum": 10,
                        "maximum": 90,
                        "required": true
                    },
                    {
                        "name": "FoodFiberAndFuelProvisioningScore",
                        "in": "query",
                        "description": "Food, Fiber and Fuel Provisioning",
                        "type": "number",
                        "default": 38.67637493,
                        "minimum": 32.62908483,
                        "maximum": 48.49178319,
                        "required": true
                    },
                    {
                        "name": "GreenspaceScore",
                        "in": "query",
                        "description": "Greenspace",
                        "type": "number",
                        "default": 43.49136823,
                        "minimum": 36.11207908,
                        "maximum": 62.03906984,
                        "required": true
                    },
                    {
                        "name": "WaterQualityScore",
                        "in": "query",
                        "description": "Water Quality",
                        "type": "number",
                        "default": 47.98169343,
                        "minimum": 15.95637509,
                        "maximum": 88.22033237,
                        "required": true
                    },
                    {
                        "name": "WaterQuantityScore",
                        "in": "query",
                        "description": "Water Quantity",
                        "type": "number",
                        "default": 50.1499327,
                        "minimum": 21.70976841,
                        "maximum": 72.83447998,
                        "required": true
                    },
                    {
                        "name": "ActivismScore",
                        "in": "query",
                        "description": "Activism",
                        "type": "number",
                        "default": 58.94920977,
                        "minimum": 25.85945275,
                        "maximum": 73.66346154,
                        "required": true
                    },
                    {
                        "name": "CommunicationScore",
                        "in": "query",
                        "description": "Communication",
                        "type": "number",
                        "default": 45.05882805,
                        "minimum": 33.10020486,
                        "maximum": 68.98955269,
                        "required": true
                    },
                    {
                        "name": "CommunityAndFaithBasedInitiativesScore",
                        "in": "query",
                        "description": "Community and Faith-Based Initiatives",
                        "type": "number",
                        "default": 21.70335728,
                        "minimum": 12.21375305,
                        "maximum": 90,
                        "required": true
                    },
                    {
                        "name": "EducationScore",
                        "in": "query",
                        "description": "Education",
                        "type": "number",
                        "default": 43.91138195,
                        "minimum": 33.24429069,
                        "maximum": 56.47803694,
                        "required": true
                    },
                    {
                        "name": "EmergencyPreparednessScore",
                        "in": "query",
                        "description": "Emergency Preparedness",
                        "type": "number",
                        "default": 31.60009102,
                        "minimum": 19.78920564,
                        "maximum": 76.07510118,
                        "required": true
                    },
                    {
                        "name": "FamilyServicesScore",
                        "in": "query",
                        "description": "Family Services",
                        "type": "number",
                        "default": 48.56670661,
                        "minimum": 42.66833596,
                        "maximum": 73.35259094,
                        "required": true
                    },
                    {
                        "name": "HealthcareScore",
                        "in": "query",
                        "description": "Healthcare",
                        "type": "number",
                        "default": 47.59926392,
                        "minimum": 29.63020433,
                        "maximum": 62.25876617,
                        "required": true
                    },
                    {
                        "name": "JusticeScore",
                        "in": "query",
                        "description": "Justice",
                        "type": "number",
                        "default": 39.76702077,
                        "minimum": 31.22560175,
                        "maximum": 71.78167536,
                        "required": true
                    },
                    {
                        "name": "LaborScore",
                        "in": "query",
                        "description": "Labor",
                        "type": "number",
                        "default": 45.34910097,
                        "minimum": 36.52332879,
                        "maximum": 53.29715035,
                        "required": true
                    },
                    {
                        "name": "PublicWorksScore",
                        "in": "query",
                        "description": "Public Works",
                        "type": "number",
                        "default": 46.79912673,
                        "minimum": 33.53645478,
                        "maximum": 66.4893089,
                        "required": true
                    },
                    {
                        "name": "ConnectionToNatureDomainWeight",
                        "in": "query",
                        "description": "Connection to Nature relative importance index domain weight",
                        "type": "number",
                        "default": 1,
                        "minimum": 1,
                        "maximum": 5,
                        "required": true
                    },
                    {
                        "name": "CulturalFulfillmentDomainWeight",
                        "in": "query",
                        "description": "Cultural Fulfillment relative importance index domain weight",
                        "type": "number",
                        "default": 1,
                        "minimum": 1,
                        "maximum": 5,
                        "required": true
                    },
                    {
                        "name": "EducationDomainWeight",
                        "in": "query",
                        "description": "Education relative importance index domain weight",
                        "type": "number",
                        "default": 1,
                        "minimum": 1,
                        "maximum": 5,
                        "required": true
                    },
                    {
                        "name": "HealthDomainWeight",
                        "in": "query",
                        "description": "Health relative importance index domain weight",
                        "type": "number",
                        "default": 1,
                        "minimum": 1,
                        "maximum": 5,
                        "required": true
                    },
                    {
                        "name": "LeisureTimeDomainWeight",
                        "in": "query",
                        "description": "Leisure Time relative importance index domain weight",
                        "type": "number",
                        "default": 1,
                        "minimum": 1,
                        "maximum": 5,
                        "required": true
                    },
                    {
                        "name": "LivingStandardsDomainWeight",
                        "in": "query",
                        "description": "Living Standards relative importance index domain weight",
                        "type": "number",
                        "default": 1,
                        "minimum": 1,
                        "maximum": 5,
                        "required": true
                    },
                    {
                        "name": "SafetyAndSecurityDomainWeight",
                        "in": "query",
                        "description": "Safety and Security relative importance index domain weight",
                        "type": "number",
                        "default": 1,
                        "minimum": 1,
                        "maximum": 5,
                        "required": true
                    },
                    {
                        "name": "SocialCohesionDomainWeight",
                        "in": "query",
                        "description": "Social Cohesion relative importance index domain weight",
                        "type": "number",
                        "default": 1,
                        "minimum": 1,
                        "maximum": 5,
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The /calc endpoint uses 22 user-supplied economic, ecosystem, and social services values to calculate eight domains of well-being (Connection to Nature, Cultural Fulfillment, Education, Health, Leisure Time, Living Standards, Safety & Security, and Social Cohesion). These domains of well-being are then weighed based on 8 user-supplied “relative importance values” and are used to determine the overall HWBI score."
                    }
                }
            }
        }
    }
}