<style type="text/css">
.checkbox {
	margin-left: 300px;
}
</style>
<div class="checkbox">
<FORM ACTION="../cgi-bin/mycgi.pl">

<INPUT align="middle" TYPE=CHECKBOX NAME="T-Rex">   T-Rex<BR>
<INPUT TYPE=CHECKBOX NAME="T-Herps">   T-Herps<BR>
<INPUT TYPE=CHECKBOX NAME="TerrPlant">   TerrPlant<BR>
<INPUT TYPE=CHECKBOX NAME="Kabam">   Kabam<BR>
<INPUT TYPE=CHECKBOX NAME="SIP">   SIP<BR>
<INPUT TYPE=CHECKBOX NAME="STIR">   STIR<BR>
<INPUT TYPE=CHECKBOX NAME="DUST">   DUST<BR>
<INPUT TYPE=CHECKBOX NAME="GENEEC">   GENEEC<BR>
<INPUT TYPE=CHECKBOX NAME="PRZM">   PRZM<BR>
<INPUT TYPE=CHECKBOX NAME="EXAMS">   EXAMS<BR>
<INPUT TYPE=CHECKBOX NAME="Rice Model">   Rice Model<BR>
<INPUT TYPE=CHECKBOX NAME="Downstream Dilution Model">   Downstream Dilution Model<BR>
<INPUT TYPE=CHECKBOX NAME="AgDrift">   AgDrift<BR>
<INPUT TYPE=CHECKBOX NAME="PFAM">   PFAM<BR>
<INPUT TYPE=CHECKBOX NAME="SuperPRZM">   SuperPRZM<BR>
<INPUT TYPE=CHECKBOX NAME="SAM">   SAM<P>

</FORM>

</div>