<!--start 05ubertext_links_right-->
<div class="right">
  <div class="urbangreymenu" id="r_menu">

    <h3 class="headerbar">Species</h3>
        <ul>
        	<li><a href="http://cfpub.epa.gov/ncea/cfm/recordisplay.cfm?deid=2799" target="_blank" class="fadeMenu">USEPA Wildlife Exposure Factors Handbook</a></li>
        	<li><a href="http://www.fws.gov/endangered/" target="_blank" class="fadeMenu">USFWS Endangered Species Home</a></li>
            <li><a href="http://www.nmfs.noaa.gov/pr/pdfs/pesticide_biop.pdf" target="_blank" class="fadeMenu">NOAA Pesticide Consultations with the EPA</a>
        	<li><a href="http://tiny.cc/cfr_title50" target="_blank" class="fadeMenu">US e-CFR Endangered Species Lists</a></li>
        	<li><a href="http://epa.gov/espp/" target="_blank" class="fadeMenu">USEPA Endangered Species Protection Program</a></li>
            <li><a href="http://www.epa.gov/oppfead1/endanger/litstatus/effects/redleg-frog/index.html" target="_blank" class="fadeMenu">ESPP Effects Determinations</a>
        	<li><a href="http://www.natureserve.org/" target="_blank" class="fadeMenu">NatureServe Homepage</a></li>
        	<li><a href="http://www.demogr.mpg.de/en/laboratories/evolutionary_biodemography_1171/default.htm" target="_blank" class="fadeMenu">Biodemographic Database(BDD)</a></li>
        	<li><a href="http://www.nmfs.noaa.gov/pr/m" target="_blank" class="fadeMenu">NOAA Fisheries Office of Protected Resources</a></li>
        	<li><a href="http://www.denix.osd.mil/nr/ThreatenedEndangeredandAtRiskSpecies/CandidateSpeciesandSpeciesatRisk.cfm" target="_blank" class="fadeMenu">DoD Endangered Species</a></li>
        	<li><a href="http://plants.usda.gov/threat.html" target="_blank" class="fadeMenu">USDA Endangered Plants Database</a></li>
        	<li><a href="http://www.nature.nps.gov/biology/endangeredspecies/speciesdatabase.cfm" target="_blank" class="fadeMenu">National Park Service T&amp;E Species</a></li>
        	<li><a href="http://tiny.cc/fs_te" target="_blank" class="fadeMenu submenu_last">US Forest Service T&amp;E Species</a></li>
        </ul>

    <h3 class="headerbar">Pesticides</h3>
        <ul>
        	<li><a href="http://epa.gov/pesticides/chemicalsearch" target="_blank" class="fadeMenu">USEPA Pesticide Chemical Search</a></li>
			<li><a href="http://iaspub.epa.gov/apex/pesticides/f?p=101:37:1064840613858601:::37::" target="_blank" class="fadeMenu">EPA Chemical Structure Search</a></li>
        	<li><a href="http://iaspub.epa.gov/apex/pesticides/f?p=PPLS:1:971143646990758" target="_blank" class="fadeMenu">USEPA Pesticide Product Label System(PPLS)</a></li>
        	<li><a href="http://www.epa.gov/oppfead1/endanger/litstatus/effects/" target="_blank" class="fadeMenu">USEPA Pesticides: Endangered Species Protection Program</a></li>
			<li><a href="http://www.epa.gov/oppt/cdr/index.html" target="_blank" class="fadeMenu">USEPA Chemical Data Reporting</a></li>
			<li><a href="http://www.epa.gov/pesticides/foia/reviews.htm" target="_blank" class="fadeMenu">USEPA Pesticide Science Reviews</a></li>
			<li><a href="http://www.epa.gov/oppsrrd1/reregistration/status.htm" target="_blank" class="fadeMenu">USEPA Reregistration Status</a></li>
        	<li><a href="http://npirspublic.ceris.purdue.edu/public.html" target="_blank" class="fadeMenu">NPIRS PPIS database search</a></li>
        	<li><a href="http://www.chemicalize.org" target="_blank" class="fadeMenu">Chemicalize</a></li>
        	<li><a href="http://www.epa.gov/pesticides/PPISdata/index.html" target="_blank" class="fadeMenu">USEPA PPIS files</a></li>
        	<li><a href="http://www.pesticideinfo.org/" target="_blank" class="fadeMenu">PAN Pesticide Database</a></li>
        	<li><a href="http://www.blm.gov/wo/st/en/prog/more/veg_eis.html" target="_blank" class="fadeMenu">BLM Programmatic EIS for herbicide use</a></li>
        	<li><a href="http://www.epa.gov/pesticides/inertfinder/" target="_blank" class="fadeMenu">EPA Inert Finder</a></li>
        	<li><a href="http://www.epa.gov/endo/" target="_blank" class="fadeMenu">USEPA Endocrine Disruptor Screening Program</a></li>
        	<li><a href="http://www.fs.fed.us/foresthealth/pesticide/risk.shtml" target="_blank" class="fadeMenu">US Forest Service Pesticides Risk Assessments</a></li>
            <li><a href="http://pubs.usgs.gov/sir/2013/5009/" target="_blank" class="fadeMenu">County Level Pesticide Use (US)</a></li>
        	<li><a href="http://www.alanwood.net/pesticides/" target="_blank" class="fadeMenu submenu_last">Alan Wood Pesticide page</a></li>
        </ul>

    <h3 class="headerbar">Ecotoxicology</h3>
        <ul>
        	<li><a href="http://cfpub.epa.gov/ecotox/" target="_blank" class="fadeMenu">USEPA ECOTOX</a></li>
        	<li><a href="http://www.epa.gov/oppt/newchems/tools/21ecosar.htm" target="_blank" class="fadeMenu">ECOSAR Ecological Structure-Activity Relationships</a></li>
        	<li><a href="http://www.epa.gov/oppt/sf/tools/pbtprofiler.htm" target="_blank" class="fadeMenu">PBT Profiler</a></li>
        	<li><a href="http://epa.gov/ceampubl/fchain/webice/" target="_blank" class="fadeMenu">Web-ICE</a></li>
        	<li><a href="http://cfint.rtpnc.epa.gov/aster/" target="_blank" class="fadeMenu">ASTER (EPA internal)</a></li>
        	<li><a href="http://www.epa.gov/oppefed1/ecorisk_ders/aquatic_life_benchmark.htm" target="_blank" class="fadeMenu">OPP Aquatic Benchmarks</a></li>
        	<li><a href="http://www.epa.gov/iris/search_keyword.htm" target="_blank" class="fadeMenu">USEPA IRIS advanced search</a></li>
        	<li><a href="http://toxnet.nlm.nih.gov/" target="_blank" class="fadeMenu">NIH TOXNET</a></li>
        	<li><a href="http://www.atsdr.cdc.gov/substances/indexAZ.asp" target="_blank" class="fadeMenu">ATSDR Toxic Substances</a></li>
        	<li><a href="http://extoxnet.orst.edu/ghindex.html" target="_blank" class="fadeMenu">EXTOXNET (Oregon State University)</a></li>
        	<li><a href="http://iaspub.epa.gov/tmdl_waters10/attains_impaired_waters.tmdls?p_pollutant_group_id=885" target="_blank" class="fadeMenu">EPA TMDLs for Pesticides</a></li>
        	<li><a href="http://www.epa.gov/ncct/toxrefdb/" target="_blank" class="fadeMenu">ToxRefDB</a></li>
        	<li><a href="http://actor.epa.gov/actor/faces/ACToRHome.jsp" target="_blank" class="fadeMenu">ACToR</a></li>
        	<li><a href="http://www.epa.gov/ncct/toxcast/" target="_blank" class="fadeMenu submenu_last">ToxCast</a></li>
        </ul>

    <h3 class="headerbar">Crops</h3>
        <ul>
        	<li><a href="http://www.nass.usda.gov/index.asp" target="_blank" class="fadeMenu">USDA National Agricultural Statistics Service</a></li>
        	<li><a href="http://nassgeodata.gmu.edu/CropScape/" target="_blank" class="fadeMenu submenu_last">Cropland Data Layer</a></li>
        </ul>

    <h3 class="headerbar">Models</h3>
        <ul>
        	<li><a href="http://www.epa.gov/pesticides/science/models_db.htm#databases" target="_blank" class="fadeMenu">USEPA Models and Databases</a></li>
        	<li><a href="http://www.epa.gov/athens/wwqtsc/index.html" target="_blank" class="fadeMenu">Watershed and Water Quality Modeling Support Center</a></li>
        	<li><a href="http://www.epa.gov/athens/research/modeling/index.html" target="_blank" class="fadeMenu">USEPA Simulation and Modeling</a></li>
        	<li><a href="http://www.epa.gov/crem/integrated-modeling.html" target="_blank" class="fadeMenu">USEPA CREM Integrated Modeling</a></li>
        	<li><a href="http://iemhub.org/" target="_blank" class="fadeMenu submenu_last">iemHUB</a></li>
        </ul>

    <h3 class="headerbar">Data</h3>
        <ul>
        	<li><a href="http://www.epa.gov/ceampubl/tools/metdata/index.html" target="_blank" class="fadeMenu">USEPA Meteorological Data</a></li>
        	<li><a href="http://infotrek.er.usgs.gov/apex/f?p=NAWQA:HOME:2962939182313603" target="_blank" class="fadeMenu submenu_last">USGS NAWQA</a></li>
        </ul>

    <h3 class="headerbar">Regulations</h3>
        <ul>
        	<li><a href="http://www.epa.gov/lawsregs/laws/esa.html" target="_blank" class="fadeMenu">Endangered Species Act</a></li>
        	<li><a href="http://www.epa.gov/oecaagct/lfra.html" target="_blank" class="fadeMenu">Federal Insecticide, Fungicide, and Rodenticide Act (FIFRA)</a></li>
        	<li><a href="http://www.federalregister.gov/agencies/environmental-protection-agency" target="_blank" class="fadeMenu">Federal Register (EPA)</a></li>
        	<li><a href="http://www.epa.gov/dockets/" target="_blank" class="fadeMenu">EPA Docket Center</a></li>
        	<li><a href="http://137.227.242.131/espp_front/view.jsp" target="_blank" class="fadeMenu submenu_last">Endangered Species Protection Bulletins</a></li>
        </ul>

  </div>
</div>

<!--end 05ubertext_links_right-->
