<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>JChem Web Services 2</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
<!-- 	<context-param> -->
<!-- 	   <param-name>spring.profiles.active</param-name> -->
<!-- 	   <param-value>security-source-embedded,security-http-loginservice</param-value> -->
<!-- 	</context-param> -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>chemaxon.jchem.webservice2.LoggerInitializer</listener-class>
	</listener>
<!-- 	<filter> -->
<!-- 		<filter-name>cross-origin</filter-name> -->
<!-- 		<filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class> -->
<!-- 	</filter> -->
	<filter>
		<filter-name>continuation</filter-name>
		<filter-class>org.eclipse.jetty.continuation.ContinuationFilter</filter-class>
	</filter>
	<filter>
		<filter-name>gzip</filter-name>
		<filter-class>org.eclipse.jetty.servlets.GzipFilter</filter-class>
	</filter>
<!-- 	<filter> -->
<!-- 		<filter-name>nocache</filter-name> -->
<!-- 		<filter-class>chemaxon.jchem.webservice2.util.NoCacheFilter</filter-class> -->
<!-- 	</filter> -->
	<filter>
		<filter-name>responseCachingFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter>
	   <filter-name>licenseHelperFilter</filter-name>
	   <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>gzip</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>nocache</filter-name> -->
<!-- 		<url-pattern>/rest-v0/*</url-pattern> -->
<!-- 	</filter-mapping> -->
	<filter-mapping>
		<filter-name>responseCachingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>licenseHelperFilter</filter-name>
		<servlet-name>jersey-jaxrs</servlet-name>
	</filter-mapping>
<!-- 	<servlet> -->
<!-- 		<servlet-name>default</servlet-name> -->
<!-- 		<servlet-class>org.mortbay.jetty.servlet.DefaultServlet</servlet-class> -->
<!-- 		<init-param> -->
<!-- 			<param-name>useFileMappedBuffer</param-name> -->
<!-- 			<param-value>false</param-value> -->
<!-- 		</init-param> -->
<!-- 		<load-on-startup>0</load-on-startup> -->
<!-- 	</servlet> -->
	<servlet>
		<description>Jersey services</description>
		<servlet-name>jersey-jaxrs</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
			<param-value>com.chemaxon.connect.common.jersey.GsonJsonProvider;chemaxon.jchem.webservice2.util.RestServiceFilter</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
			<param-value>com.chemaxon.connect.common.jersey.GsonJsonProvider;chemaxon.jchem.webservice2.util.RestServiceFilter</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>index</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>docs</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
<!-- 	Jersey web services -->
	<servlet-mapping>
		<servlet-name>jersey-jaxrs</servlet-name>
		<url-pattern>/rest-v0/*</url-pattern>
	</servlet-mapping>
	
<!--  Spring MVC controllers -->
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>docs</servlet-name>
		<url-pattern>/apidocs/*</url-pattern>
	</servlet-mapping>
	
<!--  Static resources -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/docs/*</url-pattern>
		<url-pattern>/src/*</url-pattern>
		<url-pattern>*.ico</url-pattern>
	</servlet-mapping>
	
<!--  Dynamic resources -->
	<servlet-mapping>
		<servlet-name>jsp</servlet-name>
		<url-pattern>/docs/gettingstartedguide.html</url-pattern>
		<url-pattern>/docs/gettingstartedguide-reactor.html</url-pattern>
		<url-pattern>*.jsp</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
</web-app>
