.service-status h4 {
    background-color: #0071bc !important;
}

.service-status {
    width: 20%;
    float:right;
    margin-left:2%;
}

.status_list_block {
    border: 1px solid #0071bc;
    border-bottom: 4px solid #0071bc;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 1px;
}

.source_title {
    float: left;
    position: relative;
    width: fit-content;
}

.status_element {
    float: right;
    position: relative;
    width: fit-content;
}

.status_block {
    position: relative;
    display: inline-block;
    width: 50%;
    margin-left: 25px;
    font-size:small;
}

.pending {
    background-color:gray;
}

.down {
    background-color: #ef0000;
}

.up {
    background-color:green;
}

.status_dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 5px;
}

.pending_pulse {
    border: 3px solid gray;
    -webkit-border-radius: 30px;
    height: 25px;
    width: 25px;
    position: absolute;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0;
    top: -2px;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.update_time, .update_timestamp {
    font-size: small;
    text-align: center;
}

.tick {
    display: block;
    color: white;
    font-weight: bold;
    margin: -1px auto 0 auto;
    text-align: center;
}

.notick {
    display: block;
    color: white;
    font-weight: normal;
    text-align: center;
    margin: -3px auto 0 auto;
}