#block-pane-epa-web-area-connect {
    float: right;
}

#block-og-menu-og-single-menu-block {
    /*border-right: solid #c5c5c5 1px !important;*/
    padding: 10px;
}

#links-left .headerbar {
    padding: 0.3em 0 0.3em 0.5em !important;
    margin: 0.8em 0 0.3em 0 !important;
    background: transparent none !important;
    color: black !important;
}

#links-left .menu-link {
    padding: .35em .5882em .35em .8235em !important;
}

#links-left .home-link {
    padding: .25em .5882em .25em .25em !important;
}

.menu-item {
    border-top: none !important;
}

.menu-item-last {
    border-bottom: none !important;
}

.menu-item h3 {
    margin-bottom: 0 !important;
    margin-top: 10px !important;
}

.docs-no-link {
    margin-left: 3px;
}

.region-sidebar {
    float: left;
    /*position: absolute;*/
}

.input_nav ul li {
    background: transparent !important;
}

.main-column {
    width: 75% !important;
    float: right;
    padding: 10px;
}

.menu-item-home {
    border-left: none;
    padding: 1px 0 1px 1px;
}

.menu-item-home a {
    padding: 5px !important;
}

.menu-item-home a h3 {
    padding: 0 !important;
}

.region-highlighted {
    margin: 0 -1em 1.5em !important;
}

.exit-disclaimer {
    background-color: #aeb0b5;
    border-radius: 3px;
    color: #323a45 !important;
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 .3333333333em;
    padding: .0666666667em .4666666667em;
    text-decoration: none;
    text-transform: uppercase;
}

.disclaimer-banner {
    font-size: 70.5882%;
    margin: 0 auto;
    padding: .5em 6.5em .5em 3.66667em;
    position: relative;
    text-align: center;
    background: #ef0000;
    color: white;
    font-weight: bold;
}
.disclaimer-block {
    padding-bottom: 0;
    margin: 0;
    word-wrap: break-word;
}

.description_subblock {
    /*text-align:left !important;*/
}

.description_subblock h4{
    text-align:center !important;
}

.input_table {
    width: 80%;
    margin: 0 auto;
}

.input_nav {
    width: 80%;
    margin: 5px auto;
}

.input_left {
    float: left;
}

.input_right {
    float: right;
}

.input_left ul {
    padding-left: 1em;
}

.input_left ul li {
    float: left;
    margin-left: 0 !important;
    margin-right: 5px !important;
}

.input_right ul {
    padding-right: 1em;
}

#block-ds-extras-web-area-highlighted {
    float: left;
    width: 100%;
    display: flex;
}

/*#component_tabs {*/
/*    border: none !important;*/
/*    text-align: center;*/
/*}*/

/*#component_tabs ul {*/
/*    background: none !important;*/
/*    list-style: none;*/
/*    padding: 0;*/
/*    margin: auto 0 0 0;*/
/*    display: contents;*/
/*}*/

/*#component_tabs ul li.ui-tabs-active {*/
/*    border: none;*/
/*    background: #0071f1;*/
/*}*/

/*#component_tabs ul li {*/
/*    background: none;*/
/*    margin: 1px 2px 0 2px;*/
/*    padding: 0.5em 0.5em;*/
/*    list-style: none;*/
/*    float: none;*/
/*    display: inline-block;*/
/*}*/

/*#component_tabs ul li.ui-tabs-active a {*/
/*    cursor: pointer;*/
/*}*/

/*#component_tabs ul li a {*/
/*    line-height: 1.5em;*/
/*    font-weight: bold;*/
/*    display: block;*/
/*    font-size: small;*/
/*}*/

/*#component_tabs ul li:hover {*/
/*    cursor: pointer;*/
/*    background: #0071f1;*/
/*    opacity: 0.7;*/
/*}*/

/*#component_tabs ul li a:focus {*/
/*    box-shadow: none;*/
/*}*/

.subpage_block {
    border-bottom: 1px solid black;
    margin-bottom: 25px;
    padding-bottom: 15px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.subpage_link {
    background: none !important;
    float: left;
    padding: 10px 15px;
    display: inline-block;
    text-align: center !important;
    width: 25%;
    font-size: large;
    margin: 0 !important;
}
.active_page {
    font-weight: 800;
    background: #f1f1f1 !important;
}

.toc {
    padding-top: 10px;
    padding-bottom: 25px;
}

.toc_ul {
    margin: 0 0 0 50px !important;
    width: fit-content;
    display: block !important;
}

.toc_li {
    background: none !important;
    list-style-type: disc !important;
    padding-left: 5px !important;
}

.toc_li a {
    color: #0071f1;
}

.toc_p {
    text-align: left;
    margin: 0;
}

.overview_subtab {
    width: 100%;
    border-top: 1px solid black;
    padding-top: 20px;
    text-align: center;
}

#data_request_tab {
    margin-top: 35px;
}

#data_retrieve_tab {
    margin-top: 50px;
    border-top: 1px solid black;
    padding-top: 25px;
    text-align: center;
}

.input_table {
    display: table;
    /*border-left: solid #c5c5c5 1px;*/
    /*border-right: solid #c5c5c5 1px;*/
    /*border-bottom: solid #c5c5c5 1px;*/
}

.table_header {
    font-weight: bold;
    background: #f1f1f1;
}

.table_header div{
    font-size: small;
}

.input_table_row {
    display: table-row;
    width: 100%;
}

.input_table_key {
    display: table-cell;
    width: 25%;
    float: left;
    padding: 4px 2px 4px 10px;
    font-size: small;
    text-align: left;
}

.input_table_value {
    display: table-cell;
    width: 65%;
    float: left;
    padding: 4px 2px 4px 10px;
    font-size: small;
    text-align: left;
}

.input_table_comment {
    display: table-cell;
    width: 40%;
    float: left;
    padding: 4px 2px 4px 10px;
    font-size: x-small;
    text-align: left;
}

.input_table_value input {
    padding-left: 4px;
    width: 75%;
}

.input_button {
    padding: 0.5em !important;
    font-size: smaller !important;
}

/*#output_data_block {*/
    /*margin: 25px 0;*/
    /*width: 100%;*/
/*}*/

/*#output_data_block_table {*/
    /*width: 100%;*/
    /*margin-top: 25px;*/
/*}*/

#output_data {
    margin: 0 auto;
    /*width: 500px;*/
    /*height: 300px;*/
    /*width: 100%;*/
    /*height: 500px;*/
    /*float: left;*/
}

#output_data div {
    /*width: 500px !important;*/
    /*height: 300px !important;*/
    /*height: 320px;*/
    /*width: 100% !important;*/
}

#output_loading {
    display: none;
    width: 110%;
    height: 100%;
    margin: 0 -45px;
    background: white;
    opacity: 0.95;
    z-index: 9999999;
    position: absolute;
}

#stats_block {
   padding-top: 15px;
}

.loading_icon {
    border: 7px solid #c5c5c5;
    border-top: 7px solid #0071f1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin .8s linear infinite;
    float: left;
}

#load_message {
    color: red;
    text-align: center;
}
#output_loading {
    display: none;
    width: 75%;
    height: 75%;
    background: white;
    opacity: 0.95;
    z-index: 9999999;
    position: absolute;
    margin: 0 auto;
    text-align: center;
}

#loading_msg {
    text-align: center;
    font-size: large;
    margin-top: 25px;
    font-weight: bold;
}

#loader_box {
    display: inline-block;
    margin-top: 35px;
}

#loader{
    border: 7px solid #c5c5c5;
    border-top: 7px solid #0071f1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin .8s linear infinite;
    float: left;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#output_title {
    text-align: center;
    margin-top: 15px;
}
.output_title {
    text-align: center;
}

.hidden {
    display: none !important;
}

#output_data_save_block {
    padding: 0 25px;
    text-align: center;
    height: 50px;
    display: none;
}

#output_data_save_json{
    width: 50%;
    float: left;
    padding-right: 10px;
}

#output_data_save_json a {
    padding: 4px 7px;
    background: #0071f1;
    color: white;
    border-radius: 3px;
    vertical-align: middle;
    float: right;
}

#output_data_save_json a:hover {
    cursor: pointer;
    background: #0071f1;
    opacity: 0.7;
}

#output_data_save_csv {
    width: 50%;
    float: left;
    padding-left: 10px;
}

#output_data_save_csv a {
    padding: 4px 7px;
    background: #0071f1;
    color: white;
    border-radius: 3px;
    vertical-align: middle;
    float: left;
}

#output_data_save_csv a:hover {
    cursor: pointer;
    background: #0071f1;
    opacity: 0.7;
}

#load_page {
    width: 100%;
    background: white;
    z-index: 99999;
    height: 100%;
    position: absolute;
    margin-left: -25px;
}

#overview_tab p {
    /*text-align: left;*/
}

#overview_tab a{
    color: #0071f1;
}

.google-visualization-table * {
    text-align: center;
}

.google-visualization-table-td.google-visualization-table-type-number {
    text-align: center;
}

#overview_block div {
    border: none !important;
    text-align: center;
}

#overview_block p, h4, ol, li{
    text-align: left;
}

.overview_subblock table{
    font-size: 14px;
    width: 100%;
}

.github_link {
    text-align: center !important;
}

#data_tab_task_id * {
    text-align: center !important;
}

#data_tab_task_id label {
    display: inline-block !important;
}

#previous_tasks * {
    text-align: center !important;
}

#previous_tasks {
    display: inline-block;
}
.previous_task_id {
    text-decoration: underline;
    padding: 0 25px;
    color: #0071f1;
}
.previous_task_id:hover {
    cursor:pointer;
    background: #f1f1f1;
}
.previous_task_time {
    float: left;
}

.input_disclaimer {
    font-size: small;
    text-align: center;
    margin: 10px 0;
    color: #0071f1;
    font-weight: 600;
}

.ui-state-active {
    font-weight: bold !important;
}

.output_metadata_title {
    text-align: center;
}