#map {
    width: 80%;
    height: 750px;
    float: left;
}

#workflow-inputs {
    width: 20%;
    float: right;
    padding: 0 5px;
    display: none;
}

#workflow-inputs div {
    height: auto !important;
}

.main-column {
    width: 98% !important;
    padding-left: 12% !important;
}

#basemaps-wrapper {
    background: white;
    padding: 10px;
    width: 100%;
    float: left;
    border: none;
}

* {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
}

.box > .pane-content {
    padding: 0 !important;
    z-index: 10;
}

.side-nav-div {
    position: absolute !important;
    z-index: 0;
    width: auto !important;
}

#huc_table_title {
    padding: 10px 0 10px 10px;
}

#huc_table_title > label {
    float: left;
    padding-right: 10px;
}

#startup-div {
    position: absolute;
    width: 100%;
    height: 850px;
    background: white;
    z-index: 99999;
}

#loading-div {
    position: absolute;
    width: 100%;
    height: 850px;
    background: white;
    z-index: 99999;
    opacity: 0.4;
    display: none;
}

#loading {
    margin-left: 35%;
    margin-top: 15%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.input-error {
    color: red;
    font-size: 12px;
}

.ui-datepicker {
    z-index: 999 !important;
    width: auto !important;
}

#inputSearchBlock {
    display: none;
    float: left;
    margin-left: 25px;
}

#data-request {
    width: 20%;
    text-align: center;
    float: right;
}

#data-request-button {
    margin-top: 1em;
}

#data-request-messages {
    margin: 10px;
    text-align: center;
}

#inputLayer {
    float: left;
    margin-bottom: 10px;
}

#inputSearch {
    float: left;
    margin-left: 5px;
}

#inputSearchBlock label {
    float: left;
}

#data-display{
    display: none;
    position: absolute;
    background: white;
    height: auto;
    padding: 15px;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    float: right;
    text-align: center;
    z-index: 9999;
    right: 25%;
    margin-top: 5%;
    width: 50%;
}

#data-display-exit {
    float: right;
    padding: 10px;
    text-decoration: none;
}

#data-display-exit:hover {
    cursor: pointer;
    font-weight: bold;
}

#metadata-table {
    padding: 10px;
}

#data-table {
    padding: 10px;
}

#data-display-button-div {
    display: none;
}