#inputData_P {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    font-size: 10px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}

h4 {
    color: black !important;
    font-weight: bold;
}

#collapsing-div div {
    /*height: 100% !important;*/
    display: inherit;
}

#dayTable {
    font-size: 10px;
}

#klTable {
    font-size: 10px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}