/*-- Results charts */
.chart rect {
  fill: #0a66a5;
}
.chart:hover {
  fill: #0b90e1;
}
.axis--x path {
  display: none;
}
.nav {
background-color: #f5f5f5 !important;
}
.nav>li>a {
    background-color: #0a66a5 !important;
    color: #fff;
}