body {
	font-family: sans-serif;
	margin-left: 20px;
}
h1 {
	text-align: center;
}

pre {
	padding: 30px;
	font-family: courier;
}

input {
	border: 1px solid;
}

iframe{
	border:none;
	padding: 0px;
	margin: 0px;
    box-shadow: 2px 2px 8px #888;
}

select {
	border: 1px solid;
}

textarea {
	font-family: monospace;
}

.sketcher-frame {
	min-width: 500px;
	min-height: 450px;
	height: 100%;
	width: 100%;
}

.resizable{
	border: none;
	padding: 8px;
	margin: 0px;
	resize: both;
	min-width: 500px;
	min-height: 450px;
	overflow: auto;
	background-color: transparent;
}

ul.horizontalmenu {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 6px;
	background-color: #dddddd;
}
ul.horizontalmenu li {
	display: inline; 
	list-style-type: none;
	padding-right: 6px;
}


