html {
	background: #fafafa;
}
body {
	margin: 0 20px;
	background: #fff;
	padding: 20px 20px;
	color: #111;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
}

a {
	color: #4e88d8;
}
a:visited {
	color: #551a8b;
}

h1 {
	font-size: 24px;
	font-weight: normal;
	color: #111;
	margin: 25px 0 20px;
	border-top: 1px solid #eee;
	padding-top: 15px;
}

h2 {
	font-size: 21px;
	font-weight: normal;
	color: #111;
	margin: 20px 0 18px;
	border-top: 1px solid #eee;
	padding-top: 13px;
}

h3 {
	font-size: 18px;
	font-weight: normal;
	color: #111;
	margin: 22px 0 16px;
}

h4, h5, h6 {
	font-size: 14px;
	font-weight: bold;
	color: #111;
	margin: 20px 0 10px;
}

form input[type="button"] {
	font-size: 13px;
	font-weight: normal;
	padding: 0.5em 0.9em;
	border-radius: 1px;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	background-color: #4982d8;
	color: #fff;
	border: 1px solid #4982d8;
}
form input[type="button"]:hover {
	background-color: #2a67c4;
}

fieldset{
	border:0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-before: 0em;
	-webkit-padding-start: 0em;
	-webkit-padding-end: 0em;
	-webkit-padding-after: 0em;
}

input.url[type="text"], input#baseurl[type="text"], div.output_div, div.params_div {
	font-size: 13px;
	width: 650px;
	max-width: 80%;
	border: 1px solid #d3d3d3;
	background: #f8f8f8;
	color: #181818;
}
div.output_div {
	background: #f1f1f1;
}
div.error{
	background: #F2C2C2;
}
input.url[type="text"], input#baseurl[type="text"]{
	padding: 0.5em;
}
div.output_div, div.params_div{
	margin: 0 0 0.3em 0;
	padding: 0 0.5em;
}
input[type="text"]:hover, div.output_div:hover, div.params_div:hover {
	border-color: #bbb;
}
div.output_div, div.params_div {
	display: block;
}
label {
	display: block;
	margin: 10px 0 5px;
}

code {
	color: #060;
}

p + small {
	display: block;
	margin: -10px 0 10px;
}

small {
	color: #8a8a8a;
}

small + * {
	margin-top: 0;
}

hr {
	margin: 10px 0 30px;
}

pre {
	overflow-x: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
	margin-bottom: 4px;
	text-align: left;
}

th {
	padding: 6px 10px;
	background: #f3f3f3;
	border: 1px solid #cdd0d1;
}

td {
	padding: 6px 10px;
	border: 1px solid #bbb;
	vertical-align: top;
	background: #fff;
}

ul {
	padding-left: 25px;
}

li {
	margin-bottom: 1px;
}
li:last-child {
	margin-bottom: 0;
}

.warning {
	background: transparent url('warning.png') no-repeat top left;
	min-height: 27px;
	padding-left: 43px;
	color: #dd4b39;
}


/* ace editor overrides */
.ace-tm .ace_marker-layer .ace_active-line {
	background: transparent none;
}

.ace_scrollbar {
	overflow-y: auto;
}
table.title_header {
	width: 100%;
}
td.title_header {
	background: #f3f3f3;
	border: 1px solid #cdd0d1;
}
td.title_text {
	font-size: 24px;
	font-weight: normal;
	color: #111;
}
td.login_info {
	text-align: right;
	vertical-align: center;
}
div#dialog-form { 
	font-size: 80%; 
}
