#ImgTable{
	margin: 0;
	padding: 0 10px;  
}

.column {
	position: relative;
	float: left;
	border: #000 solid 1px;
}

#logo { 
	padding-top: 10px;
	width: 60px;
	float: left;
 }

#noscript
{	
	position: relative;
	margin: 20px 0 20px 151px; 
	padding: 0 5px;
}

#noscript p#areafooter
{	clear: both;
	text-align: center;
	font-size: 0.85em;
	padding: 20px 0 0; }

#content {
	padding: 0 5px;
}

#content li { 
	list-style-type: none;
}
		
.Aquatic{
	padding: 10px;
	min-width: 125px;
	margin-right: 17px;
	float: left;
	text-align : center;
}

.Wildlife {
	min-width: 125px;  
	padding: 10px;  
	float: right;
	text-align : center;
}

.Aquatic ul { margin-right: 35px; }
		  
.Wildlife ul { margin-right: 35px; }
		  
#links {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}
	
.linkBox {
	border-bottom: 1px #000 solid;
	background-color: #DFE2EF;
	font-weight: bold;
	text-align: center;
	font-size : 16px;
}	 
	
#footer {
	clear: both;
}

.title { 
	font-weight : bold;
 }
 
#fileType { 
	text-align: center;
	min-width: 310px;
}

#surrSpecies { 
	/*text-align: center;*/
	margin-left: 150px;
	font-size : 14px;
	padding: 3px;
 }

#predSpecies {
	/*text-align: center;*/
	margin-left: 150px;
	font-size : 14px;
	padding: 3px;
	padding-bottom: 10px;
}

#modelData { 
	padding-top: 10px;
	padding-right: 4px;
 	float: left;
	margin-left: -10px;
}
 
#graphImage { 
	padding-top: 10px;
	margin-right: -15px;
}
  
#predictedTox {
	text-align : center;
}
  
#upperLimit {
	text-align : center;
}
  
#lowerLimit {
	text-align : center;
}
   
.SpeciesList {
	padding: 0;
	margin: 0;
}
   
.SpeciesList li {
	list-style-type: none;
	list-style-image: none;
}
		 

.outsideRange { color: #FF0000; }
.greyedOut { color: #AAAAAA; }
.greyedOut td.outsideRange { color: #AAAAAA;}
.centeredData { 
	/*text-align: center;*/
	margin-left: 80px;
	font-size : 14px;
	padding: 3px;
}

.dataTable {
	border: 1px #000 solid;
	padding: 2px;
	margin: 2px;
}

#tneResults td {
	padding: 4px;
}

#tneResults th {
	font-weight: bold;
}	

body.wide #content{border-width:10px 0; width:95%;}

#filtertable {
	border: 1px solid black;
}

#filtertable td {
	padding-left: 3px;padding-right: 3px;
}

#filtertable th {
	font-weight: bold;
	text-align: center;
}

#areafooter {
	position: absolute;
	bottom: 0;
}

#ssdResults td {padding-left:7px;}	