<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>&uuml;bertool API - 404 Error</title>
  <link rel="icon" type="image/png" href="/static/api/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/static/api/images/favicon-16x16.png" sizes="16x16" />
  <link href='/static/api/css/typography.css' media='screen' rel='stylesheet' type='text/css'/>
  <link href='/static/api/css/reset.css' media='screen' rel='stylesheet' type='text/css'/>
  <link href='/static/api/css/screen.css' media='screen' rel='stylesheet' type='text/css'/>
  <link href='/static/api/css/reset.css' media='print' rel='stylesheet' type='text/css'/>
  <link href='/static/api/css/print.css' media='print' rel='stylesheet' type='text/css'/>
</head>
<body class="swagger-section">
  <div id='header'>
    <div class="swagger-ui-wrap">
      <a id="logo" href="/api">&uuml;bertool API</a>
    </div>
  </div>
  <div id="swagger-ui-container" class="swagger-ui-wrap">
    <div class="info" id="api_info" style="padding-top: 80px;">
      <div class="info_title">You Found an Error!</div>
      <img src="/static/weekend-update-high-five.gif">
    </div>
  </div>
</body>
</html>