#test-graph-1 {
    padding: 10px;
}

#test-graph-2 {
    padding: 10px;
}

#dataTableDiv {
    padding: 10px 0;
    /*height: auto;*/
}

#metaTableDiv {
    padding: 10px 0;
    /*height: auto;*/
}

.ui-state-active {
    background: #007fff !important;
}

#updatePlot {
    float:right;
}
