#setChartAxies {
    width: 80%;
    margin: 0 auto;
}

#setChartAxies label, input {
    display: inline-block;
}

#setChartAxies label {
    width: 30%;
    text-align: right;
}

#setChartAxies label + select {
    width: 30%;
    margin: 0 30% 0 4%;
}

#setChartAxies button {
    float: right;
}