@media only screen and (max-width: 768px){
    #disc-tabs ul li a {
        font-size: smaller;
    }

    .about_search form button {
        margin: -41px 20.4% 0 0;
    }

    .domain-icon {
        /*height: 14% !important;*/
        width: 14% !important;
        font-size: 12px !important;
        display: table-header-group;
    }

    .search_block form label {
        font-size: 16px;
    }
}

@-moz-document url-prefix() {
    .about_search form {
        display: block;
    }
    .search_block form {
        display: block;
    }

    .about_search form button {
        /*margin: 0 0 0 -45px !important;*/
    }
    .search_block form button {
        /*margin: 0 0 0 -45px !important;*/
    }
}

/*Contact Us*/

#block-pane-epa-web-area-connect {
    float: right;
}

#hwbi-intro {
    border-top: 3px #183E62 solid;
    font-size: 16px;
    padding: 25px 20px;
    font-weight: normal;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

/* DISC MENU */
#disc-tabs {
    border: none;
    width: 101%;
    opacity: 0;
}

#main-tab-nav {
    border: none;
    background: none;
    height: 2.35em;
    text-align: center;
    width: 100%;
    display: flex;
    margin-bottom: 40px;
}

#main-tab-nav li {
    width: 20%;
    list-style: none;
    background-color: #235A8E;
    height: 4em;
    float: none;
    text-align: center;
    border-radius: 15px 15px 0 0;

}

#main-tab-nav li:hover {
    background-color: #183E62;
    cursor: pointer;
}

.selected-tab {
    background-color: #183E62 !important;
    cursor: default !important;
}

.selected-tab a {
    cursor: default !important;
}

#main-tab-nav li a {
    color: white;
    float: none;
    display: inline-block;
    padding: 25px 5px 5px 5px;
    text-decoration: none;
    width: 100%;
}

#main-tab-nav li a:hover {
    cursor: pointer;
}

*:focus {
    box-shadow: none !important;
    outline: none !important;
}

.disc-body {
    display: none;
    padding: .5em .5em 0 0 !important;
    height: auto !important;
}

/* ABOUT SEARCH */
.about_search {
    margin: 0 3px;
    padding: 10px;
    display: table;
    text-align: center;
    width: 99%;
    max-width: 99%;
    height: 250px;
    background-color: #7DAED3;
}

.about_search form {
    /*padding-top: 50px;*/
    position: absolute;
    width: 100%;
    display: table;
    padding: 50px 10% 0 10%;
}

.about_search form input {
    /*width: 80%;*/
    width: 100%;
    line-height: 2;
    border: 4px #44546A solid;
    border-radius: 10px;
    /*height: 0;*/
    /*padding: 18px 0 18px 10px;*/
    height: 44px;
    padding-left: 10px;
    vertical-align: middle;
    font-size: 18px;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    display: table-cell;
    position: relative;
}

.about_search form input:focus {
    outline-width: 0;
}

.about_search form label {
    float: left;
    /*padding-left: 10%;*/
    font-size: 26px;
}

.about_search form #search_placeholder, .about_search form #stateform_placeholder {
    float: left;
    /*padding-left: 10%;*/
    font-size: 18px;
}

.about_search form button {
    width: 0;
    margin: -41px 3px 0 0;
    height: 0;
    border-radius: 0 6px 6px 0;
    position: relative;
    line-height: 2;
    /*vertical-align: middle;*/
    padding: 18px 26px 18px;
    border-top: 1px #44546A solid;
    border-right: 1px #44546A solid;
    border-bottom: 1px #44546A solid;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    float: right;
}

/* QUOTE BODY*/
.quote {
    display: none;
    color: white;
    transition: none;
    -webkit-transition: none;
    font-style: italic;
    font-size: 18px;
}

.quote_author {
    font-style: normal;
    float: right;
    margin-top: 10px;
}

#quote_body {
    background-color: #183E62;
    margin: 3px 3px 0 3px;
    padding: 15px 15px 15px 25px;
    display: table;
    text-align: left;
    width: 100%;
    max-width: 100%;
    height: 250px;
    font-size: 28px;
}

/* COMMUNITY SEARCH */
.search_block {
    margin: 0 3px;
    padding: 10px;
    display: table;
    width: 99%;
    max-width: 99%;
    height: 100px;
    background-color: #7F7F7F;
}

.search_block form {
    position: absolute;
    width: 100%;
    padding: 0 10px;
    /*padding-left: 5px;*/
    display: table;
}

.search_block form input {
    width: 80%;
    line-height: 2;
    border: 4px #44546A solid;
    border-radius: 10px;
    /*height: 0;*/
    /*padding: 18px 0 18px 10px;*/
    height: 44px;
    padding-left: 10px;
    vertical-align: middle;
    font-size: 18px;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    display: table-cell;
    position: relative;
}

.search_block form input:focus {
    outline-width: 0;
}

.search_block form label {
    float: left;
    font-size: 18px;
    padding-left: 5px;
}

.search_block form #search_placeholder, .search_block form #stateform_placeholder {
    float: left;
    font-size: 12px;
}

.search_block form #search_error_notification {
    float: left;
    font-size: 12px;
    font-weight: bold;
    display: none;
    color: white;
    text-shadow: 1px 1px black;
}

.about_search form #search_error_notification {
    float: left;
    font-size: 18px;
    font-weight: bold;
    display: none;
    color: white;
    text-shadow: 1px 1px black;
}

.search_block form button {
    width: 0;
    margin: -41px 20.4% 0 0;
    height: 0;
    border-radius: 0 6px 6px 0;
    position: relative;
    line-height: 2;
    vertical-align: middle;
    padding: 18px 26px 18px;
    border-top: 1px #44546A solid;
    border-right: 1px #44546A solid;
    border-bottom: 1px #44546A solid;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    float: right;
}

#county-state-select {
    padding: 8px;
    width: 50%;
}

.report_pdf_button {
    display: none;
}

#report_pdf {
    float: right;
    border-color: #44546A;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    margin: 28px 5px 0 0;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    z-index: 1;
    width: 15%;
}

#report_pdf:hover {
    background-color: #235A8E;
    color: white;
}

/* SNAPSHOT BODY */
#results_body {
    position: relative;
}

#snapshot_results {
    position: absolute;
}

#wellbeing-scores {
    float: right;
    width: 66%;
}

/*Score Graph*/
#score_graph_div {
    background: url('/static_qed/hwbi/disc/img/rainbow_need_to_replace.png') no-repeat;
    height: 83px;
    position: relative;
    width: 145px;
    z-index: 1;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 75px;
}

#wellbeing-score {
    color: #36bc28;
    font-size: 42px;
    line-height: 3.125rem;
    font-weight: 700;
    margin: 0;
    padding: 33px 0 0;
    text-align: center;
}

.score_indicator {
    display: block;
    height: 80px;
    left: 33px;
    position: absolute;
    top: 32px;
    -ms-transform: rotate(0deg) skew(45deg, -45deg);
    -webkit-transform: rotate(0deg) skew(45deg, -45deg);
    transform: rotate(0deg) skew(45deg, -45deg);
    width: 79px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    z-index: 9;
}

.score_indicator:before {
    background: #ffffff;
    content: " ";
    display: block;
    height: 10px;
    margin: 3px;
    position: absolute;
    width: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

/*Results*/
#snapshot_results {
    height: 500px;
    width: 33%
}

#hwbi-score {
    float: left;
    width: 100%;
    height: 100%;
}

#location {
    padding: 15px 10px;
    text-align: center;
    font-weight: bold;
}

#wellbeing-score-scale, #wellbeing-score-location {
    padding-bottom: 0;
    width: 100%;
    font-size: 14px;
    white-space: nowrap;

}

#hwbi-info p {
    font-size: 14px;
    text-align: center;
}

#hwbi-info h4 {
    text-align: center;
}

#wellbeing-scores {
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    padding-left: 25px;
}

#wellbeing-scores h3 {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    color: #235A8E;
    float: left;
    font-size: 24px;
}

#rank_btn {
    margin: 0 0 0 50px;
    background-color: #A6A6A6;
    font-size: 16px;
    float: right;
}

#rank_btn:hover {
    background-color: #949494;
}

#domain-scores {
    margin-top: 25px;
    width: 100%;
    float: right;
}

.domain-score-block {
    margin-bottom: 20px;
}

.domain-expand {
    float: left;
    margin: 0 25px 0 0;
    border-radius: 50%;
    background-color: #70AD47;
    height: 25px;
    width: 25px;
    padding: 0;
}

.domain-expand:focus {
    background-color: #70AD47;
}

.domain-expand:hover {
    background-color: #568536;
}

.accordion {
    background-color: #70AD47;
    cursor: pointer;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active {
    background: red;
}

.active:focus {
    background: red;
}

.accordion:after {
    content: '\002b';
    font-size: 15px;
    color: white;
    text-align: center;
    display: block;
}

.active:after {
    content: "\2212";
}

.domain-title, .domain-score {
    float: left;
    margin-right: 10px;
    font-size: 18px;
}

.domain-data-title {
    float:left;
    padding: 0 10px;
}

.domain-location {
    float: right;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
}

.domain-score-bar {
    position: relative;
    display: flex;
    margin-bottom: 5px;
    margin-right: 15%;
    margin-left: 15%;
    padding: 3px;
    width: 70%;
    background: #DDDDDD;
    height: 24px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.score-bar {
    height: 18px;
    width: 0;
    background: #6adcfa;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
}

.nature-bar {
    background-color: #82AC45;
}

.cultural-bar {
    background-color: #998FE4;
}

.education-bar {
    background-color: #D59B2D;
}

.health-bar {
    background-color: #5598C3;
}

.leisure-bar {
    background-color: #DC4B60;
}

.living-std-bar {
    background-color: #269683;
}

.safety-bar {
    background-color: #606060;
}

.cohesion-bar {
    background-color: #E5632E;
}

.domain-description {
    display: none;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    margin-bottom: 20px;
    padding: 10px 0;
}

.slider-block {
    display: none;
    width: 100%;
    position: relative;
    height: 30px;
    /*margin-top: 15px;*/
    padding-left: 50px;
}

.slider-title {
    width: 50%;
    float: left;
    display: inline-block;
    position: relative;
    padding-right: 25px;
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
}

.slider-container {
    width: 50%;
    display: block;
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    float: left;
}

.left-slider-legend {
    float: left;
}

.right-slider-legend {
    float: left;
}

.rank-slider span {
    border: none !important;
    box-shadow: 1px 1px grey;
}

#nature-slider-bar {
    background-color: #82AC45;
}

#nature-slider-bar span {
    background-color: #82AC45;
    width: 15px;
}

#nature-slider-bar span:active {
    background-color: #779E3F;
    box-shadow: 1px 1px grey;
}

#cultural-slider-bar {
    background-color: #998FE4;
}

#cultural-slider-bar span {
    background-color: #998FE4;
    width: 15px;
}

#cultural-slider-bar span:active {
    background-color: #877EC9;
    box-shadow: 1px 1px grey;
}

#education-slider-bar {
    background-color: #D59B2D;
}

#education-slider-bar span {
    background-color: #D59B2D;
    width: 15px;
}

#education-slider-bar span:active {
    background-color: #B28226;
    box-shadow: 1px 1px grey;
}

#health-slider-bar {
    background-color: #5598C3;
}

#health-slider-bar span {
    background-color: #5598C3;
    width: 15px;
}

#health-slider-bar span:active {
    background-color: #4983A8;
    box-shadow: 1px 1px grey;
}

#leisure-slider-bar {
    background-color: #DC4B60;
}

#leisure-slider-bar span {
    background-color: #DC4B60;
    width: 15px;
}

#leisure-slider-bar span:active {
    background-color: #C74457;
    box-shadow: 1px 1px grey;
}

#living-std-slider-bar {
    background-color: #269683;
}

#living-std-slider-bar span {
    background-color: #269683;
    width: 15px;
}

#living-std-slider-bar span:active {
    background-color: #228574;
    box-shadow: 1px 1px grey;
}

#safety-slider-bar {
    background-color: #606060;
}

#safety-slider-bar span {
    background-color: #606060;
    width: 15px;
}

#safety-slider-bar span:active {
    background-color: #545454;
    box-shadow: 1px 1px grey;
}

#cohesion-slider-bar {
    background-color: #E5632E;
}

#cohesion-slider-bar span {
    background-color: #E5632E;
    width: 15px;
}

#cohesion-slider-bar span:active {
    background-color: #C75628;
    box-shadow: 1px 1px grey;
}

.domain_image_left {
    width: 50%;
    float: left;
    padding: 5px 10px 5px 0;
}

.domain_image_right {
    width: 50%;
    float: right;
    padding: 5px 0 5px 10px;
}

/* CUSTOMIZE BODY */
#customize_title {
    margin: 20px;
}

#customize_intro {
    margin: 20px;
}

#customize_domains {
    border-top: 3px #44546A solid;
    border-bottom: 3px #44546A solid;
    width: 100%;
    display: table;
    table-layout: fixed;
    padding-left: 20px;
    padding-right: 20px;
    border-collapse: separate;
    border-spacing: 10px;
}

.domain-icon {
    background-color: #747DA9;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    font-size: smaller;
    opacity: 0.6;
    text-align: center;
    border-radius: 50%;
    height: 112px;
    width: 112px;
    font-weight: bold;
}

.domain-icon:hover {
    cursor: pointer;
    opacity: 1.0;
}

.domain-selected {
    opacity: 1.0 !important;
    border: 1px black solid;
}

#customize_domain_score {
    display: none;
}

/*      Selected Domain     */
#customize_domain_arrow {
    position: relative;
    display: none;
    width: 98%;
}

#customize_domain_bar {
    background: url('/static_qed/hwbi/disc/img/domain_bar.png') no-repeat center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    margin-bottom: 15px;
    background-size: contain;
    display: none;
}

#arrow_initial {
    background: url('/static_qed/hwbi/disc/img/domain_arrow.png') no-repeat center;
    opacity: 0.6;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    margin-top: -22px;
}

#arrow_adjusted {
    background: url('/static_qed/hwbi/disc/img/domain_arrow.png') no-repeat center;
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    margin-top: -22px;
}

#score_initial {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    font-size: 16px;
    opacity: 0.6;
}

#score_adjusted {
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    font-size: 16px;
}

/*  Indicators  */
.indicator {
    display: none;
}

.domain_indicator {
    display: none;
    text-align: center;
    margin: 0;
}

#customize_domain_indicators {
    margin-top: 15px;
}

.indicator_block {
    /*width: 50%;*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    /*float: left;*/
    margin-bottom: 15px;
}

.indicator_title {
    display: inline-block;
    margin-right: 5px;
}

.indicator_slider {
    /*width: 50%;*/
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to bottom, rgba(82, 148, 190, 1.0), rgba(145, 217, 255, 1.0), rgba(56, 94, 117, 1.0)) !important;
}

.indicator_slider span {
    background: radial-gradient(rgba(145, 217, 255, 1.0), rgba(56, 94, 117, 1.0)) !important;
    border: none !important;
    border-radius: 50% !important;
    width: 1.5em !important;
    height: 1.5em !important;
    top: -.4em !important;
}

.indicator_slider span:active {
    background: radial-gradient(rgba(56, 94, 117, 1.0), rgba(145, 217, 255, 1.0)) !important;
}

/* COMPARE PAGE */
#compare-tab {
    padding: 10px !important;
}

.compare-communities-container {
    border-top: 2px solid #aeb0b5;
    border-bottom: 2px solid #aeb0b5;
    padding: 6px 1em;
}

.community-col {
    font-weight: bold;
    font-size: 1.25em;
    padding: 0.5em 0 0.5em 0;
}

.domain-col {
    border-bottom: 2px solid #d6d7d9;
    padding: 0.25em 0 0.25em 0;
    height: 40px;
}

.domain-col-bottom {
    padding: 0.25em 0 0.25em 0;
}

.compare-communities-container button.add-community {
    margin: 0 0 6px 0;
}

.compare-communities-container .button-disabled {
    margin: 0;
    background-color: #d6d7d9;
    pointer-events: none;
}

.add-community-search {
    background: #5b616b;
    border-radius: 3px 0 3px 3px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.3);
    margin-top: -2px;
    padding: 8px;
    position: absolute;
    width: 350px;
    display: none;
}

.search-subtext {
    color: #fff;
}

.compare-search-input {
    width: 80%;
    height: 27px
}

.compare-search-button {
    background-image: url(https://www.epa.gov/sites/all/themes/epa/img/svg/search.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    border-radius: 0 3px 3px 0;
    box-sizing: border-box;;
    font-size: 0;
    line-height: 0;
    right: 0;
    text-decoration: none;
    text-indent: -999em;
    text-shadow: none;
    top: 17px;

    width: 32px;
    margin-left: -4px;
    margin-bottom: 0;
    height: 27px
}

.searching {
    background-image: url(/static_qed/hwbi/disc/img/loader.gif);
}

.compare-hwbi-score {
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
}

.compare-domain-score {
    text-align: center;
    font-size: 1.5rem;
    background-color: #d6d7d9;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}

.community-location {
    font-weight: bold;
    font-size: 1.1em;
}

.community-row {
    border-bottom: 2px solid #aeb0b5;
}

.close-compare-search {
    background-color: #cd2026;
    color: #fff;
    float: right;
    margin: 0 0 0 10px;
    padding: 0.25em .5em;
    display: none;
}

.close-compare-search:hover, .close-compare-search:focus {
    background-color: #e31c3d;
}

.close-compare-search:active {
    background-color: #981b1e;
}

.compare-search-error {
    display: none;
    color: #fff;
    font-weight: bold;
}