/*Contact Us*/

#block-pane-epa-web-area-connect {
    float: right;
}

/*HWBI Intro*/
.hwbi_intro {
    border-top: 3px #183E62 solid;
    font-size: 26px;
    padding: 25px 20px 50px;
}

#results_body {
    display: flex;
}

/*Quick Menu*/
#hwbi_quick_menu {
    display: table;
    width: 101%;
    table-layout: fixed;
    /*height: max-content;*/
    /*margin: 0 2px;*/
    padding: 0 4px 0 0;
}

#hwbi_quick_menu ul {
    display: table-row;
    margin: 0;
    padding: 0;
}

#hwbi_quick_menu ul li {
    list-style: none;
    display: table-cell;
    text-align: center;
    background-color: #235A8E;
}

#hwbi_quick_menu ul li:hover {
    background-color: #183E62;
}

.menu_tab_link:visited {
    color: white;
}

.menu_tab_link {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 40px;
    text-decoration: none;
    font-size: 18px;
}

.menu_border_focus {
    border: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 15px 15px 0 0;
    background-clip: content-box;
}

.menu_border_right {
    border: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 0 15px 0 0;
    background-clip: content-box;
}

.menu_border_left {
    border: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 15px 0 0 0;
    background-clip: content-box;
}

/*Search Box*/
#community_search {
    /*border: 1px;*/
    /*border-color: black;*/
    /*border-style: solid;*/
    margin: 0 3px;
    padding: 10px;
    display: table;
    /*text-align: center;*/
    width: 100%;
    max-width: 100%;
    height: 100px;
    background-color: #7F7F7F;
}

#community_search_form {
    position: absolute;
    width: 100%;
    padding-left: 5px;
}

#community_search_field {
    width: 80%;
    line-height: 2;
    padding-left: 5px;
    border: 4px;
    border-color: #44546A;
    border-style: solid;
    border-radius: 10px;
}

#community_search_field:focus {
    outline-width: 0;
}

#community_search_label {
    float: left;
    /*padding-left: 10%;*/
    font-size: 18px;
}

#community_search_button {
    position: initial;
    width: 5%;
    padding: 12px 0 0 0;
    margin: 0 0 0 -58px;
    height: 34px;
    border-radius: 0 6px 6px 0;
}

#community_pdf {
    float: right;
    border-color: #44546A;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    margin: 28px 5px 0 0;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    z-index: 1;
}

#community_pdf:hover {
    background-color: #235A8E;
    color: white;
}

/*Score Graph*/
#score_graph_div {
    background: url('/static_qed/hwbi/disc/img/rainbow_need_to_replace.png') no-repeat;
    height: 83px;
    position: relative;
    width: 145px;
    z-index: 1;
    text-align: center;
    /*left: 20%;*/
    /*right: -28.5%;*/
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 75px;
}

#wellbeing-score {
    color: #36bc28;
    font-size: 3.75rem;
    line-height: 3.125rem;
    font-weight: 700;
    margin: 0;
    padding: 33px 0 0;
    text-align: center;
}

.score_indicator {
    display: block;
    height: 80px;
    left: 33px;
    position: absolute;
    top: 32px;
    -ms-transform: rotate(0deg) skew(45deg, -45deg);
    -webkit-transform: rotate(0deg) skew(45deg, -45deg);
    transform: rotate(0deg) skew(45deg, -45deg);
    width: 79px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    z-index: 9;
}

.score_indicator:before {
    background: #ffffff;
    content: " ";
    display: block;
    height: 10px;
    margin: 3px;
    position: absolute;
    width: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

/*Results*/
#snapshot_results {
    height: 500px;
    width: 33%
}

#hwbi-score {
    float: left;
    /*width: 250px;*/
    width: 100%;
    height: 100%;
}

#location {
    padding: 15px 10px;
    text-align: center;
}

#wellbeing-score-scale, #wellbeing-score-location {
    padding-bottom: 0;
    width: 100%;
    font-size: 14px;
}

#hwbi-info p {
    font-size: 14px;
    text-align: center;
}

#wellbeing-scores {
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

#wellbeing-scores h3 {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    color: #235A8E;
    float: left;
    font-size: 24px;
}

#rank_btn {
    margin: 0 0 0 50px;
    background-color: #A6A6A6;
    font-size: 16px;
}

#domain-scores {
    margin-top: 25px;
}

.domain-expand {
    float: left;
    margin: 0 25px 0 0;
    border-radius: 50%;
    background-color: #70AD47;
    height: 25px;
    width: 25px;
    padding: 0;
}

.domain-expand:focus {
    background-color: #70AD47;
}

.domain-expand:hover {
    background-color: #568536;
}

.accordion {
    background-color: #70AD47;
    cursor: pointer;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    /*float: right;*/
    text-align: center;
    display: block;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.domain-title, .domain-score {
    float: left;
    margin-right: 10px;
    font-size: 18px;
}

.domain-location {
    float: right;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
}

.domain-score-bar {
    position: relative;
    display: flex;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 3px;
    width: 75%;
    background: #DDDDDD;
    height: 24px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.score-bar {
	height: 18px;
	width: 0;
	background: #6adcfa;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
}

.nature-bar {
    background-color: #82AC45;
}

.cultural-bar {
    background-color: #998FE4;
}

.education-bar {
    background-color: #5598C3;
}

.leisure-bar {
    background-color: #DC4B60;
}

.living-std-bar {
    background-color: #269683;
}

.safety-bar {
    background-color: #606060;
}

.cohesion-bar {
    background-color: #E5632E;
}

.domain-description {
    display: none;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    margin-bottom: 20px;
}