/* Reset */

*{
  padding: 0;
  margin: 0 auto 0 auto;  /* changed to shorthand */
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* General */

body {
  text-align: center;   /* Container: IE Hack */
  background: #F4F7ED repeat-x;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 18px;
  color: #333333;
}
#container {
  width: 1035px;
  margin: 0.5em auto 1em auto;
  text-align: left;    /* IE Hack */
}
img {
  border: none;
}

/*
   Landing Page
*/

#landing_uberlogo {
  width: 1024px;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 10%;
  margin-bottom: 5%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;
}
#landing_links {
  width: 690px;
}
#eco {
  width: 334px;
  height: 334px;
  float: left;
  background: url(/images/eco.png);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;
}
#hh {
  width: 334px;
  height: 334px;
  float: left;
  background: url(/images/hh.png);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;
}
/*#pop {
  width: 334px;
  height: 334px;
  float: left;
  background: url(/images/pop2.png);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;
}*/
#nav-shadow {
  list-style: none;
}
#nav-shadow a, #nav-shadow a:visited, #nav-shadow a, #nav-shadow a:hover {
  display: inline-block;
  position: relative;
  margin: 0 5.5px;
}