/* Landing Page */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
.navbar-custom {
  background: #fff;
  box-shadow: 0 5px 5px rgba(0,0,0,.075);
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.075), inset 1px -4px 9px -6px;
  -moz-box-shadow: 0 5px 5px rgba(0,0,0,.075);
}

#landing_uberlogo {
  width: 1024px;
  height: 48px;
  /*border: none;
  margin-bottom: 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;
  background: #F4F7ED url(/images/logo.png) no-repeat;*/
}
#landing_text {
  /*background: #F4F7ED;*/
  /*height: 24px;
  position: fixed;
  top: 0px;
  left: 0px;*/
  margin: 4px 0 0 20px;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  #landing_text {
    /*background: #F4F7ED;*/
    /*height: 24px;
    position: fixed;
    top: 0px;
    left: 0px;*/
    margin: 4px 0 0 4px;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }
}
/*
#landing_links ul {
  list-style: none;
}
#landing_links ul li {
  display: inline;
  position: relative;
}*/
.landing_spacer {
  height: 5px;
  width: 100%;
}
#eco, #hh, #unter, #pop,
#cts, #esm, #d4em, #webice {
  margin: 15px 0 5px 0;
}