/* Reset */

*{
  padding: 0;
  margin: 0 auto 0 auto;  /* changed to shorthand */
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* General */

body {
  text-align: center;   /* Container: IE Hack */
  background: #F4F7ED repeat-x;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 18px;
  color: #333333;;
}
#container {
  width: 1024px;
  margin: 0 auto;
  text-align: left;    /* IE Hack */
}
img {
  border: none;
}
h3 {
  margin: 1em 0;
  font-weight: bold;
  font-size: 1.1em;
}
.model_header {
  color: #EDB200;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: bold;
}
.left {
  float: left;
  text-align: justify;
  margin-top: 0;
  display: inline;
}
.left h2 {
  color: #F4F7ED;
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 100;
  padding : 10px 0 15px 0;
}
.left ul {
  list-style-type: square;
  padding: 5px 10px 10px 20px;
}
.right {
  float: right;
  text-align: justify;
  margin-top: 0;
  display: inline;
}
.right h2 {
  color: #F4F7ED;
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 100;
  padding: 10px 0 15px 0;
}
.right ul {
  list-style-type: square;
  padding: 5px 10px 10px 20px;
}

/* Defining Hyperlink Colors */

a:link {
  color: #EDB200;
  text-decoration: none;
}
a:visited {
  color: #EDB200;
  text-decoration: none;
}
a:active {    /* Same as "hover" for menus - doesn't work as intended */
  color: #586b73;
  text-decoration: none;
}
a:hover {
  color: #586b73;
  text-decoration: none;
}

/* 01uberheader.html */

.spacer {
  margin-top: 4px;
  clear: both;
}
#banner {
  width: 1024px;
  background: #586b73;
  min-height: 30px;
  font-size: 1.6em;
}
#banner_l {
  color: white;
  float: left;
  padding: 5px 0 0 0.4em;
}
#banner_r {
  color: white;
  float: right;
  padding: 5px 0.4em 0 0;
}
#topheader_pic {
  width: 720px;
  height: 240px;
  float: left;
  border-right: 4px solid #F4F7ED;
  border-bottom: 4px solid #F4F7ED;
}
#topheader_pic img {
  width: 720px;
  height: 240px;
}
#topheader_p {
  width: 300px;
  height: 240px;
  background: #EDB200;
  float: right;
  color: white;
  font-size: 12px;
  text-align: justify;
  border-bottom: 4px solid #F4F7ED;
}
#topheader_p p {
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  padding-top: 25%; /* Text Positioning */
}

/* 02uberintroblock_wmodellinks.html */

/* Pop Header Menu Nav Bar */

#header_menu_nav {
  width: 864px;
  height: 24px;
  background: #586b73;
  float: left;
}
#header_menu_nav ul {
  padding-left: 175px;
}
#header_menu_nav ul li {
  display: inline;
}
#header_menu_nav ul li a {
  margin: 0;
  padding:0;
  float: left;
}
#header_menu_nav ul li#output_tab {
  display: none;
}
.fadeDesc_description {
  display:inline-block;
  height: 24px;
  width: 110px;
  background: url(../images/tabs/pop/sprites/navbar_description.gif);
  background-position: 0 0;
}
.fadeDesc_description * {
  display: none;
}
.fadeDesc_description span.hover {
  display: inline-block;
  height: 24px;
  width: 110px;
  background: url(../images/tabs/pop/sprites/navbar_description.gif);
  background-position: 0 -24px;
}
.fadeInp_description {
  display:inline-block;
  height: 24px;
  width: 70px;
  background: url(../images/tabs/pop/sprites/navbar_description.gif);
  background-position: -110px 0;
}
.fadeInp_description * {
  display: none;
}
.fadeInp_description span.hover {
  display: inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_description.gif);
  background-position: -110px -24px;
}
.fadeAlg_description {
  display:inline-block;
  height: 24px;
  width: 102px;
  background-image: url(../images/tabs/pop/sprites/navbar_description.gif);
  background-position: -180px 0;
}
.fadeAlg_description * {
  display: none;
}
.fadeAlg_description span.hover {
  display: inline-block;
  height: 24px;
  width: 102px;
  background-image: url(../images/tabs/pop/sprites/navbar_description.gif);
  background-position: -180px -24px;
}
.fadeRef_description {
  display:inline-block;
  height: 24px;
  width: 104px;
  background-image: url(../images/tabs/pop/sprites/navbar_description.gif);
  background-position: -282px 0;
}
.fadeRef_description * {
  display: none;
}
.fadeRef_description span.hover {
  display: inline-block;
  height: 24px;
  width: 104px;
  background-image: url(../images/tabs/pop/sprites/navbar_description.gif);
  background-position: -282px -24px;
}
.fadeQAQC_description {
  display:inline-block;
  height: 24px;
  width: 74px;
  background-image: url(../images/tabs/pop/sprites/navbar_description.gif);
  background-position: -386px 0;
}
.fadeQAQC_description * {
  display: none;
}
.fadeQAQC_description span.hover {
  display: inline-block;
  height: 24px;
  width: 74px;
  background-image: url(../images/tabs/pop/sprites/navbar_description.gif);
  background-position: -386px -24px;
}
.fadeBat_description {
  display:inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_description.gif);
  background-position: -460px 0;
}
.fadeBat_description * {
  display: none;
}
.fadeBat_description span.hover {
  display: inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_description.gif);
  background-position: -460px -24px;
}
.fadeDesc_input {
  display:inline-block;
  height: 24px;
  width: 110px;
  background: url(../images/tabs/pop/sprites/navbar_input.gif);
  background-position: 0 0;
}
.fadeDesc_input * {
  display: none;
}
.fadeDesc_input span.hover {
  display: inline-block;
  height: 24px;
  width: 110px;
  background: url(../images/tabs/pop/sprites/navbar_input.gif);
  background-position: 0 -24px;
}
.fadeInp_input {
  display:inline-block;
  height: 24px;
  width: 70px;
  background: url(../images/tabs/pop/sprites/navbar_input.gif);
  background-position: -110px 0;
}
.fadeInp_input * {
  display: none;
}
.fadeInp_input span.hover {
  display: inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_input.gif);
  background-position: -110px -24px;
}
.fadeAlg_input {
  display:inline-block;
  height: 24px;
  width: 102px;
  background-image: url(../images/tabs/pop/sprites/navbar_input.gif);
  background-position: -180px 0;
}
.fadeAlg_input * {
  display: none;
}
.fadeAlg_input span.hover {
  display: inline-block;
  height: 24px;
  width: 102px;
  background-image: url(../images/tabs/pop/sprites/navbar_input.gif);
  background-position: -180px -24px;
}
.fadeRef_input {
  display:inline-block;
  height: 24px;
  width: 104px;
  background-image: url(../images/tabs/pop/sprites/navbar_input.gif);
  background-position: -282px 0;
}
.fadeRef_input * {
  display: none;
}
.fadeRef_input span.hover {
  display: inline-block;
  height: 24px;
  width: 104px;
  background-image: url(../images/tabs/pop/sprites/navbar_input.gif);
  background-position: -282px -24px;
}
.fadeQAQC_input {
  display:inline-block;
  height: 24px;
  width: 74px;
  background-image: url(../images/tabs/pop/sprites/navbar_input.gif);
  background-position: -386px 0;
}
.fadeQAQC_input * {
  display: none;
}
.fadeQAQC_input span.hover {
  display: inline-block;
  height: 24px;
  width: 74px;
  background-image: url(../images/tabs/pop/sprites/navbar_input.gif);
  background-position: -386px -24px;
}
.fadeBat_input {
  display:inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_input.gif);
  background-position: -460px 0;
}
.fadeBat_input * {
  display: none;
}
.fadeBat_input span.hover {
  display: inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_input.gif);
  background-position: -460px -24px;
}
.fadeDesc_algorithm {
  display:inline-block;
  height: 24px;
  width: 110px;
  background: url(../images/tabs/pop/sprites/navbar_algorithm.gif);
  background-position: 0 0;
}
.fadeDesc_algorithm * {
  display: none;
}
.fadeDesc_algorithm span.hover {
  display: inline-block;
  height: 24px;
  width: 110px;
  background: url(../images/tabs/pop/sprites/navbar_algorithm.gif);
  background-position: 0 -24px;
}
.fadeInp_algorithm {
  display:inline-block;
  height: 24px;
  width: 70px;
  background: url(../images/tabs/pop/sprites/navbar_algorithm.gif);
  background-position: -110px 0;
}
.fadeInp_algorithm * {
  display: none;
}
.fadeInp_algorithm span.hover {
  display: inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_algorithm.gif);
  background-position: -110px -24px;
}
.fadeAlg_algorithm {
  display:inline-block;
  height: 24px;
  width: 102px;
  background-image: url(../images/tabs/pop/sprites/navbar_algorithm.gif);
  background-position: -180px 0;
}
.fadeAlg_algorithm * {
  display: none;
}
.fadeAlg_algorithm span.hover {
  display: inline-block;
  height: 24px;
  width: 102px;
  background-image: url(../images/tabs/pop/sprites/navbar_algorithm.gif);
  background-position: -180px -24px;
}
.fadeRef_algorithm {
  display:inline-block;
  height: 24px;
  width: 104px;
  background-image: url(../images/tabs/pop/sprites/navbar_algorithm.gif);
  background-position: -282px 0;
}
.fadeRef_algorithm * {
  display: none;
}
.fadeRef_algorithm span.hover {
  display: inline-block;
  height: 24px;
  width: 104px;
  background-image: url(../images/tabs/pop/sprites/navbar_algorithm.gif);
  background-position: -282px -24px;
}
.fadeQAQC_algorithm {
  display:inline-block;
  height: 24px;
  width: 74px;
  background-image: url(../images/tabs/pop/sprites/navbar_algorithm.gif);
  background-position: -386px 0;
}
.fadeQAQC_algorithm * {
  display: none;
}
.fadeQAQC_algorithm span.hover {
  display: inline-block;
  height: 24px;
  width: 74px;
  background-image: url(../images/tabs/pop/sprites/navbar_algorithm.gif);
  background-position: -386px -24px;
}
.fadeBat_algorithm {
  display:inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_algorithm.gif);
  background-position: -460px 0;
}
.fadeBat_algorithm * {
  display: none;
}
.fadeBat_algorithm span.hover {
  display: inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_algorithm.gif);
  background-position: -460px -24px;
}
.fadeDesc_references {
  display:inline-block;
  height: 24px;
  width: 110px;
  background: url(../images/tabs/pop/sprites/navbar_references.gif);
  background-position: 0 0;
}
.fadeDesc_references * {
  display: none;
}
.fadeDesc_references span.hover {
  display: inline-block;
  height: 24px;
  width: 110px;
  background: url(../images/tabs/pop/sprites/navbar_references.gif);
  background-position: 0 -24px;
}
.fadeInp_references {
  display:inline-block;
  height: 24px;
  width: 70px;
  background: url(../images/tabs/pop/sprites/navbar_references.gif);
  background-position: -110px 0;
}
.fadeInp_references * {
  display: none;
}
.fadeInp_references span.hover {
  display: inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_references.gif);
  background-position: -110px -24px;
}
.fadeAlg_references {
  display:inline-block;
  height: 24px;
  width: 102px;
  background-image: url(../images/tabs/pop/sprites/navbar_references.gif);
  background-position: -180px 0;
}
.fadeAlg_references * {
  display: none;
}
.fadeAlg_references span.hover {
  display: inline-block;
  height: 24px;
  width: 102px;
  background-image: url(../images/tabs/pop/sprites/navbar_references.gif);
  background-position: -180px -24px;
}
.fadeRef_references {
  display:inline-block;
  height: 24px;
  width: 104px;
  background-image: url(../images/tabs/pop/sprites/navbar_references.gif);
  background-position: -282px 0;
}
.fadeRef_references * {
  display: none;
}
.fadeRef_references span.hover {
  display: inline-block;
  height: 24px;
  width: 104px;
  background-image: url(../images/tabs/pop/sprites/navbar_references.gif);
  background-position: -282px -24px;
}
.fadeQAQC_references {
  display:inline-block;
  height: 24px;
  width: 74px;
  background-image: url(../images/tabs/pop/sprites/navbar_references.gif);
  background-position: -386px 0;
}
.fadeQAQC_references * {
  display: none;
}
.fadeQAQC_references span.hover {
  display: inline-block;
  height: 24px;
  width: 74px;
  background-image: url(../images/tabs/pop/sprites/navbar_references.gif);
  background-position: -386px -24px;
}
.fadeBat_references {
  display:inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_references.gif);
  background-position: -460px 0;
}
.fadeBat_references * {
  display: none;
}
.fadeBat_references span.hover {
  display: inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_references.gif);
  background-position: -460px -24px;
}
.fadeDesc_qaqc {
  display:inline-block;
  height: 24px;
  width: 110px;
  background: url(../images/tabs/pop/sprites/navbar_qaqc.gif);
  background-position: 0 0;
}
.fadeDesc_qaqc * {
  display: none;
}
.fadeDesc_qaqc span.hover {
  display: inline-block;
  height: 24px;
  width: 110px;
  background: url(../images/tabs/pop/sprites/navbar_qaqc.gif);
  background-position: 0 -24px;
}
.fadeInp_qaqc {
  display:inline-block;
  height: 24px;
  width: 70px;
  background: url(../images/tabs/pop/sprites/navbar_qaqc.gif);
  background-position: -110px 0;
}
.fadeInp_qaqc * {
  display: none;
}
.fadeInp_qaqc span.hover {
  display: inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_qaqc.gif);
  background-position: -110px -24px;
}
.fadeAlg_qaqc {
  display:inline-block;
  height: 24px;
  width: 102px;
  background-image: url(../images/tabs/pop/sprites/navbar_qaqc.gif);
  background-position: -180px 0;
}
.fadeAlg_qaqc * {
  display: none;
}
.fadeAlg_qaqc span.hover {
  display: inline-block;
  height: 24px;
  width: 102px;
  background-image: url(../images/tabs/pop/sprites/navbar_qaqc.gif);
  background-position: -180px -24px;
}
.fadeRef_qaqc {
  display:inline-block;
  height: 24px;
  width: 104px;
  background-image: url(../images/tabs/pop/sprites/navbar_qaqc.gif);
  background-position: -282px 0;
}
.fadeRef_qaqc * {
  display: none;
}
.fadeRef_qaqc span.hover {
  display: inline-block;
  height: 24px;
  width: 104px;
  background-image: url(../images/tabs/pop/sprites/navbar_qaqc.gif);
  background-position: -282px -24px;
}
.fadeQAQC_qaqc {
  display:inline-block;
  height: 24px;
  width: 74px;
  background-image: url(../images/tabs/pop/sprites/navbar_qaqc.gif);
  background-position: -386px 0;
}
.fadeQAQC_qaqc * {
  display: none;
}
.fadeQAQC_qaqc span.hover {
  display: inline-block;
  height: 24px;
  width: 74px;
  background-image: url(../images/tabs/pop/sprites/navbar_qaqc.gif);
  background-position: -386px -24px;
}
.fadeBat_qaqc {
  display:inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_qaqc.gif);
  background-position: -460px 0;
}
.fadeBat_qaqc * {
  display: none;
}
.fadeBat_qaqc span.hover {
  display: inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_qaqc.gif);
  background-position: -460px -24px;
}
.fadeDesc_batchinput {
  display:inline-block;
  height: 24px;
  width: 110px;
  background: url(../images/tabs/pop/sprites/navbar_batchinput.gif);
  background-position: 0 0;
}
.fadeDesc_batchinput * {
  display: none;
}
.fadeDesc_batchinput span.hover {
  display: inline-block;
  height: 24px;
  width: 110px;
  background: url(../images/tabs/pop/sprites/navbar_batchinput.gif);
  background-position: 0 -24px;
}
.fadeInp_batchinput {
  display:inline-block;
  height: 24px;
  width: 70px;
  background: url(../images/tabs/pop/sprites/navbar_batchinput.gif);
  background-position: -110px 0;
}
.fadeInp_batchinput * {
  display: none;
}
.fadeInp_batchinput span.hover {
  display: inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_batchinput.gif);
  background-position: -110px -24px;
}
.fadeAlg_batchinput {
  display:inline-block;
  height: 24px;
  width: 102px;
  background-image: url(../images/tabs/pop/sprites/navbar_batchinput.gif);
  background-position: -180px 0;
}
.fadeAlg_batchinput * {
  display: none;
}
.fadeAlg_batchinput span.hover {
  display: inline-block;
  height: 24px;
  width: 102px;
  background-image: url(../images/tabs/pop/sprites/navbar_batchinput.gif);
  background-position: -180px -24px;
}
.fadeRef_batchinput {
  display:inline-block;
  height: 24px;
  width: 104px;
  background-image: url(../images/tabs/pop/sprites/navbar_batchinput.gif);
  background-position: -282px 0;
}
.fadeRef_batchinput * {
  display: none;
}
.fadeRef_batchinput span.hover {
  display: inline-block;
  height: 24px;
  width: 104px;
  background-image: url(../images/tabs/pop/sprites/navbar_batchinput.gif);
  background-position: -282px -24px;
}
.fadeQAQC_batchinput {
  display:inline-block;
  height: 24px;
  width: 74px;
  background-image: url(../images/tabs/pop/sprites/navbar_batchinput.gif);
  background-position: -386px 0;
}
.fadeQAQC_batchinput * {
  display: none;
}
.fadeQAQC_batchinput span.hover {
  display: inline-block;
  height: 24px;
  width: 74px;
  background-image: url(../images/tabs/pop/sprites/navbar_batchinput.gif);
  background-position: -386px -24px;
}
.fadeBat_batchinput {
  display:inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_batchinput.gif);
  background-position: -460px 0;
}
.fadeBat_batchinput * {
  display: none;
}
.fadeBat_batchinput span.hover {
  display: inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_batchinput.gif);
  background-position: -460px -24px;
}
.fadeDesc_output {
  display:inline-block;
  height: 24px;
  width: 110px;
  background: url(../images/tabs/pop/sprites/navbar_output.gif);
  background-position: 0 0;
}
.fadeDesc_output * {
  display: none;
}
.fadeDesc_output span.hover {
  display: inline-block;
  height: 24px;
  width: 110px;
  background: url(../images/tabs/pop/sprites/navbar_output.gif);
  background-position: 0 -24px;
}
.fadeInp_output {
  display:inline-block;
  height: 24px;
  width: 70px;
  background: url(../images/tabs/pop/sprites/navbar_output.gif);
  background-position: -110px 0;
}
.fadeInp_output * {
  display: none;
}
.fadeInp_output span.hover {
  display: inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_output.gif);
  background-position: -110px -24px;
}
.fadeOut_output {
  display:inline-block;
  height: 24px;
  width: 72px;
  background: url(../images/tabs/pop/sprites/navbar_output.gif);
  background-position: -180px 0;
}
.fadeOut_output * {
  display: none;
}
.fadeOut_output span.hover {
  display: inline-block;
  height: 24px;
  width: 72px;
  background-image: url(../images/tabs/pop/sprites/navbar_output.gif);
  background-position: -180px -24px;
}
.fadeAlg_output {
  display:inline-block;
  height: 24px;
  width: 102px;
  background-image: url(../images/tabs/pop/sprites/navbar_output.gif);
  background-position: -252px 0;
}
.fadeAlg_output * {
  display: none;
}
.fadeAlg_output span.hover {
  display: inline-block;
  height: 24px;
  width: 102px;
  background-image: url(../images/tabs/pop/sprites/navbar_output.gif);
  background-position: -252px -24px;
}
.fadeRef_output {
  display:inline-block;
  height: 24px;
  width: 104px;
  background-image: url(../images/tabs/pop/sprites/navbar_output.gif);
  background-position: -354px 0;
}
.fadeRef_output * {
  display: none;
}
.fadeRef_output span.hover {
  display: inline-block;
  height: 24px;
  width: 104px;
  background-image: url(../images/tabs/pop/sprites/navbar_output.gif);
  background-position: -354px -24px;
}
.fadeQAQC_output {
  display:inline-block;
  height: 24px;
  width: 74px;
  background-image: url(../images/tabs/pop/sprites/navbar_output.gif);
  background-position: -458px 0;
}
.fadeQAQC_output * {
  display: none;
}
.fadeQAQC_output span.hover {
  display: inline-block;
  height: 24px;
  width: 74px;
  background-image: url(../images/tabs/pop/sprites/navbar_output.gif);
  background-position: -458px -24px;
}
.fadeBat_output {
  display:inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_output.gif);
  background-position: -532px 0;
}
.fadeBat_output * {
  display: none;
}
.fadeBat_output span.hover {
  display: inline-block;
  height: 24px;
  width: 70px;
  background-image: url(../images/tabs/pop/sprites/navbar_output.gif);
  background-position: -532px -24px;
}

/* Header Right Side */

#header_menu_r {
  width: 160px;
  height: 24px;
  background: #586b73;
  float: left;
}
#header_menu_r ul {
  padding-left: 0;
  text-align: left;
  margin-top: 3px;
}
#header_menu_r li {
  display: inline;
  color: white;
  padding-left: 11px;
}
#header_menu_r li a {
  color: white;
 }

/* Below Header */

.urbangreymenu{
  width: 160px; /*width of menu*/
  float: left;
  text-align: left;
  margin-top: 4px; /* Space bw Header */
}
.urbangreymenu .headerbar{
  font: bold 11px Verdana, Arial, Helvetica;
  color: white;
  background: #EDB200;
  margin: 0 0 2px 0;
  text-transform: uppercase;
  padding: 5px 5px 5px 5px; /*31px is left indentation of header text*/
}
.urbangreymenu .headerbar a{
  text-decoration: none;
  color: white;
  display: block;
}
.urbangreymenu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 0; /*bottom spacing between each UL and rest of content*/
}
.urbangreymenu ul li{
  padding-bottom: 2px; /*bottom spacing between menu items*/
}
.urbangreymenu ul li a{
  color: #34322D;
  background: #BFCFCC;
  display: block;
  padding: 5px 0;
  line-height: 14px;
  padding-left: 8px; /*link text is indented 8px*/
  text-decoration: none;
}
.urbangreymenu ul li a:visited{
  color: #34322D;
}
.urbangreymenu ul li a:hover{
  color: white;
  background: #04593E;
}
.articles {
  width: 670px;
  display: inline;
  float: left;
  padding: 1em 1.5em;
}
.articles p {
  margin: 1em 0;
  font-size: 12px;
}
.articles img {
  margin: 0 0 0 1.5em;
  max-width: 640px;
}
ul.bullet {
  padding: 0 2em;
  font-size: 12px;
}
ul.nobullet {
  list-style: none;
  padding: 0 2em;
  font-size: 12px;
}
.articles ol {
  padding: 0 2em;
  font-size: 12px;
}
.articles li {
  margin-top: 0.5em;
  font-size: 12px;
}

/* Left Menu - link stays higlighted ("hover persists) while on page */

#l_menu {
  width:160px;
  font-family:Verdana, Arial, Helvetica, serif;
  font-size:11px;
}
#l_menu ul {
  list-style: none;
}
#l_menu ul li {
}
#l_menu ul li a {
  display:block;
  text-decoration:none;
  color:#34322D;
  background-color:#E3DCBF;
  padding-left:8px;
  cursor:pointer;
}
#l_menu ul li a:hover {
  color:#FFFFFF;
  background-color:#79888f;
}                            /* "mouseover", not dependant on scripts.js*/
#l_menu ul li a.aSelected {
  display:block;
  text-decoration:none;
  color:#FFFFFF;
  background-color:#586b73;
}                            /* "click", dependant on scripts.js*/

/* Right Menu - same as above w/o "hover persists) */

#r_menu {
  width:160px;
  font-family:Verdana, Arial, Helvetica, serif;
  font-size:11px;
}
#r_menu ul {
  list-style: none;
}
#r_menu ul li {
}
#r_menu ul li a {
  display:block;
  text-decoration:none;
  color:#34322D;
  background-color:#E3DCBF;
  padding-left:8px;
  cursor:pointer;
}
#r_menu ul li a:hover {
  color:#FFFFFF;
  background-color:#79888f;
}                             /* "mouseover", not dependant on scripts.js*/

/* 06uberfooter.html */

#footer {
  clear: both;
  background: #586b73;
  width: 1016px;
  height: 31px;
  padding: 4px;
  text-align: center;
}
#footer li {
  display: inline;
}
#footer img {
  width: 88px;
  height: 31px;
}

/*  Contact Us */

#form1 label.error {
	width: 200px;
	display: block;
	float: right;
	color: red;
	padding-left: 10px;
}
#sortable {
	list-style-type: none;
	margin: 5px 0px 0px 16px;
	padding: 0;
}
#sortable li {
	margin: 3px 3px 3px 0;
	padding: 1px;
	float: left;
	width: 35px;
	height: 35px;
	font-size: 20px;
	text-align: center;
	line-height:35px;
	cursor:pointer;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	background:#586B73;
	color:#fff;
	font-weight:normal;
}
.captcha_wrap{
	border:1px solid #fff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	float:left;
	height:120px;
	overflow:auto;
	width:150px;
	overflow:hidden;
	margin:0px 0px 0px 210px;
	background-color:#fff;
}
.captcha{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	font-size:12px;
	color:#BBBBBB;
	text-align: center;
	border-bottom:1px solid #CCC;
	background-color:#fff;
}