#container {
  width: 1024px;
  margin: 0 auto;
  text-align: left;    /* IE Hack */
}

/* Container: IE Hack */
body {
  text-align: center;
}

/* End - Container: IE Hack */

/*
   01uberheader.html
*/

#spacer {
  margin-top: 4px;
}

#banner {
  width: 1024px;
  background: #4d3c3c;
  height: 30px;
  font-size: 18px;
}

#banner_l {
  color: white;
  float: left;
  padding: 5px;
}

#banner_r {
  color: white;
  float: right;
  padding: 5px;
}

#topheader_pic {
  width: 720px;
  height: 240px;
  float: left;
  border-right: 4px solid #F4F7ED;
  border-bottom: 4px solid #F4F7ED;
}

#topheader_pic img {
  width: 720px;
  height: 240px;
}

#topheader_p {
  width: 300px;
  height: 240px;
  background: #f2c230;
  float: right;
  color: white;
  font-size: 12px;
  text-align: justify;
  border-bottom: 4px solid #F4F7ED;
}

#topheader_p p {
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  padding-top: 25%;
}

/*
   02uberintroblock_wmodellinks.html
*/

#header_menu_c {
  width: 864px;
  height: 18px;
  background: #4d3c3c;
  padding: 0.25em 0 1px 0;
  float: left;
}
#header_menu_c ul {
  padding-left: 175px;
/*  margin: 0 auto;
  text-align: center;*/
}
#header_menu_c li {
  display: inline;
  padding: 0.5em 1em 0.25em 1em;
/*background: #79973F;*/
  background: #4d3c3c;
  color: white;
  cursor: pointer;
  border-top: 1.5px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 1em 1em 0 0;
  -moz-border-radius: 1em 1em 0 0;
  -webkit-border-radius: 1em 1em 0 0;
}
#header_menu_c li:hover {
  display: inline;
  margin: 0;
  padding: 0.5em 1em 0.25em 1em;
/*background: #A31E39;#FFC456*/
  background: #f2c230;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 1em 1em 0 0;
  -moz-border-radius: 1em 1em 0 0;
  -webkit-border-radius: 1em 1em 0 0;
}
#header_menu_c li:active {
  display: inline;
  margin: 0;
  padding: 0.5em 1em 0.25em 1em;
/*background: #A31E39;#FFC456*/
  background: #f2c230;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 1em 1em 0 0;
  -moz-border-radius: 1em 1em 0 0;
  -webkit-border-radius: 1em 1em 0 0;
}
#header_menu_c li.liSelected {
  display: inline;
  margin: 0;
  padding: 0.5em 1em 0.25em 1em;
  background: #f2c230;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 1em 1em 0 0;
  -moz-border-radius: 1em 1em 0 0;
  -webkit-border-radius: 1em 1em 0 0;
}
#header_menu_c li a {
  color: white;
  text-decoration: none;
}
#header_menu_r {
  width: 160px;
  height: 18px;
  background: #4d3c3c;
  padding: 0.25em 0 1px 0;
  float: left;
}
#header_menu_r ul {
  padding-left: 0px;
  text-align: left;
}
#header_menu_r li {
  display: inline;
  color: white;
  padding: 0.32em 0 0.33em 1em;
}
#header_menu_r li a {
  color: white;
 }


/*
   02uberintroblock_nomodellinks.html
*/




/*
   03ubertext_links_left.html
*/




/*
   05ubertext_links_right.html
*/

/*

   06uberfooter.html
*/

#footer {
  clear: both;
  background: #4d3c3c;
  height: 31px;
  padding: 4px;
  text-align: center;
}
#footer li {
  display: inline;
}
#footer img {
  width: 88px;
  height: 31px;
}

/*
   Body
*/

* {                   /* What is this??? */
  padding: 0;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
} 

body {
  background: #F4F7ED repeat-x;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 18px;
  color: #333333;;
}

img { border: none; }

#wrap {
  width: 1000px;
  margin-top: 0;
  margin-bottom: 0;
}

#header {
  height: 60px;
  background: #26478A url(images/header.jpg) no-repeat;
  margin-left: 100px;
}

#header h1 {
  font-size: 26px;
  font-weight: 100;
  letter-spacing: -3px;
  padding: 12px 0 5px 10px;
}
#header h1 a {
  color: #F4F7EDF;
  text-decoration: none;
}
#header h1 a:hover {
  color: #F4F7ED;
  text-decoration: none;
}
#header h2 {
  color: #F4F7ED;
  font-size: 15px;
  font-weight: 100;
  padding: 0 0 0 11px;
  letter-spacing: -1px;
  line-height: 12px;
}

#intro {
  background: #CDDDAD url(images/intro.jpg) no-repeat;
  height: 120px;
  margin-left: auto;
  width: 700px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}

#content {
  padding: 10px 20px;
}

.left {
  float: left;
  text-align: justify;
  margin-top: 0px;
}
.left h2 {
  color: #F4F7ED;
  font-size: 18px;
  letter-spacing: 0px;
  font-weight: 100;
  padding : 10px 0 15px 0;
}
.left ul {
  list-style-type: square;
  padding: 5px 10px 10px 20px;
}

.right {
  float: right;
  text-align: justify;
  margin-top: 0px;
}
.right h2 {
  color: #F4F7ED;
  font-size: 18px;
  letter-spacing: 0px;
  font-weight: 100;
  padding: 10px 0 15px 0;
}
.right ul {
  list-style-type: square;
  padding: 5px 10px 10px 20px;
}
#wrap .right .mdlinks {
  float: right;
  width: 130px;
  margin-left: 10px;
}
#wrap .left .articles {
  width: 700px;
  margin-right: 0px;
  float: none;
  margin-left: 150px;
}
#wrap .left .uplinks {
  width: 700px;
  margin-right: 0px;
  float: none;
  margin-left: 150px;
  margin-bottom: 20px;
}
#wrap .left .mdlinks {
  float: left;
  width: 140px;
  margin-right: 10px;
  text-align: left;
}


/*

Defining Hyperlink Colors

*/

a:link {
  color: #CCB43D;
  text-decoration: none;
}

a:visited {
  color: #CCB43D;
  text-decoration: none;
}

a:active {    /* Same as "hover" for menus - doesn't work as intended */
  color: #04593E;
  text-decoration: none;
}

a:hover {
  color: #04593E;
  text-decoration: none;
}


/*

Moved CSS from 01hh_uberheader.html to here:

*/

#topcontainer {
  width: 100&#37;
  text-align:justify;
}

.urbangreymenu{
    width: 160px; /*width of menu*/
	float: left;
	text-align: left;
	margin-top: 0px;
}

.urbangreymenu .headerbar{
font: bold 11px Verdana, Arial, Helvetica;
color: white;
background: #f2c230; /*url(arrowstop.gif) no-repeat 8px 6px;  /*last 2 values are the x and y coordinates of bullet image*/
margin-bottom: 0; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
padding: 5px 5px 5px 5px; /*31px is left indentation of header text*/
}

.urbangreymenu .headerbar a{
text-decoration: none;
color: white;
display: block;
}

.urbangreymenu ul{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 0; /*bottom spacing between each UL and rest of content*/
}

.urbangreymenu ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
}

.urbangreymenu ul li a{
font: normal 11px Verdana, Arial, Helvetica;
color: #34322D;
background: #BFCFCC;
display: block;
padding: 5px 0;
line-height: 14px;
padding-left: 8px; /*link text is indented 8px*/
text-decoration: none;
}

.urbangreymenu ul li a:visited{
color: #34322D;
}

.urbangreymenu ul li a:hover{ /*hover state CSS*/
color: white;
background: #04593E;
}

/* Left Menu - link stays higlighted ("hover persists) while on page */

#l_menu {
  width:160px;
  font-family:Verdana, Arial, Helvetica, serif;
  font-size:11px;
}
#l_menu ul {
  list-style: none;
}
#l_menu ul li {
}
#l_menu ul li a {
  display:block;
  text-decoration:none;
  color:#34322D;
  background-color:#E3DCBF;
  padding-left:8px;
  cursor:pointer;
}
#l_menu ul li a:hover {
  color:#FFFFFF;
  background-color:#6a5252;
}                            /* "mouseover", not dependant on scripts.js*/
#l_menu ul li a.aSelected {
  display:block;
  text-decoration:none;
  color:#FFFFFF;
  background-color:#4d3c3c;
}                            /* "click", dependant on scripts.js*/


/* Right Menu - same as above w/o "hover persists) */

#r_menu {
  width:160px;
  font-family:Verdana, Arial, Helvetica, serif;
  font-size:11px;
}
#r_menu ul {
  list-style: none;
}
#r_menu ul li {
}
#r_menu ul li a {
  display:block;
  text-decoration:none;
  color:#34322D;
  background-color:#E3DCBF;
  padding-left:8px;
  cursor:pointer;
}
#r_menu ul li a:hover {
  color:#FFFFFF;
  background-color:#6a5252;
}                             /* "mouseover", not dependant on scripts.js*/