.model_header {
  color: #485C5A;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
}
.input_header {
  color: #485C5A;
  margin-bottom: 1em;
  font-size: 1.2em;
  display: inline;
}
.popup_header {
  color: #485C5A;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: bold;
}

/* Defining Hyperlink Colors */

a:link {
  color: #485C5A;
  text-decoration: none;
}
a:visited {
  color: #485C5A;
  text-decoration: none;
}
a:hover {
  color: #485C5A;
  text-decoration: none;
}

/* 01hh_uberheader.html */

#banner {
  width: 1024px;
  background: #A31E39;
  min-height: 30px;
  font-size: 1.6em;
  border-bottom: 2px solid #F4F7ED;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  /*box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;*/
}
#banner_l {
  color: #F9FBF6;
  float: left;
  padding: 5px 0 0 0.4em;
}
#banner_r {
  float: right;
}
#banner_r a {
  color: #F9FBF6;
}
.textshadow {
  text-shadow: 1px 1px 3px rgba(51, 51, 51, 0.4);
}
#topheader_pic {
  background: #485C5A url(/images/species/stilllife.png);
  width: 720px;
  height: 120px;
  float: left;
  border-right: 4px solid #F4F7ED;
  border-bottom: 2px solid #F4F7ED;
}
#topheader_p {
  width: 300px;
  height: 120px;
  background: #485C5A;
  float: right;
  color: white;
  font-size: 12px;
  text-align: justify;
  border-bottom: 2px solid #F4F7ED;
}
#topheader_p p {
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  padding-top: 25%; /* Text Positioning */
}
#topheader_pic_main {
  background: #485C5A url(/images/species/stilllife.png);
  width: 720px;
  height: 240px;
  float: left;
  border-right: 4px solid #F4F7ED;
  border-bottom: 2px solid #F4F7ED;
}
#topheader_p_main {
  width: 300px;
  height: 240px;
  background: #485C5A;
  float: right;
  color: white;
  font-size: 12px;
  text-align: justify;
  border-bottom: 2px solid #F4F7ED;
}
#topheader_p_main p {
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  padding-top: 25%; /* Text Positioning */
}

/* 02hh_uberintroblock_wmodellinks.html */
/* HH Header Menu Nav Bar */

#header_menu_nav {
  width: 864px;
  height: 30px;
  background: #A31E39;
  float: left;
  border-radius: 0 0 0 4px;
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  /*box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;*/
}
.fadeDesc_description {
  display:inline-block;
  height: 30px;
  width: 117px;
  background: url(../images/tabs/hh/sprites/description.gif);
  background-position: 0 0;
}
.fadeDesc_description * {
  display: none;
}
.fadeDesc_description span.hover {
  display: inline-block;
  height: 30px;
  width: 117px;
  background: url(../images/tabs/hh/sprites/description.gif);
  background-position: 0 -30px;
}
.fadeInp_description {
  display:inline-block;
  height: 30px;
  width: 68px;
  background: url(../images/tabs/hh/sprites/description.gif);
  background-position: -117px 0;
}
.fadeInp_description * {
  display: none;
}
.fadeInp_description span.hover {
  display: inline-block;
  height: 30px;
  width: 68px;
  background-image: url(../images/tabs/hh/sprites/description.gif);
  background-position: -117px -30px;
}
.fadeAlg_description {
  display:inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/description.gif);
  background-position: -185px 0;
}
.fadeAlg_description * {
  display: none;
}
.fadeAlg_description span.hover {
  display: inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/description.gif);
  background-position: -185px -30px;
}
.fadeRef_description {
  display:inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/description.gif);
  background-position: -285px 0;
}
.fadeRef_description * {
  display: none;
}
.fadeRef_description span.hover {
  display: inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/description.gif);
  background-position: -285px -30px;
}
.fadeQAQC_description {
  display:inline-block;
  height: 30px;
  width: 72px;
  background-image: url(../images/tabs/hh/sprites/description.gif);
  background-position: -385px 0;
}
.fadeQAQC_description * {
  display: none;
}
.fadeQAQC_description span.hover {
  display: inline-block;
  height: 30px;
  width: 72px;
  background-image: url(../images/tabs/hh/sprites/description.gif);
  background-position: -385px -30px;
}
.fadeBat_description {
  display:inline-block;
  height: 30px;
  width: 64px;
  background-image: url(../images/tabs/hh/sprites/description.gif);
  background-position: -457px 0;
}
.fadeBat_description * {
  display: none;
}
.fadeBat_description span.hover {
  display: inline-block;
  height: 30px;
  width: 64px;
  background-image: url(../images/tabs/hh/sprites/description.gif);
  background-position: -457px -30px;
}
.fadeHist_description {
  display:inline-block;
  height: 30px;
  width: 80px;
  background-image: url(../images/tabs/hh/sprites/description.gif);
  background-position: -521px 0;
}
.fadeHist_description * {
  display: none;
}
.fadeHist_description span.hover {
  display: inline-block;
  height: 30px;
  width: 80px;
  background-image: url(../images/tabs/hh/sprites/description.gif);
  background-position: -521px -30px;
}
.fadeDesc_input {
  display:inline-block;
  height: 30px;
  width: 117px;
  background: url(../images/tabs/hh/sprites/input.gif);
  background-position: 0 0;
}
.fadeDesc_input * {
  display: none;
}
.fadeDesc_input span.hover {
  display: inline-block;
  height: 30px;
  width: 117px;
  background: url(../images/tabs/hh/sprites/input.gif);
  background-position: 0 -30px;
}
.fadeInp_input {
  display:inline-block;
  height: 30px;
  width: 68px;
  background: url(../images/tabs/hh/sprites/input.gif);
  background-position: -117px 0;
}
.fadeInp_input * {
  display: none;
}
.fadeInp_input span.hover {
  display: inline-block;
  height: 30px;
  width: 68px;
  background-image: url(../images/tabs/hh/sprites/input.gif);
  background-position: -117px -30px;
}
.fadeAlg_input {
  display:inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/input.gif);
  background-position: -185px 0;
}
.fadeAlg_input * {
  display: none;
}
.fadeAlg_input span.hover {
  display: inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/input.gif);
  background-position: -185px -30px;
}
.fadeRef_input {
  display:inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/input.gif);
  background-position: -285px 0;
}
.fadeRef_input * {
  display: none;
}
.fadeRef_input span.hover {
  display: inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/input.gif);
  background-position: -285px -30px;
}
.fadeQAQC_input {
  display:inline-block;
  height: 30px;
  width: 72px;
  background-image: url(../images/tabs/hh/sprites/input.gif);
  background-position: -385px 0;
}
.fadeQAQC_input * {
  display: none;
}
.fadeQAQC_input span.hover {
  display: inline-block;
  height: 30px;
  width: 72px;
  background-image: url(../images/tabs/hh/sprites/input.gif);
  background-position: -385px -30px;
}
.fadeBat_input {
  display:inline-block;
  height: 30px;
  width: 64px;
  background-image: url(../images/tabs/hh/sprites/input.gif);
  background-position: -457px 0;
}
.fadeBat_input * {
  display: none;
}
.fadeBat_input span.hover {
  display: inline-block;
  height: 30px;
  width: 64px;
  background-image: url(../images/tabs/hh/sprites/input.gif);
  background-position: -457px -30px;
}
.fadeHist_input {
  display:inline-block;
  height: 30px;
  width: 80px;
  background-image: url(../images/tabs/hh/sprites/input.gif);
  background-position: -521px 0;
}
.fadeHist_input * {
  display: none;
}
.fadeHist_input span.hover {
  display: inline-block;
  height: 30px;
  width: 80px;
  background-image: url(../images/tabs/hh/sprites/input.gif);
  background-position: -521px -30px;
}
.fadeDesc_algorithm {
  display:inline-block;
  height: 30px;
  width: 117px;
  background: url(../images/tabs/hh/sprites/algorithm.gif);
  background-position: 0 0;
}
.fadeDesc_algorithm * {
  display: none;
}
.fadeDesc_algorithm span.hover {
  display: inline-block;
  height: 30px;
  width: 117px;
  background: url(../images/tabs/hh/sprites/algorithm.gif);
  background-position: 0 -30px;
}
.fadeInp_algorithm {
  display:inline-block;
  height: 30px;
  width: 68px;
  background: url(../images/tabs/hh/sprites/algorithm.gif);
  background-position: -117px 0;
}
.fadeInp_algorithm * {
  display: none;
}
.fadeInp_algorithm span.hover {
  display: inline-block;
  height: 30px;
  width: 68px;
  background-image: url(../images/tabs/hh/sprites/algorithm.gif);
  background-position: -117px -30px;
}
.fadeAlg_algorithm {
  display:inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/algorithm.gif);
  background-position: -185px 0;
}
.fadeAlg_algorithm * {
  display: none;
}
.fadeAlg_algorithm span.hover {
  display: inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/algorithm.gif);
  background-position: -185px -30px;f
}
.fadeRef_algorithm {
  display:inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/algorithm.gif);
  background-position: -285px 0;
}
.fadeRef_algorithm * {
  display: none;
}
.fadeRef_algorithm span.hover {
  display: inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/algorithm.gif);
  background-position: -285px -30px;
}
.fadeQAQC_algorithm {
  display:inline-block;
  height: 30px;
  width: 72px;
  background-image: url(../images/tabs/hh/sprites/algorithm.gif);
  background-position: -385px 0;
}
.fadeQAQC_algorithm * {
  display: none;
}
.fadeQAQC_algorithm span.hover {
  display: inline-block;
  height: 30px;
  width: 72px;
  background-image: url(../images/tabs/hh/sprites/algorithm.gif);
  background-position: -385px -30px;
}
.fadeBat_algorithm {
  display:inline-block;
  height: 30px;
  width: 64px;
  background-image: url(../images/tabs/hh/sprites/algorithm.gif);
  background-position: -457px 0;
}
.fadeBat_algorithm * {
  display: none;
}
.fadeBat_algorithm span.hover {
  display: inline-block;
  height: 30px;
  width: 64px;
  background-image: url(../images/tabs/hh/sprites/algorithm.gif);
  background-position: -457px -30px;
}
.fadeHist_algorithm {
  display:inline-block;
  height: 30px;
  width: 80px;
  background-image: url(../images/tabs/hh/sprites/algorithm.gif);
  background-position: -521px 0;
}
.fadeHist_algorithm * {
  display: none;
}
.fadeHist_algorithm span.hover {
  display: inline-block;
  height: 30px;
  width: 80px;
  background-image: url(../images/tabs/hh/sprites/algorithm.gif);
  background-position: -521px -30px;
}
.fadeDesc_references {
  display:inline-block;
  height: 30px;
  width: 117px;
  background: url(../images/tabs/hh/sprites/references.gif);
  background-position: 0 0;
}
.fadeDesc_references * {
  display: none;
}
.fadeDesc_references span.hover {
  display: inline-block;
  height: 30px;
  width: 117px;
  background: url(../images/tabs/hh/sprites/references.gif);
  background-position: 0 -30px;
}
.fadeInp_references {
  display:inline-block;
  height: 30px;
  width: 68px;
  background: url(../images/tabs/hh/sprites/references.gif);
  background-position: -117px 0;
}
.fadeInp_references * {
  display: none;
}
.fadeInp_references span.hover {
  display: inline-block;
  height: 30px;
  width: 68px;
  background-image: url(../images/tabs/hh/sprites/references.gif);
  background-position: -117px -30px;
}
.fadeAlg_references {
  display:inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/references.gif);
  background-position: -185px 0;
}
.fadeAlg_references * {
  display: none;
}
.fadeAlg_references span.hover {
  display: inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/references.gif);
  background-position: -185px -30px;
}
.fadeRef_references {
  display:inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/references.gif);
  background-position: -285px 0;
}
.fadeRef_references * {
  display: none;
}
.fadeRef_references span.hover {
  display: inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/references.gif);
  background-position: -285px -30px;
}
.fadeQAQC_references {
  display:inline-block;
  height: 30px;
  width: 72px;
  background-image: url(../images/tabs/hh/sprites/references.gif);
  background-position: -385px 0;
}
.fadeQAQC_references * {
  display: none;
}
.fadeQAQC_references span.hover {
  display: inline-block;
  height: 30px;
  width: 72px;
  background-image: url(../images/tabs/hh/sprites/references.gif);
  background-position: -385px -30px;
}
.fadeBat_references {
  display:inline-block;
  height: 30px;
  width: 64px;
  background-image: url(../images/tabs/hh/sprites/references.gif);
  background-position: -457px 0;
}
.fadeBat_references * {
  display: none;
}
.fadeBat_references span.hover {
  display: inline-block;
  height: 30px;
  width: 64px;
  background-image: url(../images/tabs/hh/sprites/references.gif);
  background-position: -457px -30px;
}
.fadeHist_references {
  display:inline-block;
  height: 30px;
  width: 80px;
  background-image: url(../images/tabs/hh/sprites/references.gif);
  background-position: -521px 0;
}
.fadeHist_references * {
  display: none;
}
.fadeHist_references span.hover {
  display: inline-block;
  height: 30px;
  width: 80px;
  background-image: url(../images/tabs/hh/sprites/references.gif);
  background-position: -521px -30px;
}
.fadeDesc_qaqc {
  display:inline-block;
  height: 30px;
  width: 117px;
  background: url(../images/tabs/hh/sprites/qaqc.gif);
  background-position: 0 0;
}
.fadeDesc_qaqc * {
  display: none;
}
.fadeDesc_qaqc span.hover {
  display: inline-block;
  height: 30px;
  width: 117px;
  background: url(../images/tabs/hh/sprites/qaqc.gif);
  background-position: 0 -30px;
}
.fadeInp_qaqc {
  display:inline-block;
  height: 30px;
  width: 68px;
  background: url(../images/tabs/hh/sprites/qaqc.gif);
  background-position: -117px 0;
}
.fadeInp_qaqc * {
  display: none;
}
.fadeInp_qaqc span.hover {
  display: inline-block;
  height: 30px;
  width: 68px;
  background-image: url(../images/tabs/hh/sprites/qaqc.gif);
  background-position: -117px -30px;
}
.fadeAlg_qaqc {
  display:inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/qaqc.gif);
  background-position: -185px 0;
}
.fadeAlg_qaqc * {
  display: none;
}
.fadeAlg_qaqc span.hover {
  display: inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/qaqc.gif);
  background-position: -185px -30px;
}
.fadeRef_qaqc {
  display:inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/qaqc.gif);
  background-position: -285px 0;
}
.fadeRef_qaqc * {
  display: none;
}
.fadeRef_qaqc span.hover {
  display: inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/qaqc.gif);
  background-position: -285px -30px;
}
.fadeQAQC_qaqc {
  display:inline-block;
  height: 30px;
  width: 72px;
  background-image: url(../images/tabs/hh/sprites/qaqc.gif);
  background-position: -385px 0;
}
.fadeQAQC_qaqc * {
  display: none;
}
.fadeQAQC_qaqc span.hover {
  display: inline-block;
  height: 30px;
  width: 72px;
  background-image: url(../images/tabs/hh/sprites/qaqc.gif);
  background-position: -385px -30px;
}
.fadeBat_qaqc {
  display:inline-block;
  height: 30px;
  width: 64px;
  background-image: url(../images/tabs/hh/sprites/qaqc.gif);
  background-position: -457px 0;
}
.fadeBat_qaqc * {
  display: none;
}
.fadeBat_qaqc span.hover {
  display: inline-block;
  height: 30px;
  width: 64px;
  background-image: url(../images/tabs/hh/sprites/qaqc.gif);
  background-position: -457px -30px;
}
.fadeHist_qaqc {
  display:inline-block;
  height: 30px;
  width: 80px;
  background-image: url(../images/tabs/hh/sprites/qaqc.gif);
  background-position: -521px 0;
}
.fadeHist_qaqc * {
  display: none;
}
.fadeHist_qaqc span.hover {
  display: inline-block;
  height: 30px;
  width: 80px;
  background-image: url(../images/tabs/hh/sprites/qaqc.gif);
  background-position: -521px -30px;
}
.fadeDesc_batchinput {
  display:inline-block;
  height: 30px;
  width: 117px;
  background: url(../images/tabs/hh/sprites/batchinput.gif);
  background-position: 0 0;
}
.fadeDesc_batchinput * {
  display: none;
}
.fadeDesc_batchinput span.hover {
  display: inline-block;
  height: 30px;
  width: 117px;
  background: url(../images/tabs/hh/sprites/batchinput.gif);
  background-position: 0 -30px;
}
.fadeInp_batchinput {
  display:inline-block;
  height: 30px;
  width: 68px;
  background: url(../images/tabs/hh/sprites/batchinput.gif);
  background-position: -117px 0;
}
.fadeInp_batchinput * {
  display: none;
}
.fadeInp_batchinput span.hover {
  display: inline-block;
  height: 30px;
  width: 68px;
  background-image: url(../images/tabs/hh/sprites/batchinput.gif);
  background-position: -117px -30px;
}
.fadeAlg_batchinput {
  display:inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/batchinput.gif);
  background-position: -185px 0;
}
.fadeAlg_batchinput * {
  display: none;
}
.fadeAlg_batchinput span.hover {
  display: inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/batchinput.gif);
  background-position: -185px -30px;
}
.fadeRef_batchinput {
  display:inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/batchinput.gif);
  background-position: -285px 0;
}
.fadeRef_batchinput * {
  display: none;
}
.fadeRef_batchinput span.hover {
  display: inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/batchinput.gif);
  background-position: -285px -30px;
}
.fadeQAQC_batchinput {
  display:inline-block;
  height: 30px;
  width: 72px;
  background-image: url(../images/tabs/hh/sprites/batchinput.gif);
  background-position: -385px 0;
}
.fadeQAQC_batchinput * {
  display: none;
}
.fadeQAQC_batchinput span.hover {
  display: inline-block;
  height: 30px;
  width: 72px;
  background-image: url(../images/tabs/hh/sprites/batchinput.gif);
  background-position: -385px -30px;
}
.fadeBat_batchinput {
  display:inline-block;
  height: 30px;
  width: 64px;
  background-image: url(../images/tabs/hh/sprites/batchinput.gif);
  background-position: -457px 0;
}
.fadeBat_batchinput * {
  display: none;
}
.fadeBat_batchinput span.hover {
  display: inline-block;
  height: 30px;
  width: 64px;
  background-image: url(../images/tabs/hh/sprites/batchinput.gif);
  background-position: -457px -30px;
}
.fadeHist_batchinput {
  display:inline-block;
  height: 30px;
  width: 80px;
  background-image: url(../images/tabs/hh/sprites/batchinput.gif);
  background-position: -521px 0;
}
.fadeHist_batchinput * {
  display: none;
}
.fadeHist_batchinput span.hover {
  display: inline-block;
  height: 30px;
  width: 80px;
  background-image: url(../images/tabs/hh/sprites/batchinput.gif);
  background-position: -521px -30px;
}
.fadeDesc_history {
  display:inline-block;
  height: 30px;
  width: 117px;
  background: url(../images/tabs/hh/sprites/history.gif);
  background-position: 0 0;
}
.fadeDesc_history * {
  display: none;
}
.fadeDesc_history span.hover {
  display: inline-block;
  height: 30px;
  width: 117px;
  background: url(../images/tabs/hh/sprites/history.gif);
  background-position: 0 -30px;
}
.fadeInp_history {
  display:inline-block;
  height: 30px;
  width: 68px;
  background: url(../images/tabs/hh/sprites/history.gif);
  background-position: -117px 0;
}
.fadeInp_history * {
  display: none;
}
.fadeInp_history span.hover {
  display: inline-block;
  height: 30px;
  width: 68px;
  background-image: url(../images/tabs/hh/sprites/history.gif);
  background-position: -117px -30px;
}
.fadeAlg_history {
  display:inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/history.gif);
  background-position: -185px 0;
}
.fadeAlg_history * {
  display: none;
}
.fadeAlg_history span.hover {
  display: inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/history.gif);
  background-position: -185px -30px;
}
.fadeRef_history {
  display:inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/history.gif);
  background-position: -285px 0;
}
.fadeRef_history * {
  display: none;
}
.fadeRef_history span.hover {
  display: inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/history.gif);
  background-position: -285px -30px;
}
.fadeQAQC_history {
  display:inline-block;
  height: 30px;
  width: 72px;
  background-image: url(../images/tabs/hh/sprites/history.gif);
  background-position: -385px 0;
}
.fadeQAQC_history * {
  display: none;
}
.fadeQAQC_history span.hover {
  display: inline-block;
  height: 30px;
  width: 72px;
  background-image: url(../images/tabs/hh/sprites/history.gif);
  background-position: -385px -30px;
}
.fadeBat_history {
  display:inline-block;
  height: 30px;
  width: 64px;
  background-image: url(../images/tabs/hh/sprites/history.gif);
  background-position: -457px 0;
}
.fadeBat_history * {
  display: none;
}
.fadeBat_history span.hover {
  display: inline-block;
  height: 30px;
  width: 64px;
  background-image: url(../images/tabs/hh/sprites/history.gif);
  background-position: -457px -30px;
}
.fadeHist_history {
  display:inline-block;
  height: 30px;
  width: 80px;
  background-image: url(../images/tabs/hh/sprites/history.gif);
  background-position: -521px 0;
}
.fadeHist_history * {
  display: none;
}
.fadeHist_history span.hover {
  display: inline-block;
  height: 30px;
  width: 80px;
  background-image: url(../images/tabs/hh/sprites/history.gif);
  background-position: -521px -30px;
}
.fadeDesc_output {
  display:inline-block;
  height: 30px;
  width: 117px;
  background: url(../images/tabs/hh/sprites/output.gif);
  background-position: 0 0;
}
.fadeDesc_output * {
  display: none;
}
.fadeDesc_output span.hover {
  display: inline-block;
  height: 30px;
  width: 117px;
  background: url(../images/tabs/hh/sprites/output.gif);
  background-position: 0 -30px;
}
.fadeInp_output {
  display:inline-block;
  height: 30px;
  width: 68px;
  background: url(../images/tabs/hh/sprites/output.gif);
  background-position: -117px 0;
}
.fadeInp_output * {
  display: none;
}
.fadeInp_output span.hover {
  display: inline-block;
  height: 30px;
  width: 68px;
  background-image: url(../images/tabs/hh/sprites/output.gif);
  background-position: -117px -30px;
}
.fadeOut_output {
  display:inline-block;
  height: 30px;
  width: 72px;
  background: url(../images/tabs/hh/sprites/output.gif);
  background-position: -185px 0;
}
.fadeOut_output * {
  display: none;
}
.fadeOut_output span.hover {
  display: inline-block;
  height: 30px;
  width: 72px;
  background-image: url(../images/tabs/hh/sprites/output.gif);
  background-position: -185px -30px;
}
.fadeAlg_output {
  display:inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/output.gif);
  background-position: -257px 0;
}
.fadeAlg_output * {
  display: none;
}
.fadeAlg_output span.hover {
  display: inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/output.gif);
  background-position: -257px -30px;
}
.fadeRef_output {
  display:inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/output.gif);
  background-position: -357px 0;
}
.fadeRef_output * {
  display: none;
}
.fadeRef_output span.hover {
  display: inline-block;
  height: 30px;
  width: 100px;
  background-image: url(../images/tabs/hh/sprites/output.gif);
  background-position: -357px -30px;
}
.fadeQAQC_output {
  display:inline-block;
  height: 30px;
  width: 72px;
  background-image: url(../images/tabs/hh/sprites/output.gif);
  background-position: -457px 0;
}
.fadeQAQC_output * {
  display: none;
}
.fadeQAQC_output span.hover {
  display: inline-block;
  height: 30px;
  width: 72px;
  background-image: url(../images/tabs/hh/sprites/output.gif);
  background-position: -457px -30px;
}
.fadeBat_output {
  display:inline-block;
  height: 30px;
  width: 64px;
  background-image: url(../images/tabs/hh/sprites/output.gif);
  background-position: -529px 0;
}
.fadeBat_output * {
  display: none;
}
.fadeBat_output span.hover {
  display: inline-block;
  height: 30px;
  width: 64px;
  background-image: url(../images/tabs/hh/sprites/output.gif);
  background-position: -529px -30px;
}
.fadeHist_output {
  display:inline-block;
  height: 30px;
  width: 80px;
  background-image: url(../images/tabs/hh/sprites/output.gif);
  background-position: -593px 0;
}
.fadeHist_output * {
  display: none;
}
.fadeHist_output span.hover {
  display: inline-block;
  height: 30px;
  width: 80px;
  background-image: url(../images/tabs/hh/sprites/output.gif);
  background-position: -593px -30px;
}

/* HH Header Right Side */

#header_menu_r {
  width: 160px;
  height: 30px;
  background: #A31E39;
  float: left;
  border-radius: 0 0 4px 0;
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  /*box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;*/
}
.headerbar{
  font-size: 11px;
  color: #FFFFFF;
  background: #485C5A;
  margin: 0 0 2px 0;
  text-transform: uppercase;
  padding: 5px 0 5px 8px;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  /*box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;*/
}
.urbangreymenu a:visited {
  color: #485C5A;
}
.urbangreymenu a:link {
  color: #485C5A;
}
.urbangreymenu a:hover {
  color: #485C5A;
}
.fadeMenu {
  color: #485C5A;
  background: rgb(197,207,204);
}
.urbangreymenu a.aSelected {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #A31E39;
}
.tabUnsel {
  color: #333333;
}
.tabSel {
  color: #A31E39;
}

/* Tables */

table,td
{
  border: 1px solid black;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: white;
  border-collapse: separate;
  background-color: rgb(197,207,204);
}
table
{
  background-color: rgb(197,207,204);
  padding: 1px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
th {
  background-color: rgb(197,207,204);
  border: none;
  text-align: center;
  padding: 1px 4px;
}

/* 06hh_uberfooter.html */

#footer {
  clear: both;
  background: #A31E39;
  width: 1016px;
  height: 31px;
  padding: 4px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;
}

/* Contact Us */

#sortable li {
  margin: 3px 3px 3px 0;
  padding: 1px;
  float: left;
  width: 35px;
  height: 35px;
  font-size: 20px;
  text-align: center;
  line-height:35px;
  cursor:pointer;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  background:#A31E39;
  color:#fff;
  font-weight:normal;
}