.chart {}
#scatter-chart {
  height: 100%;
  width: 100%;
}
.main text {
	font: 10px sans-serif;	
}
path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
.axis line, .axis path {
	shape-rendering: crispEdges;
	stroke: black;
	fill: none;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}
circle {
	fill: steelblue;
}
.bar rect {
  fill: steelblue;
}

.bar text {
  /*fill: #fff;*/
  fill: black;
  font: 10px sans-serif;
  font-weight: bold;
}

/* prettifying POST json */
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }


div#color-codes {
  background-color:#e5e5e5;
  display: inline-block;
}

#color-codes p {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  /*background-color:#e5e5e5;*/
}