/* Reset */

*{
  padding: 0;
  margin: 0 auto 0 auto;  /* changed to shorthand */
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* General */

body {
  text-align: center;  /* Container: IE Hack */
  /*background: #356697;*/
  background-color: #F4F7ED;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
}
p {
  font-size: 13px;
}
#container_landing {
  width: 680px;
  text-align: left;    /* IE Hack */
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -307px 0 0 -340px;
}
#container {
  width: 1024px;
  margin: 4px auto 8px auto;
  text-align: left;    /* IE Hack */
  /*border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;*/
  /*box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;*/
}
img {
  border: none;
}
h3 {
  margin: 1em 0;
  font-weight: 700;
  font-size: 1.1em;
}
td {
  padding: 1px 4px;
}

/* Landing Page */

#landing_ctslogo {
  width: 192px;
  height: 192px;
  border: none;
  margin-bottom: 48px;
  /*border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;*/
  background: #F4F7ED url(/static_qed/cts/images/logo_landing.png) no-repeat;
}
#landing_links {
  width: 334px;
  height: 334px;
  margin-bottom: 16px;
}
/*#eco {
  width: 334px;
  height: 334px;
  float: left;
  background: url(/static_qed/cts/images/eco.gif);
  margin-right: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;
}
#hh {
  width: 334px;
  height: 334px;
  float: left;
  background: url(/static_qed/cts/images/hh.gif);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;
}*/
/*#pop {
  width: 334px;
  height: 334px;
  float: left;
  background: url(/static_qed/cts/images/pop.gif);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;
}*/
#cts {
  width: 334px;
  height: 334px;
  float: left;
  background: url(/static_qed/cts/images/cts.gif);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;
}
#landing_text {
  position: relative;
  width: 334px;
  /*border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;*/
}
#landing_text_cts {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 120%;
  font-size: 2em;
  font-weight: 700;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
#landing_text_long {
  position: absolute;
  top: 0;
  left: 2.2em;
  line-height: 120%;
  font-size: 2em;
  font-weight: 700;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
#landing_links ul {
  list-style: none;
}
#landing_links ul li {
  display: inline;
  position: relative;
}

/* Shared CSS */

#home {
  float: right;
  /*margin-top: 38px;*/
}
#home_text {
  width: 0;
  white-space: nowrap;
  display: none;
  float: right;
  padding: 5px 0 0 0;
}
#about {
  float: right;
}
#about_text {
  width: 0;
  white-space: nowrap;
  display: none;
  float: right;
  padding: 5px 0 0 0;
}
#header_menu_nav ul {
  padding-left: 170px;
}
#header_menu_nav ul li {
  display: inline;
}
#header_menu_nav ul li a {
  margin: 0;
  padding:0;
  float: left;
}
#header_menu_nav ul li#output_tab {
  display: none;
}
span {
  cursor: hand; 
  cursor: pointer;
}
#header_menu_r ul {
  font-size: 13px;
  padding-left: 0;
  text-align: left;
  margin-top: 0.4em;
}
#header_menu_r li {
  display: inline;
  color: white;
  /*padding-left: 20px;*/
  float:right;
  padding-right:5px;
}
#header_menu_r li a {
  color: white;
}

/* Below Header */

.left {
  float: left;
  text-align: justify;
  margin-top: 0;
  display: inline;
  /*margin-bottom: 5px;
  border-left: 5px solid #F7F9F4;
  border-top: 5px solid #F7F9F4;
  border-bottom: 5px solid #F7F9F4;
  border-right: 5px solid #F7F9F4;
  border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;*/
}
.left h2 {
  color: #F4F7ED;
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 100;
  padding : 10px 0 15px 0;
}
.left ul {
  list-style-type: square;
  padding: 5px 10px 10px 20px;
}
.right {
  float: right;
  text-align: justify;
  margin-top: 0;
  display: inline;
  /*margin-bottom: 5px;
  border-right: 5px solid #F7F9F4;
  border-top: 5px solid #F7F9F4;
  border-bottom: 5px solid #F7F9F4;
  border-left: 5px solid #F7F9F4;
  border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;*/
}
.right h2 {
  color: #F4F7ED;
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 100;
  padding: 10px 0 15px 0;
}
.right ul {
  list-style-type: square;
  padding: 5px 10px 10px 20px;
}
.right_tt {
  display: none;
}
.urbangreymenu{
  width: 160px;
  float: left;
  text-align: left;
  margin-top: 4px;
}
.urbangreymenu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.urbangreymenu ul li{
  padding-bottom: 2px;
}
.urbangreymenu a{
  display: block;
  padding: 5px 0 5px 8px;
  line-height: 14px;
}
.submenu_last {
  margin-bottom: 2px;
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  box-shadow: 0 3px 15px -7px #000;
  -webkit-box-shadow: 0 3px 15px -7px #000;
  -moz-box-shadow: 0 3px 15px -7px #000;
}
.articles {
  width: 654px;
  display: inline;
  float: left;
  margin: 8px;
  padding: 12px 16px;
  background-color: #F7F9F4;
  /*border-bottom: 1px solid #A1A1A1;
  margin-bottom: 5px;*/
  border-radius: 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;
}
.articles p {
  margin: 1em 0;
  /*font-size: 12px;*/
}
.articles img {
  margin: 0 0 0 1.5em;
  max-width: 635px;
}
ul.bullet {
  padding: 0 2em;
  /*font-size*/: 12px;
}
ul.nobullet {
  list-style: none;
  padding: 0 2em;
  /*font-size*/: 12px;
}
.articles ol {
  padding: 0 2em;
  /*font-size*/: 12px;
}
.articles li {
  margin-top: 0.5em;
  font-size: 12px;
}
.articles_input {
  width: 822px;
  display: inline;
  float: left;
  position: relative;
  margin: 8px 0 8px 8px;
  padding: 12px 16px;
  background-color: #F7F9F4;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;
}
.articles_input p {
  margin: 1em 30px;
}
.articles_input img {
  margin: 0 0 0 1.5em;
  /*max-width: 640px;*/
}
.articles_input table {
  margin-top: 20px;
  text-align: left;
}
.articles_input h3 {
  text-align: left;
  margin: 4px 0 4px 0;
}
.articles_input h4 {
  text-align: left;
  margin: 4px 0 4px 14px;
}
.articles_input ol {
  padding: 0 2em;
  /*font-size*/: 12px;
}
.articles_input li {
  margin-top: 0.5em;
  /*font-size*/: 12px;
}
.articles_input span {
  cursor: text;
}
.input_nav ul {
  text-align: center;
}
.input_nav li {
  display: inline;
  font-weight:bold;
  list-style: none;
  cursor: hand;
  cursor: pointer;
}
.error{
  border-color: #F78181;
  color:red;
}
.articles_output {
  width: 822px;
  display: inline;
  float: left;
  position: relative;
  margin: 8px 0 8px 8px;
  padding: 12px 16px;
  background-color: #F7F9F4;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;
}
.articles_output p {
  margin: 1em 30px;
}
.articles_output img {
  margin: 0 0 0 1.5em;
  /*max-width: 640px;*/
}
.articles_output table {
  margin-left: 30px;
  text-align: left;
}
.articles_output h3 {
  text-align: left;
  margin: 4px 0 4px 0;
}
.articles_output h4 {
  text-align: left;
  margin: 4px 0 4px 14px;
}
.articles_output ol {
  padding: 0 2em;
  /*font-size*/: 12px;
}
.articles_output li {
  margin-top: 0.5em;
  /*font-size*/: 12px;
}
.articles_output span {
  cursor: text;
}
.input_left {
  float: left;
  margin-left: 35px;
}
.input_right {
  float: right;
  margin-right: 35px;
}
.input_submit {
  text-align: center;
}
.input_button {
  padding: 2px 4px;
}
.right_tt {
  float: left;
  position: relative;
  /*text-align: justify;*/
  margin-top: 0;
  width: 140px;
  /*text-align: left;*/
  margin-top: 4px;
  display: inline;
}
.tooltips {
  position: absolute;
  /*height: 40px;*/
  padding: 10px;
  width: 100%;
  background-color: #F9FBF6;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;
}
#export_menu {
  top: 8px;
  right: 8px;
  padding-left: 3px;
  position: absolute;
  z-index: 999;
}
#export_menu ul li{
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}
#export_menu span {
  cursor: pointer;
}
#fadeExport_pdf {
  display: inline-block;
  height: 38px;
  width: 34px;
  background: url(/static_qed/cts/images/export/export_sprite_small_new.gif) no-repeat;
  background-position: 0 0;
}
#fadeExport_pdf * {
  display: none;
}
#fadeExport_pdf span.hover {
  display: inline-block;
  height: 38px;
  width: 34px;
  background: url(/static_qed/cts/images/export/export_sprite_small_new.gif) no-repeat;
  background-position: 0 -38px;
}
#fadeExport_html {
  display: inline-block;
  height: 38px;
  width: 34px;
  background: url(/static_qed/cts/images/export/export_sprite_small_new.gif) no-repeat;
  background-position: -34px 0;
}
#fadeExport_html * {
  display: none;
}
#fadeExport_html span.hover {
  display: inline-block;
  height: 38px;
  width: 34px;
  background: url(/static_qed/cts/images/export/export_sprite_small_new.gif) no-repeat;
  background-position: -34px -38px;
}
#fadeExport_csv {
  display: inline-block;
  height: 38px;
  width: 34px;
  background: url(/static_qed/cts/images/export/export_sprite_small_new.gif) no-repeat;
  background-position: -68px 0;
}
#fadeExport_csv * {
  display: none;
}
#fadeExport_csv span.hover {
  display: inline-block;
  height: 38px;
  width: 34px;
  background: url(/static_qed/cts/images/export/export_sprite_small_new.gif) no-repeat;
  background-position: -68px -38px;
}
.popup {
  background-color: #F9FBF6;
  margin: auto;
  padding: 0;
  border: 0 none;
  width: 400px;
  display: none;
  z-index: 999999;
}
#popup_loader {
  background: url(/static_qed/cts/images/loader.gif);
  width: 32px;
  height: 32px;
  margin-top: 16px;
  z-index: 9999999;
}
#popup_link {
  position: fixed;
  z-index: 9999;
  width: 400px;
  height: 60px;
  text-align: center;
  padding: 30px 20px;
  background-color: #F9FBF6;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 3px 3px 15px #333;
  -webkit-box-shadow: 3px 3px 15px #333;
  -moz-box-shadow: 3px 3px 15px #333;
}
.exit_button {
  text-align: right;
  position: absolute;
  display: none;
  cursor: hand;
  cursor: pointer;
  margin-left: 204px;
  margin-top: -46px;
  z-index: 99999;
}
.collapse-open span {
    background:url(/static_qed/cts/images/collapsible/minus.gif) center left no-repeat;
    display: block;
    float: left;
    padding: 9px 8px;
    cursor: default;
}
.collapse-close span {
    background:url(/static_qed/cts/images/collapsible/plus.gif) center left no-repeat;
    display: block;
    float: left;
    padding: 9px 8px;
    cursor: default;
}
#footer li {
  display: inline;
}
#footer img {
  width: 88px;
  height: 31px;
}
#form1 label.error {
  width: 200px;
  display: block;
  float: right;
  color: red;
  padding-left: 10px;
}
#sortable {
  list-style-type: none;
  margin: 5px 0px 0px 16px;
  padding: 0;
}
.captcha_wrap{
  border:1px solid #fff;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  float:left;
  height:120px;
  overflow:auto;
  width:150px;
  overflow:hidden;
  margin:0px 0px 0px 210px;
  background-color:#fff;
}
.captcha{
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  /*font-size*/:12px;
  color:#BBBBBB;
  text-align: center;
  border-bottom:1px solid #CCC;
  background-color:#fff;
}
