#cont {
    width: 815px;
    height: 600px;
    margin:0 auto;
    position:relative;
}

#center-cont {
    width:815px;
    height:600px;
    position:absolute;
    overflow: auto;
    top:0;
    left:0px;
    /*background-color:#1a1a1a;*/ /*original off-black*/
    /*background-color: #F4F7ED;*/ /*white from site background*/
    /*background-color: #dee7ef; /*left links color*/
    background-color: #9AB2CB;
    /*color:#ccc;*/

    border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 3px 3px 15px #CCC;
  -webkit-box-shadow: 3px 3px 15px #CCC;
  -moz-box-shadow: 3px 3px 15px #CCC;
    
}

/* reaction pathways ui styling */
div#reactionpathways {
    /*height: 80px;*/
    /*height: 100px;*/
    height: 200px;
    width:815px;
    /*margin: 4px;*/
    /*background-color: #9AB2CB;*/
    background-color: #FFFFFF;
    color:#ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    vertical-align: bottom;
    box-shadow: 3px 3px 15px #CCC;
    -webkit-box-shadow: 3px 3px 15px #CCC;
    -moz-box-shadow: 3px 3px 15px #CCC;
}
#reactionpathways img {
    float: left;
    display: inline-block;
    margin-top: 10px;
    vertical-align: middle;
}
.reactpath_arrow {
    /*margin-top: 15px*/
    /*margin-top: 30px*/
}
#arrow_wrap {
    height: 60px;
    max-height: 120px;
    float: left;
    text-align: center;
    position: relative;
    width: 70px;
    padding-top: 30px;
}
#arrow_wrap p {
    color: #000000;
    font-size: 10px;
    margin: auto;
    display: inline-block;
}
#arrow_wrap img {
    width:70px;
    height:15px;
    display: inline-block;
    margin: auto;
}
.rp-image {
    /*height: 60px;*/
    /*width: 50px;*/
    margin-top: 20px;
    float: left;
    text-align: center;
}
.rp-image p {
    color: #000000;
    font-size: 12px;
    margin: auto;
}


.text {
    margin: 7px;
}

#inner-details {
    font-size:0.8em;
    list-style:none;
    margin:7px;
}

#log {
    position:absolute;
    top:6px;
    font-size:1.0em;
    font-weight:bold;
    width: 300px;
    /*color:#23A4FF;*/
    color:#1a1a1a;
}

#zoom-controls {
    /*position:absolute;*/
    padding-right: 8px;
    position: relative;
    float: right;
    top:8px;
    font-size:1.4em;
    font-weight: bold;
    /*width: 300px;*/
    /*color:#23A4FF;*/
    color:#1a1a1a;
}


#infovis {
    position:relative;
    width:750px;
    height:600px;
    /*width: 800px;*/
    /*height: 4000px;*/
    margin:auto;
    /*overflow:hidden;*/
    /*overflow:auto;*/
}

#infovis img {
    padding:0;
    margin:0;
}

#reaction_pathways {
    background-color: white;
    padding: 6px;
}

/*TOOLTIPS*/
.tip {
    color: #111;
    /*width: 139px;*/
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}

/*metabolites nav directions*/
#nav-info ul {
    padding: 2px;
    padding-left: 36px;
}

/* right-clicked metabolite on gentrans output */
.selectedMetabolite {
  outline: 4px solid red;
}

/* border for product with accumulation > 10% */
.likelyProduct {
    border: 4px solid #0071bc;
}