<!DOCTYPE html>
<!-- Ubertool Landing Page -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
  <title> &uuml;bertool </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
<!-- Custom styles for this template -->
  <link href="/stylesheets/starter-template.css" rel="stylesheet">
<!-- Import Google Analytics -->
  <script src="/stylesheets/scripts_googleanal.js" type="text/javascript"></script>
<!-- Import jQuery library -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- import Javascripts -->
  <script src="/stylesheets/scripts_landing.js" type="text/javascript"></script>  
<!-- Browser FAVICON -->
  <LINK REL="SHORTCUT ICON" HREF="http://www.ubertool.org/images/favicon/landing/favicon.ico">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
<!-- ubertool style -->
  <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>

  <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- <a class="navbar-brand" href="#"> &uuml;bertool: Environmental Assesment Web Tools </a> -->
          <h3 id="landing_text"> &uuml;bertool: Environmental Assesment Web Tools </h3>
        </div>
      </div>
    </div>

  <div id="container-fluid">
    <!-- <div id="landing_uberlogo"> -->
      <!-- <img src="/images/logo.png" alt="&uuml;bertool" id="logo"> -->
    <!-- </div> --> <!-- Uberlogo -->
    <!-- <div id="landing_links"> -->
    <div id="row">
      <div class="col-sm-6 col-lg-3"><a href="http://pypest.appspot.com/"><img src="/images/eco.gif" class="img-responsive img-rounded" id="eco"></a></div>
      <div class="col-sm-6 col-lg-3"><a href="http://ubertool-orca.appspot.com/"><img src="/images/hh.gif" class="img-responsive img-rounded" id="hh"></a></div>
      <div class="col-sm-6 col-lg-3"><a href="http://untertool.appspot.com/"><img src="/images/unter.gif" class="img-responsive img-rounded" id="unter"></a></div>
      <div class="col-sm-6 col-lg-3"><a href="http://ubertool-pop.appspot.com/"><img src="/images/pop.gif" class="img-responsive img-rounded" id="pop"></a></div>
      <div class="col-sm-6 col-lg-3"><a href="http://ubertool-cts.appspot.com/"><img src="/images/cts.gif" class="img-responsive img-rounded" id="cts"></a></div>
      <div class="col-sm-6 col-lg-3"><a href="http://ubertool-esm.appspot.com/"><img src="/images/esm.gif" class="img-responsive img-rounded" id="esm"></a></div>
      <div class="col-sm-6 col-lg-3"><a href="http://ubertool-d4em.appspot.com/"><img src="/images/d4em.gif" class="img-responsive img-rounded" id="d4em"></a></div>
      <div class="col-sm-6 col-lg-3"><a href="http://ubertool-webice.appspot.com/"><img src="/images/webice.gif" class="img-responsive img-rounded" id="webice"></a></div>
    </div>
  </div> <!-- Container -->

  

</body>

</html>
<!-- End Ubertool Landing Page -->  