<!--start 02hh_uberintroblock_wmodellinks-->

<!-- "Click" Menus -->
  <script type="text/javascript">
    var pathArray = window.location.pathname.split( '/' );
    var pathLink = pathArray[1];
    var pathSlice = pathLink.slice(0, -5);
    $( document ).ready(function() {
      $('a#{{model}}').addClass('aSelected');
      $('li#' + pathSlice).addClass('liSelected');
	  $('#{{model}}_output').css('display', (pathSlice == '{{model}}_output') ? 'inline' : 'none');
    });
  </script>

<!-- Header Menu Bar -->
<div id="header_menu_c">
 <!--<img src="/images/tabs/hh_tabs_test.gif" alt="tab_nav">-->
  <ul>
    <li id="{{model}}_description"><a href="{{model}}_description.html">Description</a></li>
	<li id="{{model}}_input"><a href="{{model}}_input.html">Inputs</a></li>
	<li id="{{model}}_output">Outputs</a></li>
	<li id="{{model}}_algorithms"><a href="{{model}}_algorithms.html">Algorithms</a></li>
	<li id="{{model}}_references"><a href="{{model}}_references.html">References</a></li>
	<li id="{{model}}_qaqc"><a href="{{model}}_qaqc.html">QA/QC</a></li>
	<li id="{{model}}_batchinput"><a href="{{model}}_batchinput.html">Batch</a></li>
  </ul>
    
  
 
</div>
<div id="header_menu_r">
  <ul>
    <li><a href="http://ubertool.github.com/" target="_blank">BLOG</a></li>
	<li>|</li>
	<li><a href="contactus_input.html">Contact Us</a></li>
  </ul>
</div>

<!-- Spacer -->
<div id="spacer"></div>

<table width=1024px bgcolor=#F4F7ED border-style=none>
  <tr VALIGN=TOP>
    <td width=182px>
<!--end 02hh_uberintroblock_wmodellinks-->


