<!--start 02hh_uberintroblock_nomodellinks-->

<!-- "Click" Menus -->
<script type="text/javascript">
$( document ).ready(function() {
	$('.fadeMenu').hover(function(){
		$(this).stop().animate({ backgroundColor:'rgb(163,30,57)', color:'#FFFFFF'},500);
	}, function(){
		$(this).stop().animate({ backgroundColor:'rgb(197,207,204)', color:'#485C5A'},500);
	});
});
</script>

<!-- Header Menu Bar -->
<div id="header_menu_nav">
  <ul></ul>
</div>      
<div id="header_menu_r">
  <ul>
    <li><a href="http://ubertool.github.com/" target="_blank">Blog</a></li>
	<li>|</li>
    <li><a href="contactus_hh_input.html">Contact Us</a></li>
  </ul>
</div>

<!--end 02hh_uberintroblock_nomodellinks-->