<!--start 02hh_uberintroblock_wmodellinks-->

<!-- "Click" Menus -->
<script type="text/javascript">	
$( document ).ready(function() {
	$('a#{{model}}').removeClass('fadeMenu').addClass('aSelected');
	$('#output_tab').css('display', (pathSlice == '{{model}}_output') ? 'inline' : 'none');
	
	if ($('a#{{model}}').hasClass('aSelected')) {
		$('.fadeMenu').hover(function(){
			$(this).stop().animate({ backgroundColor:'rgb(163,30,57)', color:'#FFFFFF'},500);
		}, function(){
			$(this).stop().animate({ backgroundColor:'rgb(197,207,204)', color:'#485C5A'},500);
		});
	}
});
</script>

<!-- Header Nav Bar -->
<div id="header_menu_nav">
  <ul>
	<li><a class="fadeDesc_{{page}}" href="{{model}}_description.html"><span></span></a></li>
	<li><a class="fadeInp_{{page}}" href="{{model}}_input.html"><span></span></a></li>
	<li id="output_tab"><a class="fadeOut_{{page}}" href=#><span></span></a></li>
	<li><a class="fadeAlg_{{page}}" href="{{model}}_algorithms.html"><span></span></a></li>
	<li><a class="fadeRef_{{page}}" href="{{model}}_references.html"><span></span></a></li>
	<li><a class="fadeQAQC_{{page}}" href="{{model}}_qaqc.html"><span></span></a></li>
	<li><a class="fadeBat_{{page}}" href="{{model}}_batchinput.html"><span></span></a></li>
	<li><a class="fadeHist_{{page}}" href="{{model}}_history.html"><span></span></a></li>
  </ul>
</div>

<div id="header_menu_r">
  <ul>
    <li><a href="http://ubertool.github.com/" target="_blank">Blog</a></li>
	<li>|</li>
    <li><a href="contactus_hh_input.html">Contact Us</a></li>
  </ul>
</div>

<!--end 02hh_uberintroblock_wmodellinks-->
