<!--start 02hh_uberintroblock_nomodellinks-->

<!-- "Click" Menus -->
  <script type="text/javascript">
    $( document ).ready(function() {
      $('a#{{model}}').addClass('aSelected');
      $('li#' + pathId).addClass('liSelected');
    });
  </script>

<!-- Header Menu Bar -->
<div id="header_menu_nav">
  <ul></ul>
</div>      
<div id="header_menu_r">
  <ul>
    <li><a href="http://ubertool.github.com/" target="_blank">blog</a>
    |
    <a href="/_ah/stats/">appstats</a>
    |
    <a href="contactus_hh_input.html">contact</a>
    </li>
  </ul>
</div>

<!--end 02hh_uberintroblock_nomodellinks-->
