<!--start 02hh_uberintroblock_wmodellinks-->

<!-- "Click" Menus -->
<script type="text/javascript">
    $( document ).ready(function() {
		$('a#{{model}}').addClass('aSelected');
		$('li#' + pathSlice).addClass('liSelected');
		$('#output_tab').css('display', (pathSlice == '{{model}}_output') ? 'inline' : 'none');

		$('.fadeThis').append('<span class="hover"></span>').each(function () {
		var $span = $('> span.hover', this).css('opacity', 0);
		$(this).hover(function () {
			$span.stop().fadeTo(500, 1);
		}, function () {
			$span.stop().fadeTo(500, 0);
		});
		});
	});
</script>

<!-- Header Nav Bar -->
<div id="header_menu_nav">
  <ul>
	<li><a class="fadeThis" href="{{model}}_description.html"><span>Description</span></li>
	<li><a class="fadeThis" href="{{model}}_input.html"><span>Inputs</span></li>
	<li id="output_tab"><a class="fadeThis" href=#><span>Output</span></li>
	<li><a class="fadeThis" href="{{model}}_algorithms.html"><span>Algorithms</span></li>
	<li><a class="fadeThis" href="{{model}}_references.html"><span>References</span></li>
	<li><a class="fadeThis" href="{{model}}_qaqc.html"><span>QA/QC</span></li>
	<li><a class="fadeThis" href="{{model}}_batchinput.html"><span>Batch</span></li>
  </ul>
</div>

<div id="header_menu_r">
  <ul>
    <li><a href="http://ubertool.github.com/" target="_blank">Blog</a></li>
	<li>|</li>
    <li><a href="contactus_hh_input.html">Contact Us</a></li>
  </ul>
</div>

<!--end 02hh_uberintroblock_wmodellinks-->


