<!--start 02uberintroblock_wmodellinks-->

<!-- "Click" Menus -->
  <script type="text/javascript">
    $( document ).ready(function() {
      $('a#{{model}}').addClass('aSelected');
      $('li#' + pathSlice).addClass('liSelected');
	  $('#output_tab').css('display', (pathSlice == '{{model}}_output') ? 'inline' : 'none');
    });	
  </script>

<!-- Header Nav Bar -->
<div id="header_menu_nav">
  <ul>
   <li><a href="{{model}}_description.html"  onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('navbar_{{page}}_r1_c1','','/images/tabs/eco/navbar_{{page}}_r1_c1_s2.gif',1);"><img name="navbar_{{page}}_r1_c1" src="/images/tabs/eco/navbar_{{page}}_r1_c1.gif" width="110" height="24" id="{{model}}_navbar_{{page}}_r1_c1" alt="" /></a></li>
   <li><a href="{{model}}_input.html" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('navbar_{{page}}_r1_c2','','/images/tabs/eco/navbar_{{page}}_r1_c2_s2.gif',1);"><img name="navbar_{{page}}_r1_c2" src="/images/tabs/eco/navbar_{{page}}_r1_c2.gif" width="70" height="24" id="{{model}}_navbar_{{page}}_r1_c2" alt="" /></a></li>
   <li id="output_tab"><img name="navbar_description_r1_c7" src="/images/tabs/eco/navbar_{{page}}_r1_c7.gif" width="72" height="24" id="{{model}}_navbar_{{page}}_r1_c7" alt="" /></li>
   <li><a href="{{model}}_algorithms.html" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('navbar_{{page}}_r1_c3','','/images/tabs/eco/navbar_{{page}}_r1_c3_s2.gif',1);"><img name="navbar_{{page}}_r1_c3" src="/images/tabs/eco/navbar_{{page}}_r1_c3.gif" width="102" height="24" id="{{model}}_navbar_{{page}}_r1_c3" alt="" /></a></li>
   <li><a href="{{model}}_references.html" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('navbar_{{page}}_r1_c4','','/images/tabs/eco/navbar_{{page}}_r1_c4_s2.gif',1);"><img name="navbar_{{page}}_r1_c4" src="/images/tabs/eco/navbar_{{page}}_r1_c4.gif" width="104" height="24" id="{{model}}_navbar_{{page}}_r1_c4" alt="" /></a></li>
   <li><a href="{{model}}_qaqc.html" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('navbar_{{page}}_r1_c5','','/images/tabs/eco/navbar_{{page}}_r1_c5_s2.gif',1);"><img name="navbar_{{page}}_r1_c5" src="/images/tabs/eco/navbar_{{page}}_r1_c5.gif" width="74" height="24" id="{{model}}_navbar_{{page}}_r1_c5" alt="" /></a></li>
   <li><a href="{{model}}_batchinput.html" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('navbar_{{page}}_r1_c6','','/images/tabs/eco/navbar_{{page}}_r1_c6_s2.gif',1);"><img name="navbar_{{page}}_r1_c6" src="/images/tabs/eco/navbar_{{page}}_r1_c6.gif" width="70" height="24" id="{{model}}_navbar_{{page}}_r1_c6" alt="" /></a></li>
  </ul>
</div>

<div id="header_menu_r">
  <ul>
    <li><a href="http://ubertool.github.com/" target="_blank">blog</a>
    |
    <a href="contactus_hh_input.html">contact</a>
    </li>
  </ul>
</div>

<!--end 02uberintroblock_wmodellinks-->


