<!--start 03pop_ubertext_links_left-->
<div class="left">
  <div class="urbangreymenu" id="l_menu">

    <h3 class="headerbar">Population Models</h3>
        <ul>
            <li><a href="exponential_description.html" id="exponential" class="fadeMenu">Exponential</a></li>
            <!--<li><a href="pop/exponential_description.html" id="exponential" class="fadeMenu">Exponential</a></li>-->
            <li><a href="logistic_description.html" id="logistic" class="fadeMenu">Logistic</a></li>
            <!--<li><a href="pop/logistic_description.html" id="logistic" class="fadeMenu">Logistic</a></li>-->
            <li><a href="gompertz_description.html" id="gompertz" class="fadeMenu">Gompertz</a></li>
            <!--<li><a href="pop/gompertz_description.html" id="gompertz" class="fadeMenu">Gompertz</a></li>-->
            <li><a href="foxsurplus_description.html" id="foxsurplus" class="fadeMenu">Fox Surplus Yield</a></li>
            <!--<li><a href="pop/foxsurplus_description.html" id="foxsurplus" class="fadeMenu">Fox Surplus Yield</a></li>-->
            <li><a href="maxsus_description.html" id="maxsus" class="fadeMenu">Maximum Sustainable Yield</a></li>
            <!--<li><a href="pop/maxsus_description.html" id="maxsus" class="fadeMenu">Maximum Sustainable Yield</a></li>-->
            <li><a href="yulefurry_description.html" id="yulefurry" class="fadeMenu">Yule-Furry Markov Process</a></li>
            <!--<li><a href="pop/yulefurry_description.html" id="yulefurry" class="fadeMenu">Yule-Furry Markov Process</a></li>-->
            <li><a href="fellerarley_description.html" id="fellerarley" class="fadeMenu">Feller-Arley Markov Process</a></li>
            <!--<li><a href="pop/fellerarley_description.html" id="fellerarley" class="fadeMenu">Feller-Arley Markov Process</a></li>-->
            <li><a href="leslie_description.html" id="leslie" class="fadeMenu">Leslie Process</a></li>
            <!--<li><a href="pop/leslie_description.html" id="leslie" class="fadeMenu">Leslie Process</a></li>-->
            <li><a href="lesliedr_description.html" id="lesliedr" class="fadeMenu">Leslie with Logistic Dose Response</a></li>
            <!--<li><a href="pop/lesliedr_description.html" id="lesliedr" class="fadeMenu submenu_last">Leslie with Logistic Dose Response</a></li>-->
            <li><a href="leslie_probit_description.html" id="leslie_probit" class="fadeMenu">Leslie with Probit Dose Response</a></li>
            <li><a href="loons_description.html" id="leslie_probit" class="fadeMenu submenu_last">Loons Population Model</a></li>
        </ul>

    <h3 class="headerbar">Bee Models</h3>
        <ul>
            <li><a href="beekhoury_description.html" id="beekhoury" class="fadeMenu">Khoury</a></li>
            <!--<li><a href="pop/beekhoury_description.html" id="beekhoury" class="fadeMenu">Khoury</a></li>-->
            <li><a href="beepop_description.html" id="beepop" class="fadeMenu">BeePop</a></li>
            <!--<li><a href="pop/beepop_description.html" id="beepop" class="fadeMenu">BeePop</a></li>-->
            <li><a href="hopomo_description.html" id="hopomo" class="fadeMenu submenu_last">HoPoMo</a></li>
            <!--<li><a href="pop/hopomo_description.html" id="hopomo" class="fadeMenu submenu_last">HoPoMo</a></li>-->
        </ul>

    <h3 class="headerbar">Geospatial Tools</h3>
        <ul>
            <li><a href="es_mapping_description.html" id="es_mapping" class="fadeMenu">Endangered Species Mapper</a></li>
            <li><a href="es_mapping_openlayer_description.html" id="es_mapping_openlayer" class="fadeMenu submenu_last">Endangered Species Mapper (Beta)</a></li>
        </ul>

    <h3 class="headerbar">Toxicity</h3>
        <ul>
            <li><a href="webice_description.html" id="webice" class="fadeMenu submenu_last">Web-ICE</a></li>
        </ul>

  </div> <!-- End "Left" -->
</div> <!-- End "urbangreymenu; l_menu" -->
<!--end 03pop_ubertext_links_left-->
