<!--start 03ubertext_links_left-->
<div class="left">
  <div class="urbangreymenu" id="l_menu">

    <h3 class="headerbar">Terrestrial Models</h3>
        <ul>
            <li><a href="terrplant_description.html" id="terrplant" class="fadeMenu">TerrPlant</a></li>
            <!--<li><a href="eco/terrplant_description.html" id="terrplant" class="fadeMenu">TerrPlant</a></li>-->
            <li><a href="sip_description.html" id="sip" class="fadeMenu">SIP</a></li>
            <!--<li><a href="eco/sip_description.html" id="sip" class="fadeMenu">SIP</a></li>-->
            <li><a href="stir_description.html" id="stir" class="fadeMenu">STIR</a></li>
            <!--<li><a href="eco/stir_description.html" id="stir" class="fadeMenu">STIR</a></li>-->
            <li><a href="dust_description.html" id="dust" class="fadeMenu">DUST</a></li>
            <!--<li><a href="eco/dust_description.html" id="dust" class="fadeMenu">DUST</a></li>-->
            <li><a href="trex2_description.html" id="trex2" class="fadeMenu">T-Rex</a></li>
            <!--<li><a href="eco/trex2_description.html" id="trex" class="fadeMenu">T-Rex</a></li>-->
            <li><a href="therps_description.html" id="therps" class="fadeMenu">T-Herps</a></li>
            <!--<li><a href="eco/therps_description.html" id="therps" class="fadeMenu">T-Herps</a></li>-->
            <li><a href="iec_description.html" id="iec" class="fadeMenu">IEC</a></li>
            <!--<li><a href="eco/iec_description.html" id="iec" class="fadeMenu">IEC</a></li>-->
            <li><a href="agdrift_description.html" id="agdrift" class="fadeMenu">AgDrift</a></li>
            <li><a href="agdrift_trex_description.html" id="agdrift_trex" class="fadeMenu">Agdrift-T-Rex</a></li>
            <li><a href="agdrift_therps_description.html" id="agdrift_therps" class="fadeMenu">Agdrift-T-Herps</a></li>
            <li><a href="earthworm_description.html" id="earthworm" class="fadeMenu submenu_last">Earthworm</a></li> 
            <!--<li><a href="eco/agdrift_description.html" id="agdrift" class="fadeMenu submenu_last">AgDrift</a></li>-->
        </ul>
    
    <h3 class="headerbar">Aquatic Models</h3>
        <ul>
            <li><a href="rice_description.html" id="rice" class="fadeMenu">Rice Model</a></li>
            <!--<li><a href="eco/rice_description.html" id="rice" class="fadeMenu">Rice Model</a></li>-->
            <li><a href="geneec_description.html" id="geneec" class="fadeMenu">GENEEC</a></li>
            <!--<li><a href="eco/geneec_description.html" id="geneec" class="fadeMenu">GENEEC</a></li>-->
            <li><a href="kabam_description.html" id="kabam" class="fadeMenu">Kabam</a></li>            
            <!--<li><a href="eco/kabam_description.html" id="kabam" class="fadeMenu">Kabam</a></li>-->            
            <li><a href="przm_description.html" id="przm" class="fadeMenu">PRZM</a></li>
            <!--<li><a href="eco/przm_description.html" id="przm" class="fadeMenu">PRZM</a></li>-->
            <li><a href="przm5_description.html" id="przm5" class="fadeMenu">PRZM 5</a></li>
            <!--<li><a href="eco/przm_description.html" id="przm" class="fadeMenu">PRZM</a></li>-->
            <li><a href="exams_description.html" id="exams" class="fadeMenu">EXAMS</a></li>
            <!--<li><a href="eco/exams_description.html" id="exams" class="fadeMenu">EXAMS</a></li>-->
            <li><a href="pfam_description.html" id="pfam" class="fadeMenu">PFAM</a></li>
            <!--<li><a href="eco/pfam_description.html" id="pfam" class="fadeMenu submenu_last">PFAM</a></li>-->
            <li><a href="przm_exams_description.html" id="przm_exams" class="fadeMenu">PRZM-EXAMS</a></li>
            <!--<li><a href="eco/przm_exams_description.html" id="przm_exams" class="fadeMenu submenu_last">PRZM-EXAMS</a></li>-->
            <li><a href="vvwm_description.html" id="vvwm" class="fadeMenu">VVWM</a></li>
            <!--<li><a href="eco/przm_exams_description.html" id="przm_exams" class="fadeMenu submenu_last">PRZM-EXAMS</a></li>-->
            <li><a href="swc_description.html" id="swc" class="fadeMenu submenu_last">Surface Water Calculator</a></li>
            <!--<li><a href="eco/przm_exams_description.html" id="przm_exams" class="fadeMenu submenu_last">PRZM-EXAMS</a></li>-->
        </ul>
    
    <h3 class="headerbar">&uuml;bertool</h3>
        <ul>
            <li><a href="select_chemical.html" id="select_chemical" class="fadeMenu">Chemical Selection</a></li>
            <li><a href="site_data.html" id="use" class="fadeMenu">Use/Label/Site Data</a></li>
            <li><a href="pesticide_properties.html" id="pesticide_properties" class="fadeMenu">Pesticide Properties</a></li>
            <li><a href="exposure_concentrations.html" id="exposure_concentrations" class="fadeMenu">Exposure Concentrations</a></li>
            <li><a href="aquatic_toxicity.html" id="aquatic_toxicity" class="fadeMenu">Aquatic Toxicity</a></li>
            <li><a href="terrestrial_toxicity.html" id="terrestrial_toxicity" class="fadeMenu">Terrestrial Toxicity</a></li>
            <li><a href="ecosystem_inputs.html" id="ecosystem_inputs" class="fadeMenu">Ecosystem Inputs</a></li>
            <li><a href="run_ubertool.html" id="run_ubertool" class="fadeMenu">Run &uuml;bertool</a></li>
            <li><a href="user.html" id="saved_runs" class="fadeMenu submenu_last">Saved Runs</a></li>
        </ul>
    
    <h3 class="headerbar">Coming Soon</h3>
        <ul>
            <li><a href="ddm_description.html" id="ddm" class="fadeMenu">Downstream Dilution Model</a></li>
            <!--<li><a href="eco/ddm_description.html" id="ddm" class="fadeMenu">Downstream Dilution Model</a></li>-->
            <li><a href="superprzm_description.html" id="superprzm" class="fadeMenu">SuperPRZM</a></li>
            <!--<li><a href="eco/superprzm_description.html" id="superprzm" class="fadeMenu">SuperPRZM</a></li>-->
            <li><a href="sam_description.html" id="sam" class="fadeMenu submenu_last">SAM</a></li>
            <!--<li><a href="eco/sam_description.html" id="sam" class="fadeMenu">SAM</a></li>-->
        </ul>

  </div> <!-- End "Left" -->
</div> <!-- End "urbangreymenu; l_menu" -->
<!--end 03ubertext_links_left-->
