<!--start 04_user_assessment_history--> 
<tr><th><label for="id_user_use_configuration">Use configuration:</label></th><td><select name="use_configuration" id="id_user_use_configuration">
<option value="None">None</option>
</select></td></tr>
<tr><td><div id="use_config_params" style="visibility: hidden; height: 0px">
<table>
	<tbody>
		<tr><th><label>CAS Number: </label><td><div id="cas_number"></div></td></tr>
		<tr><th><label>Formulated Product Name: </label><td><div id="formulated_product_name"></div></td></tr>
		<tr><th><label>% Active Ingredient: </label><td><div id="percent_ai"></div></td></tr>
		<tr><th><label>Metfile: </label><td><div id="met_file"></div></td></tr>
		<tr><th><label>Przm Scenario: </label><td><div id="przm_scenario"></div></td></tr>
		<tr><th><label>Exams Environment File: </label><td><div id="exams_environment_file"></div></td></tr>
		<tr><th><label>Application Method (CAM): </label><td><div id="application_method"></div></td></tr>
		<tr><th><label>Application Type (for terrestrial): </label><td><div id="application_type"></div></td></tr>
		<tr><th><label>Application Type: </label><td><div id="app_type"></div></td></tr>
		<tr><th><label>Weight of 1 granula: </label><td><div id="weight_of_one_granule"></div></td></tr>
		<tr><th><label>Wetted In?: </label><td><div id="wetted_in"></div></td></tr>
		<tr><th><label>Incorporation Depth: </label><td><div id="incorporation_depth"></div></td></tr>
		<tr><th><label>% Incorporated: </label><td><div id="percent_incorporated"></div></td></tr>
		<tr><th><label>Application rate (kg ai/ha): </label><td><div id="application_kg_rate"></div></td></tr>
		<tr><th><label>Application rate (lbs ai/A): </label><td><div id="application_lbs_rate"></div></td></tr>
		<tr><th><label>Seed treatment formulation name: </label><td><div id="seed_treatment_formulation_name"></div></td></tr>
		<tr><th><label>Density of product (lbs/gal): </label><td><div id="density_of_product"></div></td></tr>
		<tr><th><label>Maximum seedling rate per use (fl oz/cwt): </label><td><div id="maximum_seedling_rate_per_use"></div></td></tr>
		<tr><th><label>Application Date: </label><td><div id="application_date"></div></td></tr>
		<tr><th><label>Number of applications: </label><td><div id="number_of_applications"></div></td></tr>
		<tr><th><label>Interval between applications (days): </label><td><div id="interval_between_applications"></div></td></tr>
		<tr><th><label>Application Efficiency (fraction): </label><td><div id="application_efficiency"></div></td></tr>
		<tr><th><label>Spray Drift: </label><td><div id="spray_drift"></div></td></tr>
		<tr><th><label>Runoff: </label><td><div id="runoff"></div></td></tr>				
	</tbody>
</table>
</div></td></tr>
<tr><th><label for="id_rice_results">Rice model Results:</label></th><td><select name="rice_results" id="id_rice_results">
<option value="None">None</option>
</select></td></tr>
<tr><th><label for="id_batch_results">Completed Batch Ubertool Results:</label></th><td><select name="batch_ubertool_results" id="id_batch_ubertool_results">
<option value="None">None</option>
</select></td></tr>
<tr><td><div id="id_batch_results_table" style="visibility: hidden; height: 0px">

</div></td></tr>
<!--end 04_user_assessment_history--> 