<!--start 06uberfooter-->
<div id="footer">
  <table height = 4px width=1024px bgcolor=white border-style=none></table>

  <table width=1024px bgcolor=orange border-style=none>
    <tr>
      <td>
        <a href="http://jigsaw.w3.org/css-validator/check/referer">
          <img style="border:0;width:88px;height:31px" src="images/valid-css-blue.png" alt="Valid CSS!" /></a>
        <a href="http://validator.w3.org/check?uri=referer">
          <img src="images/valid-xhtml10-blue.png" alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
      </td>
    </tr>
  </table>

  <table height = 4px width=1024px bgcolor=white border-style=none></table>
</div> 

<!-- End Container Div -->
</div>
</body>
</html>
<!--end 06uberfooter-->
