<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/stylesheets/jqplot/excanvas.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/jquery.jqplot.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/jqplot/jquery.jqplot.css" />
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/plugins/jqplot.barRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/plugins/jqplot.pointLabels.min.js"></script>
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/plugins/jqplot.cursor.min.js"></script>
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>

<div id="chart{{chart_num}}" style="margin-top:20px; margin-left:20px; width:650px; height:400px;"></div>

<script type='text/javascript'> 
$(document).ready(function(){
    $('#Orc_type').hide()
    if ($('#app_method_val').html() == "Orchard/Airblast"){
    $('#Orc_type').show()
}



    $.jqplot.config.enablePlugins = true;	
    var s1 = $.parseJSON($('#distance{{chart_num}}').text());
    var s2 = $.parseJSON($('#deposition{{chart_num}}').text());
		var len1 = s1.length;
		var len2 = s2.length;
		var paired =[];
		for (var i=0; i<=len1; i+=1){
			paired.push([s1[i],s2[i]]);
		};
/*		  var cosPoints = []; 
  for (var i=0; i<2*Math.PI; i+=0.1){ 
     cosPoints.push([i, Math.cos(i)]); 
  } */
  
	
		L=[{label:'Drift', color:'blue'}]		
        $.jqplot('chart{{chart_num}}', [paired], {
			seriesDefaults: { 
        	showMarker:false,
         	pointLabels: { show:false } 
      		},
			
			series:L,
			axes: {
      			xaxis: {
					label :'Distance (Meters)',
					pad: 0
      				},
      			yaxis: {
        			label: 'Spray Drift Fraction',
					labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
					pad: 0
      				}
    		},
			 legend: {
      			show: true,
      			location: 'nw',
      			placement: 'inside',
				fontSize: '11px'
    		} 
        });   
    });
</script>
