<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/stylesheets/jqplot/excanvas.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/jquery.jqplot.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/jqplot/jquery.jqplot.css" />
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/plugins/jqplot.barRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/plugins/jqplot.pointLabels.min.js"></script>
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/plugins/jqplot.cursor.min.js"></script>
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>

<div id="chart1" style="margin-top:20px; margin-left:20px; width:650px; height:400px;"></div>

<script type='text/javascript'>

$(document).ready(function(){
        $.jqplot.config.enablePlugins = true;
     var s1 = $.parseJSON($('#Eggs_laid').text());
     var s2 = $.parseJSON($('#Adult_workers').text());
     var s3 = $.parseJSON($('#Foragers').text());
     var s4 = $.parseJSON($('#Drones').text());

          L=[{label:'Eggs laid', color:'blue'},{label:'Hive bees', color:'red'},{label:'Foragers', color:'black'},{label:'Drones', color:'yellow'}]

        $.jqplot('chart1', [s1,s2,s3,s4], {

                 seriesDefaults: {
           showMarker:false,
           pointLabels: { show:false }
                 },

                 series:L,
                 axes: {
                       xaxis: {
                            label :'Days',
                            pad: 0
                            },
                       yaxis: {
                            label: 'Number of individuals',
                                 labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                                 pad: 0
                                 }
            },
                 legend: {
                     show: true,
                     location: 'nw',
                     placement: 'inside',
                     fontSize: '11px'
                         }
              })
            })
</script>



