<script type="text/javascript" src="../stylesheets/jquery-1.3.2.js"></script>
<script type="text/javascript" src=" ../stylesheets/jquery.validate.js"></script>
<script type="text/javascript" src="../stylesheets/ui.core.js"></script>
<script type="text/javascript" src="../stylesheets/ui.sortable.js"></script>

<script type="text/javascript">
            (
            function($){
                $.fn.shuffle = function() {
                    return this.each(function(){
                        var items = $(this).children();

                        return (items.length)
                            ? $(this).html($.shuffle(items,$(this)))
                        : this;
                    });
                }

//                $.fn.validate_1 = function() {
//                    var res = false;
//                    this.each(function(){
//                        var arr = $(this).children();
//                        res = 	((arr[0].innerHTML=="1")&&
//                            (arr[1].innerHTML=="2")&&
//                            (arr[2].innerHTML=="3")&&
//                            (arr[3].innerHTML=="4")&&
//                            (arr[4].innerHTML=="5")&&
//                            (arr[5].innerHTML=="6")); 	
//							
//						res1 =arr.text()
//
//                    });
//                    return [res, res1];
//
//                }

                $.shuffle = function(arr,obj) {
                    for(
                    var j, x, i = arr.length; i;
                    j = parseInt(Math.random() * i),
                    x = arr[--i], arr[i] = arr[j], arr[j] = x
                );
                    if(arr[0].innerHTML=="1") obj.html($.shuffle(arr,obj))
                    else return arr;
                }
            })(jQuery);
			
</script>

<td width=656px>
	<div class="articles">
		<form method="POST" id="form1" class="registration" action=contactus_output.html>
			<table align="center" cellpadding="0" cellspacing="15">
				<tr><th colspan="2" align="left"><h2>Contact Form</h2></th></tr> 
                <tr><th>Name:</th><td><input type="text" name="nm_name" id="id.name" /></td></tr>
                <tr><th>Email:</th><td><input type="text" name="nm_email" id="id.email" /></td></tr>
                <tr><th>Subject:</th><td><select id="sub" name="nm_sub" /><option value="" selected="selected">Select one of the subjects</option><option value="1" >Suggestion</option><option value="Bug report" >Bug report</option><option value="Other" >Other</option></select></td></tr>
                <tr><th>Message:</th><td></td></tr>
                <tr><th></th><td><textarea id="msg" rows="10" cols="40" name="nm_msg" ></textarea></td></tr>
      <tr><td colspan="2" align="left">
      		  <div class="captcha_wrap">
                    <div class="captcha">
						Drag to order
                    </div>
                    <ul id="sortable">
                        <li class="captchaItem">1</li>
                        <li class="captchaItem">2</li>
                        <li class="captchaItem">3</li>
                        <li class="captchaItem">4</li>
                        <li class="captchaItem">5</li>
                        <li class="captchaItem">6</li>
                    </ul>
                </div></td></tr>
      
                <tr><td colspan="2" align="left"><input type="submit"  id="formsubmit" value=" Let us know! " /></td></tr>
             </table>
         </form>
	</div>
</td> 


<script type="text/javascript">
			
$(document).ready(function() {
            $(function() {
                $("#sortable").sortable();
                $("#sortable").disableSelection();
                $('#sortable').shuffle()
            });		

					
					$.validator.addMethod(
						"human",
						function() 
						{   
							return humantest()
						},
						"Please prove you are a human by draging the below numbers into order."
					)	
					
					function humantest() {
						var res = false;
						$('#sortable').each(function(){
							var arr = $('#sortable').children();
							res =  	((arr[0].innerHTML==1)&&
								(arr[1].innerHTML==2)&&
								(arr[2].innerHTML==3)&&
								(arr[3].innerHTML==4)&&
								(arr[4].innerHTML==5)&&
								(arr[5].innerHTML==6));
						});
						
						return res
					}	

		
					$("#form1").validate({
					submitHandler:function(form) {
						SubmittingForm()
						},
					rules: {
						nm_name: "required",		
						nm_email:{required:true,
								  email:true
								},
						nm_sub:"required",
						nm_msg:{required:true,
								human:true
						}
						}
				})	
//				
//	$("#formsubmit").click(function(){
//		alert(humantest())
//	})
});	



</script>

<style type="text/css">
#form1 label.error {
	width: 200px;
	display: block;
	float: right;
	color: red;
	padding-left: 10px;
}


            #sortable {
                list-style-type: none;
                margin: 5px 0px 0px 16px;
                padding: 0;
            }
            #sortable li {
                margin: 3px 3px 3px 0;
                padding: 1px;
                float: left;
                width: 35px;
                height: 35px;
                font-size: 20px;
                text-align: center;
                line-height:35px;
                cursor:pointer;
                -moz-border-radius:5px;
                -webkit-border-radius:5px;
                -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
                -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
                text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
                background:#2daebf url(images/overlay.png) repeat-x scroll 50% 50%;
                color:#fff;
                font-weight:normal;
            }
            .captcha_wrap{
                border:1px solid #fff;
                -moz-border-radius:10px;
                -webkit-border-radius:10px;
                -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
                -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
                float:left;
                height:120px;
                overflow:auto;
                width:150px;
                overflow:hidden;
                margin:0px 0px 0px 210px;
                background-color:#fff;
            }
            .captcha{
                -moz-border-radius:10px;
                -webkit-border-radius:10px;
                font-size:12px;
                color:#BBBBBB;
                text-align: center;
                border-bottom:1px solid #CCC;
                background-color:#fff;
            }
</style>
