<!DOCTYPE HTML>
<html>
	<script type="text/javascript" src="../stylesheets/efs/js/jquery-1.7.1.dev.js"></script>
 	<script type="text/javascript" src="../stylesheets/efs/js/jquery-ui-1.8.17.custom.min.js"></script>
  	<script type="text/javascript" src="../stylesheets/efs/js/jquery.tmpl.js"></script>
  	<script type="text/javascript" src="../stylesheets/efs/js/tooltip.js"></script>
  	<script type="text/javascript" src="../stylesheets/efs/js/dialog.js"></script>
	<script type="text/javascript" src="../stylesheets/efs/js/property_tables.js"></script>
  	<script type="text/javascript" src="http://www.google.com/jsapi?key=AIzaSyDnQP4aPtrQMeF3Ra_EsxraUO0aAaIBPTU&sensor=false"></script>
  	<script type="text/javascript" src="../stylesheets/efs/js/simonwillison.js"></script>
  	<script type="text/javascript" src="../stylesheets/efs/js/settings.js"></script>
	<script type="text/javascript" src="../stylesheets/efs/js/REST.js"></script>
  	<script type="text/javascript" src="../stylesheets/efs/js/GUI.js"></script>
  	<script type="text/javascript" src="../stylesheets/efs/js/dyn_table_c.js"></script>
  	<script type="text/javascript" src="../stylesheets/efs/js/jchemSearch.js"></script>
  	<script type="text/javascript" src="../stylesheets/efs/js/qsar.js"></script>
  	<script type="text/javascript" src="../stylesheets/efs/js/util.js"></script>
  	<script type="text/javascript" src="../stylesheets/efs/js/JSTreeGraph.js"></script>

	<!--
	<script src="../stylesheets/efs/marvin4js/js/lib/rainbow/rainbow-custom.min.js"></script>
	<script src="../stylesheets/efs/marvin4js/js/lib/jquery-1.9.1.min.js"></script>
	<script src="../stylesheets/efs/marvin4js/js/webservices.js"></script>
	<script src="../stylesheets/efs/marvin4js/js/util.js"></script>
	-->

	<script>
    	jQuery(document).ready(function(){
	Settings.init();
	//jchemSearch.init();	
      	REST.init();
      	//QSAR.init();
      	//GUI.init();
	//property_tables.init(sketch);
    	});
  	</script>

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-31718879-1']);
	  _gaq.push(['_setDomainName', 'pnl.gov']);
	  _gaq.push(['_trackPageview']);

 	 (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
 	   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>

 	<form NAME="SmilesForm">	
        <table>
	<tr>
        <td>
    		 <tr>
        <td>
		<!-- <input type=button value="Draw a chemical structure and click here" onClick="handleGetSmilesButton ()"> -->
	  <input id="getSmilesButton" type="button" value="Draw a chemical structure and click here" onClick="importMolFromCanvas(null)">
	  <!-- begin Marvin4JS -->
	  <div id="content" class="resizable"> 
		  <!-- <iframe id="sketch" src="stylesheets/efs/marvin4js/editorws.html" class="sketcher-frame" style="overflow: hidden; min-width: 600px; min-height: 450px; border: 1px solid darkgray;"></iframe> -->
	  </div>
	  <!-- end Marvin4JS -->
        </td>
</tr>

          <tr>
		  <!-- <td ><input type=button value="Enter a SMILES, IUPAC or CAS# and click here" onClick="importMol(null)"></td> -->
		  <td><input id="setSmilesButton" type="button" value="Enter a SMILES, IUPAC or CAS# and click here" onClick="importMol(null)"></td>
          </tr>

          <tr>
            <td ><textarea id="MolTxt" name="MolTxt">O=C1NN=C(N1)N(=O)=O</textarea></td>
	    <!--<td ><textarea id="MolTxt" name="MolTxt">C1=CC=CC=C1</textarea></td>-->
          </tr>

          <tr>
            <td ><br /><br />
          </tr>

          <tr>
            <td id="results">Results</td>
          </tr>

          <tr>
            <td class="label">SMILES:</td>
            <td><textarea id="molecule" NAME="smiles"></textarea></td>
          </tr>

          <tr>
            <td class="label">IUPAC:</td>
            <td><textarea id="IUPAC" NAME="name"></textarea></td>
          </tr>

          <tr>
            <td class="label">Formula:</td>
            <td><textarea id="formula" NAME="formula"></textarea></td>
          </tr>

          <tr>
            <td class="label">Weight:</td>
            <td><textarea id="weight" NAME="mass"></textarea></td>
          </tr>

        </td>
      </tr>
    </table>

    </form>
</html>
    
