	  

    <table>


	<tr>
        <td>
		     <tr>
        <td>
	  <input type=button value="Draw a chemical structure and click here"> 
	  <!-- begin Marvin4JS -->
	  <div class="resizable"> 
		  <iframe id="sketch" src="stylesheets/efs/marvin4js/editorws.html" class="sketcher-frame" style="overflow: hidden; min-width: 600px; min-height: 450px; border: 1px solid darkgray;"></iframe> 
	  </div>
	  <!-- end Marvin4JS -->
        </td>
</tr>

          <tr>
            <td ><input type=button value="Enter a SMILES, IUPAC or CAS# and click here"></td>
          </tr>

          <tr>
            <td ><textarea name="MolTxt">2,4-dinitroanisole</textarea></td>
          </tr>

          <tr>
            <td ><br /><br />
          </tr>

          <tr>
            <td id="results">Results</td>
          </tr>

          <tr>
            <td class="label">SMILES:</td>
            <td><textarea id="molecule" NAME="smiles"></textarea></td>
          </tr>

          <tr>
            <td class="label">IUPAC:</td>
            <td><textarea id="IUPAC" NAME="name"></textarea></td>
          </tr>

          <tr>
            <td class="label">Formula:</td>
            <td><textarea NAME="formula"></textarea></td>
          </tr>

          <tr>
            <td class="label">Weight:</td>
            <td><textarea NAME="mass"></textarea></td>
          </tr>

        </td>
      </tr>
    </table>
