<!DOCTYPE html>
<script type="text/javascript" src= 'http://openlayers.org/api/OpenLayers.js'></script>
<script type="text/javascript">

$(document).ready(function(){
// Initialize output page//
$('#export_menu').hide()

$(".out_input_table").append(localStorage.html_input);
$(".out_input_table :input").attr('disabled', true);

element_all = localStorage.html_new.split("&")
// console.log(element_all)
element1 = localStorage.html_new.split("&")[0].split("=")
// console.log(element_all.length)
for (i=0; i<element_all.length; i++) {
    element_name_t = element_all[i].split("=")[0]
    element_val_t = element_all[i].split("=")[1]
    $('[name="'+element_name_t+'"]').val(element_val_t)
}
$(".input_button").hide()



function initialize() {
	var map = new OpenLayers.Map('map',{});
	
	// WMS Class settings
	var wms_layer_map = new OpenLayers.Layer.WMS(
		'OpenLayer WMS',
		'http://vmap0.tiles.osgeo.org/wms/vmap0',
		{layers: 'basic'},
		// {attribution: 'Base WMS layer'},
		{isBaseLayer: true});

	// var wms_modis = new OpenLayers.Layer.WMS(
	// 	'NASA Global Mosaic',
 //        'http://wms.jpl.nasa.gov/wms.cgi',
 //        {layers: 'modis,global_mosaic',
 //        transparent: true}, 
 //        {opacity: 0.5);

	var wms_layer_labels = new OpenLayers.Layer.WMS(
		'Location Labels',
		'http://vmap0.tiles.osgeo.org/wms/vmap0',
		{layers: 'clabel,ctylabel,statelabel',
		transparent: true},
		// {attribution:'Lables of states and cities'},
		{opacity: .5});

	var osm_layer = new OpenLayers.Layer.OSM(
		'OpenStreetMap Layer'
		);

	
	// Creat a editable vector layer
	var vector_layer = new OpenLayers.Layer.Vector(
		'Ediatable Vectors')
	// Add a vector editing control
	map.addControl(new OpenLayers.Control.EditingToolbar(vector_layer));
	map.addControl(new OpenLayers.Control.LayerSwitcher({}));
	map.addControl(new OpenLayers.Control.ScaleLine());
	





	// map.AddLayer(new OpenLayers.Layer.Vector('NatureServeFish',{
	// 	protocol: new OpenLayers.Protocol.HTTP({
	// 		url: "https://s3.amazonaws.com/esmapping_kmz/nsf/"+ '{{ NSF }}' + '/.doc.kml',
	// 		format: new OpenLayers.Format.KML({
	// 			extractStyles: true,
	// 			extractAttributes: true
	// 		})
	// 	}),
	// 	strategies: [new OpenLayers.strategy.Fixed()]
	// })
	// 	);

	
	// Creating overlays for Birds

	var BirdsIUCN = '{{ BirdsIUCN }}';
	if (!(!BirdsIUCN))
	{
		var geourl ="https://s3.amazonaws.com/ES_Mapping_Json/Bird/IUCN_json/"+ BirdsIUCN + '.json'
		// var geourl = 'https://s3.amazonaws.com/ES_Mapping_Json/Bird/IUCN_json/Accipiter_striatus.json';
		geojson_layer = new OpenLayers.Layer.Vector("GeoJSON", {
        strategies: [new OpenLayers.Strategy.Fixed()],
        protocol: new OpenLayers.Protocol.HTTP({
        	url:geourl,
        	format: new OpenLayers.Format.GeoJSON()
        	})
        });
	}

	// // var BirdsUSFWS = '{{ BirdsUSFWS }}';
	// var geourl = 'https://s3.amazonaws.com/ES_Mapping_Json/Bird/IUCN_json/Accipiter_striatus.json';
	// var geojson_layer = new OpenLayers.Layer.Vector("GeoJSON", {
 //    strategies: [new OpenLayers.Strategy.Fixed()],
 //    protocol: new OpenLayers.Protocol.HTTP({
 //        url:geourl,
 //        format: new OpenLayers.Format.GeoJSON()
 //        })
 //    });

    console.log(geojson_layer)

	map.addLayers([
		wms_layer_map, 
		// wms_modis,
		wms_layer_labels,
		osm_layer,
		geojson_layer
		// wms_state_lines,
		// wms_water_depth,
		// wms_roads
	]);


	if(!map.getCenter()){
	map.zoomToMaxExtent();
	}
	map.setCenter(new OpenLayers.LonLat(-110, 45), 3);
}


window.onload = initialize;

})

</script>


<!-- CSS to control the layout of the map -->
<style type="text/css">
	#map {width:700px; height:500px;}
	#map div id='map'{ font-weight:bold;}
	#map #iwsw p { font-weight:normal !important;}

	.olControlLayerSwitcher .maximizeDiv,
	.olControlLayerSwitcher .minimizeDiv {
    height: 18px;
    top: 5px;
    right: 30px;
    cursor: pointer;
}

/*olControlLayerSwitcher reference: http://gisnuts.com/terra/blog/2013/07/05/styling-the-layer-switcher-for-openlayers

*/

</style>
<!-- end CSS -->

