                         
<script type='text/javascript' src='http://code.jquery.com/jquery-1.7.1.js'></script>
<link rel="stylesheet" type="text/css" href="http://www.prioritymarketers.com/jqplot/src/jquery.jqplot.css"> 
<script type='text/javascript' src="http://www.prioritymarketers.com/jqplot/src/jquery.jqplot.js"></script> 
<script type='text/javascript' src="http://www.prioritymarketers.com/jqplot/src/plugins/jqplot.barRenderer.js"></script>
<script type='text/javascript' src="http://www.prioritymarketers.com/jqplot/src/plugins/jqplot.categoryAxisRenderer.js"></script>
<script type='text/javascript' src="http://www.prioritymarketers.com/jqplot/src/plugins/jqplot.pointLabels.js"></script>
<script type='text/javascript' src="http://www.prioritymarketers.com/jqplot/src/plugins/jqplot.cursor.js"></script>
<script type="text/javascript" src="https://bitbucket.org/cleonello/jqplot/raw/b5a7796a9ebf/src/plugins/jqplot.canvasTextRenderer.js"></script>
<script type="text/javascript" src="https://bitbucket.org/cleonello/jqplot/raw/b5a7796a9ebf/src/plugins/jqplot.canvasAxisLabelRenderer.js"></script>


<!--[if lt IE 9]>
<script src="http://www.prioritymarketers.com/jqplot/src/excanvas.min.js"></script>
<![endif]-->

<div id="chart1" style="margin-top:20px; margin-left:20px; width:650px; height:400px;"></div>


<script type='text/javascript'> 

$(document).ready(function(){
	var kk = $.parseJSON($('#ita').text());

    $.jqplot.postDrawHooks.push(function() {
        var swatches = $('table.jqplot-table-legend tr td.jqplot-table-legend-swatch');
        var labels = $('table.jqplot-table-legend tr td.jqplot-table-legend-label');
        //var kk = $.parseJSON($('#ita').text());
        
        $(swatches).hide();
        $(labels).hide();	
        $(swatches[0]).show();
        $(labels[0]).show(); 		
        $(swatches[1]).show();
        $(labels[1]).show();         

    });
		
        $.jqplot.config.enablePlugins = true;
    	var s1 = $.parseJSON($('#x').text());
    	var s2 = $.parseJSON($('#x_mu').text());
		s1.unshift(s2);	
		s1.push(s2);
		
		L=[{label:'Expoential Process', color:'blue'},{label:'Feller-Arley Process', color:'red'}];
		
		var i=1
		while(i<kk)
			{
				L.push({label:'Feller-Arley Process', color:'red'});
				i++;
			}
		L.push({label:'Expoential Process', color:'blue'})	
		
        $.jqplot('chart1', s1, {
			
			seriesDefaults: { 		
        	showMarker:false,
         	pointLabels: { show:false } 
      		},
			
			series:L,
			
			axes: {
      			xaxis: {
					label :'Time units',
					pad: 0
      				},
      			yaxis: {
        			label: 'Number of individuals',
					labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
					pad: 0
      				}
    		},
			 legend: {
      			show: true,
      			location: 'nw',
      			placement: 'inside',
				fontSize: '11px'
    		}
	
        })   
    })
</script>



