<script>
$(document).ready(function () {
var jq_html = $('<div />').append($("div.articles").children(':lt(3)').clone()).html();
var imgData = $('#chart1').jqplotToImageStr({});

console.log(imgData)


$('<tr style="display:none"><td><input type="hidden" name="extract"></td></tr>')
    .appendTo('.getpdf')
    .find('input')
    .val(jq_html);

$('<tr style="display:none"><td><input type="hidden" name="extract1"></td></tr>')
    .appendTo('.getpdf')
    .find('input')
    .val(imgData);


$('.getpdf').append('<tr><td><input type="submit" value="Generate PDF"/></td></tr>');



})
</script>
