<!-- Google Maps API V3 Key, v = 3.13 -->
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?v=3.13&key=AIzaSyB-zLc7tlB-UbVrQPL6MXJQ1IDEFE-2cWA&sensor=false">
</script>

<div>Endangered Species Mapper</div>
<div id="map"></div>

<script type="text/javascript">
$(document).ready(function(){

// Enable the visual refresh
google.maps.visualRefresh = true;

function initialize() {
	var mapDiv = document.getElementById('map');
	// // Crating a MapOptions object with properties
	var options = {
		center: new google.maps.LatLng(37.09, -95.71),
		zoom: 4,
		mapTypedId: google.maps.MapTypeId.ROADMAP,
		scaleControl: true
	};
	// Creating the map
	var map = new google.maps.Map(mapDiv,options);

	// Creating an InfoWindow with content text
	var infowindow = new google.maps.InfoWindow({
		content : 'test!!!'
	});
	


	//Creating overlays for USDACropScape
	var crop = $('#crop').text()+ '.kmz';
	var crop_link = "https://s3.amazonaws.com/esmapping_kmz/USDACropScape2011/"+crop
	var cropLayer = new google.maps.KmlLayer(crop_link,{suppressInfoWindows: true}) 
	cropLayer.setMap(map);	

	// Creating overlays for NatureServeFish: NSF
	var nsf = $('#nsf').text()+ '.kmz';
	var nsf_link ="https://s3.amazonaws.com/esmapping_kmz/nsf/"+nsf
	// KML overlay
	var nsfLayer = new google.maps.KmlLayer(nsf_link, {suppressInfoWindows: true}) 
	nsfLayer.setMap(map);
	// Adding the click event to the overlay
	google.maps.event.addListener(nsfLayer,'click',function(){
	infowindow.open(map,nsfLayer);	
	});


	// Creating overlays for NatureServePollinator: NSP
	var nsp = $('#nsp').text()+ '.kmz';
	var nsp_link ="https://s3.amazonaws.com/esmapping_kmz/nsp/"+nsp
	// KML overlay
	var nspLayer = new google.maps.KmlLayer(nsp_link,{suppressInfoWindows: true}) 
	nspLayer.setMap(map);

	// Creating overlays for NatureServeMammals: NSM
	var nsm = $('#nsm').text()+ '.kmz';
	var nsm_link = "https://s3.amazonaws.com/esmapping_kmz/nsm/"+nsm
	var nsmLayer = new google.maps.KmlLayer(nsm_link,{suppressInfoWindows: true}) 
	nsmLayer.setMap(map);


	//Creating overlays for IUCN Amphibians
	var IUCN_Amphibians = $('#IUCN_Amphibians').text()+ '.kmz';
	var IUCN_Amphibians_link = "https://s3.amazonaws.com/esmapping_kmz/IUCN_Amphibians/"+IUCN_Amphibians
	var IUCN_AmphibiansLayer = new google.maps.KmlLayer(IUCN_Amphibians_link,{suppressInfoWindows: true}) 
	IUCN_AmphibiansLayer.setMap(map);

	//Creating overlays for IUCN Birds
	var IUCN_Birds = $('#IUCN_Birds').text()+ '.kmz';
	var IUCN_Birds_link = "https://s3.amazonaws.com/esmapping_kmz/IUCN_Bird/"+IUCN_Birds
	//console.log(IUCN_Birds_link)
	var IUCN_BirdsLayer = new google.maps.KmlLayer(IUCN_Birds_link,{suppressInfoWindows: true})
	IUCN_BirdsLayer.setMap(map);

	//Creating overlays for IUCN Terrestrial Mammals
	var IUCN_Mammals = $('#IUCN_Mammals').text()+ '.kmz';
	var IUCN_Mammals_link = "https://s3.amazonaws.com/esmapping_kmz/IUCN_Mammals/"+IUCN_Mammals
	var IUCN_MammalsLayer = new google.maps.KmlLayer(IUCN_Mammals_link,{suppressInfoWindows: true})
	IUCN_MammalsLayer.setMap(map);
	// Creating overlays for IUCN Marine Mammals
	var IUCN_Mammals_Marine = $('#IUCN_Mammals_Marine').text()+ '.kmz';
	var IUCN_Mammals_Marine_link = "https://s3.amazonaws.com/esmapping_kmz/IUCN_Mammals_Marine/"+IUCN_Mammals_Marine
	var IUCN_Mammals_MarineLayer = new google.maps.KmlLayer(IUCN_Mammals_Marine_link,{suppressInfoWindows: true})
	IUCN_Mammals_MarineLayer.setMap(map);

	// Creating overlays for IUCN Coral
	var IUCN_Coral = $('#IUCN_Coral').text()+ '.kmz';
	var IUCN_Coral_link = "https://s3.amazonaws.com/esmapping_kmz/IUCN_Coral/"+IUCN_Coral
	var IUCN_CoralLayer = new google.maps.KmlLayer(IUCN_Coral_link,{suppressInfoWindows: true})
	IUCN_CoralLayer.setMap(map);

	// Creating overlays for IUCN Reptiles
	var IUCN_Reptiles = $('#IUCN_Reptiles').text()+ '.kmz';
	var IUCN_Reptiles_link = "https://s3.amazonaws.com/esmapping_kmz/IUCN_Reptiles/"+IUCN_Reptiles
	var IUCN_ReptileLayer = new google.maps.KmlLayer(IUCN_Reptiles_link,{suppressInfoWindows: true})
	IUCN_ReptileLayer.setMap(map);

	// Creating overlays for IUCN Seagrasses
	var IUCN_Seagrasses = $('#IUCN_Seagrasses').text()+ '.kmz';
	var IUCN_Seagrasses_link = "https://s3.amazonaws.com/esmapping_kmz/IUCN_Seagrasses/"+IUCN_Seagrasses
	var IUCN_SeagrassesLayer = new google.maps.KmlLayer(IUCN_Seagrasses_link,{suppressInfoWindows: true})
	IUCN_SeagrassesLayer.setMap(map);	

	// Creating overlays for IUCN SeaCucumbers
	var IUCN_SeaCucumbers = $('#IUCN_SeaCucumbers').text()+ '.kmz';
	var IUCN_SeaCucumbers_link = "https://s3.amazonaws.com/esmapping_kmz/IUCN_SeaCucumbers/"+IUCN_SeaCucumbers
	var IUCN_SeaCucumbersLayer = new google.maps.KmlLayer(IUCN_SeaCucumbers_link,{suppressInfoWindows: true})
	IUCN_SeaCucumbersLayer.setMap(map);	

	// Creating overlays for IUCN Mangrove
	var IUCN_Mangrove = $('#IUCN_Mangrove').text()+ '.kmz';
	var IUCN_Mangrove_link = "https://s3.amazonaws.com/esmapping_kmz/IUCN_Mangroves/"+IUCN_Mangrove
	var IUCN_MangroveLayer = new google.maps.KmlLayer(IUCN_Mangrove_link,{suppressInfoWindows: true})
	IUCN_MangroveLayer.setMap(map);	



};

google.maps.event.addDomListener(window, 'load', initialize);

})

</script>
<!-- CSS to control the layout of the map -->
<style type="text/css">
	#map {width:700px; height:500px;}
	#map div { font-weight:bold;}
	#map #iwsw p { font-weight:normal !important;}
</style>
<!-- end CSS -->