<!-- Google Maps API V3 Key -->
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-zLc7tlB-UbVrQPL6MXJQ1IDEFE-2cWA&sensor=false">
</script>


<div>Endangered Species Mapper</div>
<div id="map"></div>


<script type="text/javascript">
$(document).ready(function(){

// Enable the visual refresh
google.maps.visualRefresh = true;


function initialize() {

	var mapDiv = document.getElementById('map');
	// // Crating a MapOptions object with properties
	var options = {
		center: new google.maps.LatLng(37.09, -95.71),
		zoom: 4,
		mapTypedId: google.maps.MapTypeId.ROADMAP,
		scaleControl: true
	};

	// //Creating the map
	var map = new google.maps.Map(mapDiv,options);

	// Creating overlays
	var nsf = $('#nsf').text()+ '.kmz';
	var nsf_link ="https://s3.amazonaws.com/esmapping_kmz/"+nsf

	// KML overlay
	var speciesLayer = new google.maps.KmlLayer(nsf_link) 
	speciesLayer.setMap(map);

};

google.maps.event.addDomListener(window, 'load', initialize);

})

</script>

<!-- CSS to control the layout of the map -->
<style type="text/css">
	#map {width:700px; height:500px;}
	#map div { font-weight:bold;}
	#map #iwsw p { font-weight:normal !important;}
</style>
<!-- end CSS -->