<script> 
$(document).ready(function(){
	var test = "";
	$.ajax({
		url:"ubertool",
		async: false,
		type: 'GET',
		success: function(ubertool_data) {
			var config_names = ubertool_data['config_names'];
			if(config_names != null)
			{
				for(i = 0; i < config_names.length; i++)
				{
					var config_name = config_names[i];
					$("#id_ubertool_configuration").append(new Option(config_name, config_name));
				}
			}
		}
	});
	
	$("#id_ubertool_configuration").change(function(){
		var ubertool_configuration = $("#id_ubertool_configuration")[0].value;
		if(ubertool_configuration != "None")
		{
			$.ajax({
				url:"ubertool/all_props/"+ubertool_configuration,
				async: false,
				type: 'GET',
				success: function(ubertool_data) {
					var cas_number = ubertool_data["use"]["cas_number"];
					if(cas_number != undefined)
					{
						chemical_name = undefined;
						$.ajax({
							url:"cas/"+cas_number,
							async: false,
							type: 'GET',
							success: function(cas_data) {
								chemical_name = cas_data["chemical_name"];
							}
						});
						if(chemical_name != undefined)
						{
							$("#id_chemical_name")[0].value = chemical_name;
						}
					}
					var application_rate = ubertool_data["use"]["application_kg_rate"];
					if(application_rate != undefined)
					{
						$("#id_mai")[0].value = application_rate;
					}
					var kd = ubertool_data["pest"]["Kd"];
					if(kd != undefined)
					{
						$("#id_Kd")[0].value = kd;
					}
				}
			});
		}
	});
});
</script>
