<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/stylesheets/jqplot/excanvas.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/jquery.jqplot.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/jqplot/jquery.jqplot.css" />
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/plugins/jqplot.barRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/plugins/jqplot.pointLabels.min.js"></script>
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/plugins/jqplot.cursor.min.js"></script>
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="/stylesheets/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>

<div id="chart1" style="margin-top:20px; margin-left:20px; width:600px; height:400px;"></div>

<script type='text/javascript'> 

$(document).ready(function(){
    	
		
$('#calc').click(function () {
  	var title = $("#title").val();
  	var color = $("#color").val();
    //$("#chart1").width(600);
    //$("#chart1").height(400);

    var buckets = parseInt($("#buckets").val());
    var data = $.parseJSON($('#cw_out_raw').attr('data-val'));
    data.sort(function (a, b) {
        return a - b
    });

    //what if they are decimals?
    var last = data.slice(-1)[0];
    //toFixed() returns a string so using MAth function
    //var step = parseFloat(last/buckets);
    var rstep = Math.round((last / buckets) * 100) / 100;
    var ranges = [];
    var values = [];
    var next = 0;

    for (i = 0; i < buckets; i++) {
        if (i < buckets - 1) {
            var first = next;
            var next = Math.round((next + rstep) * 100) / 100;
            var bin = first + "-" + next;
        } else {
            var mylast = Math.round(last * 100) / 100;
            var bin = next + "-" + mylast;
            var next = mylast;
        }

        var count = 0;

        while (data[0] <= next) {
            count++;
            data.shift();
        };

        values.push(count);
        ranges.push(bin);
    }
    createit(title, color, values, ranges);
    return false;
});

function createit(mytitle, mycolor, s1, ticks) {

    $('#chart1').empty();

    plot1 = $.jqplot('chart1', [s1], {
        title: mytitle,
        axesDefaults: {
            tickRenderer: $.jqplot.CanvasAxisTickRenderer,
            tickOptions: {
                fontSize: '14px'
            }
        },
        seriesDefaults: {
            renderer: $.jqplot.BarRenderer,
            rendererOptions: {
                barWidth: null,
                barPadding: 0,
                barMargin: 5
            }
        },
        axes: {
            xaxis: {
                renderer: $.jqplot.CategoryAxisRenderer,
                ticks: ticks,
				label :'Peak & Chronic EEC'
            },
      		yaxis: {
        		label: 'Counts',
					labelRenderer: $.jqplot.CanvasAxisLabelRenderer
				
      				}
        },
        series: [{
            color: mycolor
        }]
    });
}
})
</script>



  



