<script> 
$(document).ready(function(){
	var test = "";
	$.ajax({
		url:"ubertool",
		async: false,
		type: 'GET',
		success: function(ubertool_data) {
			var config_names = ubertool_data['config_names'];
			if(config_names != null)
			{
				for(i = 0; i < config_names.length; i++)
				{
					var config_name = config_names[i];
					$("#id_ubertool_configuration").append(new Option(config_name, config_name));
				}
			}
		}
	});
	
	$("#id_ubertool_configuration").change(function(){
		var ubertool_configuration = $("#id_ubertool_configuration")[0].value;
		if(ubertool_configuration != "None")
		{
			$.ajax({
				url:"ubertool/all_props/"+ubertool_configuration,
				async: false,
				type: 'GET',
				success: function(ubertool_data) {
					var cas_number = ubertool_data["use"]["cas_number"];
					if(cas_number != undefined)
					{
						chemical_name = undefined;
						$.ajax({
							url:"cas/"+cas_number,
							async: false,
							type: 'GET',
							success: function(cas_data) {
								chemical_name = cas_data["chemical_name"];
								pc_code = cas_data["pc_code"];
							}
						});
						if(chemical_name != undefined)
						{
							$("#id_chemical_name")[0].value = chemical_name;
						}
					}
					var body_weight_of_the_assessed_bird = ubertool_data["terra"]["body_weight_of_the_assessed_bird"];
					if(body_weight_of_the_assessed_bird != undefined)
					{
						$("#id_body_weight_of_bird")[0].value = body_weight_of_the_assessed_bird;
						$("#id_body_weight_of_the_assessed_bird")[0].value = body_weight_of_the_assessed_bird;
						$("#id_body_weight_of_the_tested_bird")[0].value = body_weight_of_the_assessed_bird;
					}
					// Where is the mammalian weight?
					var solubility = ubertool_data["pest"]["solubility"];
					if(solubility != undefined)
					{
						$("#id_solubility")[0].value = solubility;
					}
					var ld50 = ubertool_data["terra"]["avian_ld50"];
					if(ld50 != undefined)
					{
						$("#id_ld50")[0].value = ld50;
					}
					else
					{
						ld50 = ubertool_data["terra"]["mammalian_ld50"];
						if(ld50 != undefined)
						{
							$("#id_ld50")[0].value = ld50;
						}
					}
					var noaec = ubertool_data["terra"]["avian_NOAEC"];
					if(noaec != undefined)
					{
						$("#id_NOAEC")[0].value = noaec;
					}
					else
					{
						noaec = ubertool_data["terra"]["mammlian_NOAEC"];
						if(noaec != undefined)
						{
							$("#id_NOAEC")[0].value = noaec;
						}
					}
					var noael = ubertool_data["terra"]["avian_NOAEL"];
					if(noael != undefined)
					{
						$("#id_NOAEL")[0].value = noael;
					}
					else
					{
						noael = ubertool_data["terra"]["mammlian_NOAEL"];
						if(noael != undefined)
						{
							$("#id_NOAEL")[0].value = noael;
						}
					}
				}
			});
		}
	});
});
</script>
