<tr><th><label for="id_user_ubertool_configuration_0">User Saved Use Configuration:</label></th>
	<td><div name="ubertool_select" id="ubertool_select"><select name="user_ubertool_configuration_0" class="id_user_ubertool_configuration_0" id="id_user_ubertool_configuration_0" onchange=updateUbertoolConfigurations(this) style="width:120px">
		<option value="None">None</option>
	</select></div></td><td><input type="button" name="new_ubertool_run" class="new_ubertool_run" value="+"/></td>
</tr>
<tr><th><label for="id_config_name_0">Ubertool Configuration Name:</label></th>
	<td><div name="ubertool_input" id="ubertool_input"><input type="text" name="config_name_0" value="ubertool-config-1" id="id_config_name_0" style='width:116px'/></div></td></tr>
<tr><th><label for="id_use_configuration_0">Use configuration:</label></th>
	<td><div name="use_select" id="use_select"><select name="use_configuration_0" id="id_use_configuration_0" style="width:120px">
		<option value="None">None</option>
	</select></div></td>
</tr>
<tr><th><label for="id_pest_configuration_0">Pest configuration:</label></th>
	<td><div name="pest_select" id="pest_select"><select name="pest_configuration_0" id="id_pest_configuration_0" style="width:120px">
		<option value="None">None</option>
	</select></div></td>
</tr>
<tr><th><label for="id_exposures_configuration_0">Exposures configuration:</label></th>
	<td><div name="exposure_select" id="exposure_select"><select name="exposures_configuration_0" id="id_exposures_configuration_0" style="width:120px">
		<option value="None">None</option>
	</select></div></td>
</tr>
<tr><th><label for="id_aquatic_configuration_0">Aquatic configuration:</label></th>
	<td><div name="aquatic_select" id="aquatic_select"><select name="aquatic_configuration_0" id="id_aquatic_configuration_0" style="width:120px">
		<option value="None">None</option>
	</select></div></td>
</tr>
<tr><th><label for="id_terrestrial_configuration_0">Terrestrial configuration:</label></th>
	<td><div name="terrestrial_select" id="terrestrial_select"><select name="terrestrial_configuration_0" id="id_terrestrial_configuration_0" style="width:120px">
		<option value="None">None</option>
	</select></div></td>
</tr>
<tr><th><label for="id_ecosystems_configuration_0">Ecosystems configuration:</label></th>
	<td><div name="ecosystem_select" id="ecosystem_select"><select name="ecosystems_configuration_0" id="id_ecosystems_configuration_0" style="width:120px">
		<option value="None">None</option>
	</select></div></td>
</tr>
