<tr><th><label for="id_user_ubertool_configuration">User Saved Use Configuration:</label></th>
	<td><div name="ubertool_select" id="ubertool_select"><select name="user_ubertool_configuration" class="id_user_ubertool_configuration" id="id_user_ubertool_configuration" style="width:120px">
		<option value="None">None</option>
	</select></div></td><td><input type="button" name="new_ubertool_run" class="new_ubertool_run" value="+"/></td>
</tr>
<tr><th><label for="id_config_name">Ubertool Configuration Name:</label></th>
	<td><div name="ubertool_input" id="ubertool_input"><input type="text" name="config_name" value="ubertool-config-1" id="id_config_name" style='width:116px'/></div></td></tr>
<tr><th><label for="id_use_configuration">Use configuration:</label></th>
	<td><div name="use_select" id="use_select"><select name="use_configuration" id="id_use_configuration" style="width:120px">
		<option value="None">None</option>
	</select></div></td>
</tr>
<tr><th><label for="id_pest_configuration">Pest configuration:</label></th>
	<td><div name="pest_select" id="pest_select"><select name="pest_configuration" id="id_pest_configuration" style="width:120px">
		<option value="None">None</option>
	</select></div></td>
</tr>
<tr><th><label for="id_exposures_configuration">Exposures configuration:</label></th>
	<td><div name="exposure_select" id="exposure_select"><select name="exposures_configuration" id="id_exposures_configuration" style="width:120px">
		<option value="None">None</option>
	</select></div></td>
</tr>
<tr><th><label for="id_aquatic_configuration">Aquatic configuration:</label></th>
	<td><div name="aquatic_select" id="aquatic_select"><select name="aquatic_configuration" id="id_aquatic_configuration" style="width:120px">
		<option value="None">None</option>
	</select></div></td>
</tr>
<tr><th><label for="id_terrestrial_configuration">Terrestrial configuration:</label></th>
	<td><div name="terrestrial_select" id="terrestrial_select"><select name="terrestrial_configuration" id="id_terrestrial_configuration" style="width:120px">
		<option value="None">None</option>
	</select></div></td>
</tr>
<tr><th><label for="id_ecosystems_configuration">Ecosystems configuration:</label></th>
	<td><div name="ecosystem_select" id="ecosystem_select"><select name="ecosystems_configuration" id="id_ecosystems_configuration" style="width:120px">
		<option value="None">None</option>
	</select></div></td>
</tr>
