<script type="text/javascript" src=" ../stylesheets/jquery.validate.js"></script>
<script type="text/javascript" src="../stylesheets/jquery.ui.core.js"></script>
<script type="text/javascript" src="../stylesheets/jquery.ui.sortable.js"></script>

<!-- import Suffle Script -->
<script src="/stylesheets/shuffle.js" type="text/javascript"></script>

<td width=656px>
	<div class="articles">
	  <h2 class="model_header">Registration</h2>
		<form method="POST" id="form2" class="registration" action=user.html>
			Username<input type="text" name="userid"/>
			Password<input type="password" name="pswrd"/>
			E-mail Address<input type="text" name="email_address"/>
			<input type="button" onclick="register(this.form)" value="Register"/>
			<input type="reset" value="Cancel"/>
		</form>
	</div>
</td> 

<!-- import Suffle_captcha Script -->
<script src="/stylesheets/shuffle_captcha.js" type="text/javascript"></script>