<!--start vvwm_weatherfile-->
	</table>
	<table class="tab tab_CropLand" style="display:none">
		<tr>
			<th>
				<form method="post" id="form1">
				Weather File (*.dvf):
			</th>
			<td>
				<input type="file" id="upfile1" name="upfile" class="required input_button" accept=".dvf" />
				<h6>(Must be the same file used to create PRZM Output File below)</h6>
			</td>
		</tr>
		<tr>
			<th>
				PRZM Output File (*.zts): 
			</th>
			<td>
				<input type="file" id="upfile2" name="upfile" class="required input_button" accept=".zts" />
				</form>
			</td>
		</tr>
<!--end vvwm_weatherfile-->