<link href="/stylesheets/style_webice.css" media="screen" rel="stylesheet" type="text/css" />

<h1 id="PageName">Species Sensitivity Distributions</h1>

<div id="subPage" style=" display: none;"> </div>

<div id="resultTitle" style=" display: none;"> </div>

<form name="ssdResultsForm" action="#" method="post">
	<div>
		<div class="centeredData">
			<span class="title">Surrogate Species:</span> <span id="speciesIn"></span>
		</div>

		<div class="centeredData">
			<span class="title">Input Toxicity:</span> <span id="toxValIn"></span>
		</div>

		<div class="centeredData">
			<select id="Percent" onchange="reCompute();">
				<option value="1">HD1</option>
				<option selected="selected" value="5">HD5</option>
				<option value="10">HD10</option>
			</select>

			<span id="HCPval"> </span> <span id="HCPLower"> </span> <span id="HCPUpper"> </span>
		</div>
	</div>
	<div>
		<table id="filtertable">
			<tr>
				<th colspan="6">
					Data Filters (Upper and Lower Limits)
					<button style="float:right;width:60px;" type="button" onclick="filterData();">Filter</button>
				</th>
			</tr>
			<tr>
				<td></td><td>Lower</td><td>Upper</td>
				<td></td><td>Lower</td><td>Upper</td>
			<tr>
				<td>Degrees of Freedom (N-2)</td>
				<td><input type="text" size="1" id="dofLL"></td>
				<td><input type="text" size="1" id="dofUL"></td>
				<td>Cross-validation Success (%)</td>
				<td><input type="text" size="1" id="cvsLL"></td>
				<td><input type="text" size="1" id="cvsUL"></td>
			</tr>
			<tr>
				<td>R2</td>
				<td><input type="text" size="1" id="r2LL"></td>
				<td><input type="text" size="1" id="r2UL"></td>
				<td>Taxonomic Distance</td>
				<td><input type="text" size="1" id="tdLL"></td>
				<td><input type="text" size="1" id="tdUL"></td>
			</tr>
			<tr>
				<td>p-value</td>
				<td><input type="text" size="1" id="pvLL"></td>
				<td><input type="text" size="1" id="pvUL"></td>
				<td>Slope</td>
				<td><input type="text" size="1" id="sLL"></td>
				<td><input type="text" size="1" id="sUL"></td>
			</tr>
			<tr>
				<td>Mean Square Error (MSE)</td>
				<td><input type="text" size="1" id="mseLL"></td>
				<td><input type="text" size="1" id="mseUL"></td>
				<td>Intercept</td>
				<td><input type="text" size="1" id="intLL"></td>
				<td><input type="text" size="1" id="intUL"></td>
			</tr>
		</table>
	</div>
	<button type="button" onclick="createExcelSheet(0);">Provide Copy-friendly Output for Selected Data</button>
	<button type="button" onclick="createExcelSheet(1);">Provide Copy-friendly Output for All Data</button>
  <!-- <div class="ssdResultsContainerTopScroll">
  	<div class="scroll-div1">
  	</div>
  </div> -->
  <div class="ssdResultsContainer">
  	<div class="scroll-div2">
	    <table id="ssdResults">
	  		<tr>
	  			<th></th>
	  			<th></th>
	  			<th id="Col2">Common Name</th>
	  			<th id="Col3">Scientific</th>
	  			<th id="Col4">Estimated Toxicity</th>
	  			<th id="Col5">95% Confidence Intervals</th>
	  			<th id="Col6">Surrogate</th>
	  			<th id="Col7">Degrees of Freedom (N-2)</th>
	  			<th id="Col8">R2</th>
	  			<th id="Col9" nowrap="nowrap">p-value</th>
	  			<th id="Col10">Mean Square Error (MSE)</th>
	  			<th id="Col11">Cross-validation Success (%)</th>
	  			<th id="Col12">Taxonomic Distance</th>
	  			<th id="Col13">Slope</th>
	  			<th id="Col14">Intercept</th>
	  		</tr>
	  	</table>
	</div>
  </div>
</form>