<table class="webice webiceSel">
  <tr>
    <th colspan="2">Web-ICE Modules</th>
  </tr>
  <tr>
  	<th>ICE Aquatic</th>
  	<th>ICE Wildlife</th>
  </tr>
  <tr>
  	<th>Aquatic vertebrates / invertebrates</th>
  	<th>Terrestrial Birds / Mammals</th>
  </tr>
  <tr>
  	<td><a href="#?file=as" id="asTaxa">Species</a></td>
  	<td><a href="#?file=ws" id="wsTaxa">Species</a></td>
  </tr>
  <tr>
  	<td><a href="#?file=ag" id="agTaxa">Genus</a></td>
  	<td><a href="#?file=wf" id="wfTaxa">Family</a></td>
  </tr>
  <tr>
  	<td><a href="#?file=af" id="afTaxa">Family</a></td>
  </tr>
  <tr>
  	<th>Algae</th>
  </tr>
  <tr>
  	<td><a href="#?file=ls" id="lsTaxa">Species</a></td>
  </tr>
  <tr>
  	<td><a href="#?file=lg" id="lgTaxa">Genus</a></td>
  </tr>
</table>
<table class="webice webiceSel">
  <tr>
    <th colspan="2">Species Sensitivity Distribution Module</th>
  </tr>
  <tr>
  	<td><a href="#?filename=as" id="asSSD">ICE Aquatic</a></td>
  	<td><a href="#?filename=ws" id="awSSD">ICE Wildlife</a></td>
  </tr>
</table>
<table class="webice webiceSel">
  <tr>
    <th colspan="2">Endangered Species Module</th>
  </tr>
  <tr>
  	<td><a href="#?filename=tneAs" id="tneAs">ICE Aquatic</a></td>
  	<td><a href="#?filename=tneWs" id="tneWs">ICE Wildlife</a></td>
  </tr>
</table>

<table id="wiTaxatemp" class="webice" style="display:none">
  <tr>
    <th>Surrogate:</th>
    <th>Predicted:</th>
  </tr>
  <tr>
    <td id="SurrogateCell">
      <select id="Surrogate" name="Surrogate" onchange="loadSurrogate();">
        <option> </option>
      </select>
    </td>
    <td id="PredictedCell">
      <select id="Predicted" name="Predicted" onchange="loadPredicted();">
        <option> </option>
      </select>
    </td>
  </tr>
  <tr id="sortRow">
    <td>Sort By: 
      <select id="sortBy" onchange="nameReload();">
        <option>Common Name</option>
        <option>Scientific Name</option>
      </select>
    </td>
  </tr>
<input id="file" name="file" type="hidden" />
</table>
