a.home-link,
a.home-link:visited {
  color: #000;
}
a.home-link:hover {
  text-decoration: underline;
}
.region-highlighted {
  margin: 0 -1em 0;
}
.region-highlighted ul { /* For some reason this was never "normalized", its done here */
  margin: 0;
}
.region-sidebar .block-og-menu {
  padding: 0 0 1.5em;
}
.headerbar {
  padding: .5em 0 .5em .5em;
  background-color: #356;
  background-image: -moz-linear-gradient(top, rgba(0,0,0,.25) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,.25) 100%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,.25) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,.25) 100%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,.25) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,.25) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,.25) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,.25) 100%);
  background-image: linear-gradient(top, rgba(0,0,0,.25) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,.25) 100%);
  color: #fff;
  /*font-size: 81.25%;*/
  font-weight: bold;
  line-height: 1;
  /*padding: .7692em 1.2307em;*/
  text-decoration: none;
}
.menu-item-last {
  border-bottom: 1px solid #599dbd;
}
.menu-item-sel {
  background: #599DBD;
}