<!--start 04uberinput_end-->
	</table>

		<div class="input_nav">
			<div class="input_left">
				<ul>
					<li><input type="button" value="Defaults" id="resetbutton" class="input_button"></li>
					<li><input type="button" value="Clear" id="clearbutton" class="input_button"></li>
				</ul>
			</div>
			<div class="input_right">
				<ul>
					<li id="metaDataText">Save Metadata?</li>
					<li><input type="checkbox" id="metaDataToggle" /></li>
					<li><input type="submit" value="{{ sub_title }}" class="input_button"></li>
				</ul>
			</div>
		</div> <!-- End "submit" div -->
	<div id="metaDataDiv" style="display:none">
		<p>Enter Metadata to be saved with model run here:</p>
		<textarea rows="2" id="metaDataTxtArea"></textarea>
	</div>
		</form>
</div> <!-- End "articles_input" div -->
<!--end 04uberinput_end-->