<!--start 04uberwebice_end-->
	</table>

		<div class="input_nav">
			<div class="input_left">
				<ul>
					<li><input type="button" value="Back" id="backbutton" class="input_button" style="display:none"></li>
					<!-- <li><input type="button" value="Defaults" id="resetbutton" class="input_button"></li>
					<li><input type="button" value="Clear" id="clearbutton" class="input_button"></li> -->
				</ul>
			</div>
			<div class="input_right">
				<ul>
					<li><input type="submit" value="Continue" id="contbutton" class="input_button" style="display:none" /></li>
					<li><input id="SubmitTable" type="submit" value="Calculate" style="display:none" /></li>
				</ul>
			</div>
		</div> <!-- End "submit" div -->
		</form>
</div> <!-- End "articles_input" div -->
<!--end 04uberwebice_end