<!--start 05pop_ubertext_links_right-->
<div class="right">
  <div class="urbangreymenu" id="r_menu">

    <h3 class="headerbar">Online Models</h3>
        <ul>
        	<li><a href="http://www4.stat.ncsu.edu/~pollock/turkey/model_info.html" target="_blank" class="fadeMenu">Wild Turkey</a></li>
			<li><a href="http://www.runthemodel.com/models/ecosystem_dynamics/" target="_blank" class="fadeMenu">Ecosystem Dynamics</a></li>
        	<li><a href="http://www.runthemodel.com/models/200/" target="_blank" class="fadeMenu">Wandering Elephants</a></li>
			<li><a href="http://www.runthemodel.com/models/992/" target="_blank" class="fadeMenu">Predator Prey - Migration Adapted</a></li>
			<li><a href="http://www.runthemodel.com/models/194/" target="_blank" class="fadeMenu submenu_last">Predator Prey</a></li>
        </ul>

	<h3 class="headerbar">Links</h3>
        <ul>
			<li><a href="http://mathdl.maa.org/mathDL/4/?nodeId=634&amp;pa=content&amp;sa=viewDocument" target="_blank" class="fadeMenu">Journal of Online Mathematics and its Applications</a></li>
			<li><a href="http://austringer.net/wp/index.php/2012/10/08/population-modeling-in-python/" target="_blank" class="fadeMenu submenu_last">Population Modeling in Python</a></li>
		</ul>
		
  </div>
</div>

<!--end 05pop_ubertext_links_right-->
