<script type="text/javascript" src=" ../stylesheets/jquery.validate.js"></script>
<script type="text/javascript" src="../stylesheets/jquery.ui.core.js"></script>
<script type="text/javascript" src="../stylesheets/jquery.ui.sortable.js"></script>

<!-- import Suffle Script -->
<script src="/stylesheets/shuffle.js" type="text/javascript"></script>

<td width=656px>
	<div class="articles">
	  <h2 class="model_header">OpenId Login</h2>
		<form action="/auth/openid" method="post">
		    <div>
		        <label>OpenID:</label>
		        <input type="text" name="openid_identifier"/><br/>
		    </div>
		    <div>
		        <input type="submit" value="Sign In"/>
		    </div>
		</form>
		<a href="/auth/google">Sign In with Google</a>
	</div>
</td>