.errorpanel {
	background: none;
}
.errorpanel .details {
	background: none;
	border-left: none;
}

.errorpanel .details .gwt-Label {
	font-weight: bold;
	padding-left: 2px;
}

.errorpanel .details .gwt-TextArea-readonly {
	color: black;
	border-style: none;
	background: #E7E7E7;
}
