.touchToolbar .gwt-ToggleButton,
.touchToolbar .gwt-PushButton-up,
.touchToolbar .gwt-PushButton-down,
.touchToolbar .gwt-PushButton-up-hovering,
.touchToolbar .gwt-PushButton-down-hovering,
.touchToolbar .gwt-PushButton-up-disabled,
.touchToolbar .gwt-PushButton-down-disabled,
.touchComboButtonPopup .gwt-ToggleButton,
.touchComboButtonPopup .gwt-PushButton,
.toolbar .gwt-ToggleButton,
.toolbar .gwt-PushButton-up,
.toolbar .gwt-PushButton-down,
.toolbar .gwt-PushButton-up-hovering,
.toolbar .gwt-PushButton-down-hovering,
.toolbar .gwt-PushButton-up-disabled,
.toolbar .gwt-PushButton-down-disabled,
.comboButtonPopup .gwt-ToggleButton,
.comboButtonPopup .gwt-PushButton {
	width: 24px;
	height: 28px;
	line-height: 26px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	padding: 0px;
	padding-left: 2px;
	padding-right: 2px;
}

.touchToolbar .gwt-ToggleButton,
.touchToolbar .gwt-PushButton-up,
.touchToolbar .gwt-PushButton-down,
.touchToolbar .gwt-PushButton-up-hovering,
.touchToolbar .gwt-PushButton-down-hovering,
.touchToolbar .gwt-PushButton-up-disabled,
.touchToolbar .gwt-PushButton-down-disabled,
.touchComboButtonPopup .gwt-ToggleButton,
.touchComboButtonPopup .gwt-PushButton{
	width: 54px;
	height: 58px;
	line-height: 56px;	
}

.touchToolbar .hTouchToolbarNavigator .gwt-PushButton-up,
.touchToolbar .hTouchToolbarNavigator .gwt-PushButton-down,
.touchToolbar .hTouchToolbarNavigator .gwt-PushButton-up-hovering,
.touchToolbar .hTouchToolbarNavigator .gwt-PushButton-down-hovering,
.touchToolbar .hTouchToolbarNavigator .gwt-PushButton-up-disabled,
.touchToolbar .hTouchToolbarNavigator .gwt-PushButton-down-disabled{
	width: 24px;
}

.toolbar .hToolbarNavigator .gwt-PushButton-up,
.toolbar .hToolbarNavigator .gwt-PushButton-down,
.toolbar .hToolbarNavigator .gwt-PushButton-up-hovering,
.toolbar .hToolbarNavigator .gwt-PushButton-down-hovering,
.toolbar .hToolbarNavigator .gwt-PushButton-up-disabled,
.toolbar .hToolbarNavigator .gwt-PushButton-down-disabled{
	width: 9px;
}

.touchToolbar .vTouchToolbarNavigator .gwt-PushButton-up,
.touchToolbar .vTouchToolbarNavigator .gwt-PushButton-down,
.touchToolbar .vTouchToolbarNavigator .gwt-PushButton-up-hovering,
.touchToolbar .vTouchToolbarNavigator .gwt-PushButton-down-hovering,
.touchToolbar .vTouchToolbarNavigator .gwt-PushButton-up-disabled,
.touchToolbar .vTouchToolbarNavigator .gwt-PushButton-down-disabled{
	height: 28px;
	line-height: 26px;	
}

.toolbar .vToolbarNavigator .gwt-PushButton-up,
.toolbar .vToolbarNavigator .gwt-PushButton-down,
.toolbar .vToolbarNavigator .gwt-PushButton-up-hovering,
.toolbar .vToolbarNavigator .gwt-PushButton-down-hovering,
.toolbar .vToolbarNavigator .gwt-PushButton-up-disabled,
.toolbar .vToolbarNavigator .gwt-PushButton-down-disabled{
	height: 13px;
	line-height: 11px;	
}


.touchToolbar .gwt-ToggleButton img,
.touchToolbar .gwt-PushButton-up img,
.touchToolbar .gwt-PushButton-down img,
.touchToolbar .gwt-PushButton-up-hovering img,
.touchToolbar .gwt-PushButton-down-hovering img,
.touchToolbar .gwt-PushButton-up-disabled img,
.touchToolbar .gwt-PushButton-down-disabled img,
.touchComboButtonPopup .gwt-ToggleButton img,
.touchComboButtonPopup .gwt-PushButton img,
.toolbar .gwt-ToggleButton img,
.toolbar .gwt-PushButton-up img,
.toolbar .gwt-PushButton-down img,
.toolbar .gwt-PushButton-up-hovering img,
.toolbar .gwt-PushButton-down-hovering img,
.toolbar .gwt-PushButton-up-disabled img,
.toolbar .gwt-PushButton-down-disabled img,
.comboButtonPopup .gwt-ToggleButton img,
.comboButtonPopup .gwt-PushButton img{
	vertical-align: middle;
	margin-top: 1px;
}

.touchToolbar .gwt-ToggleButton-up-disabled,
.touchToolbar .gwt-ToggleButton-down-disabled,
.touchToolbar .gwt-PushButton-up-disabled,
.touchToolbar .gwt-PushButton-down-disabled,
.touchToolbar .gwt-ToggleButton-up,
.touchToolbar .gwt-PushButton-up,
.touchComboButtonPopup .gwt-ToggleButton-up-disabled,
.touchComboButtonPopup .gwt-ToggleButton-down-disabled,
.touchComboButtonPopup .gwt-ToggleButton-up,
.touchComboButtonPopup .gwt-PushButton-up-disabled,
.touchComboButtonPopup .gwt-PushButton-down-disabled,
.touchComboButtonPopup .gwt-PushButton-up,
.toolbar .gwt-ToggleButton-up-disabled,
.toolbar .gwt-ToggleButton-down-disabled,
.toolbar .gwt-PushButton-up-disabled,
.toolbar .gwt-PushButton-down-disabled,
.toolbar .gwt-ToggleButton-up,
.toolbar .gwt-PushButton-up,
.comboButtonPopup .gwt-ToggleButton-up-disabled,
.comboButtonPopup .gwt-ToggleButton-down-disabled,
.comboButtonPopup .gwt-ToggleButton-up,
.comboButtonPopup .gwt-PushButton-up-disabled,
.comboButtonPopup .gwt-PushButton-down-disabled,
.comboButtonPopup .gwt-PushButton-up {
	border: 1px solid white;
	
}
.touchComboButtonPopup .gwt-ToggleButton,
.comboButtonPopup .gwt-ToggleButton{
	outline: none;
}

.touchToolbar .gwt-ToggleButton img,
.touchToolbar .gwt-ToggleButton-up img,
.touchToolbar .gwt-ToggleButton-down img,
.touchToolbar .gwt-PushButton-up img,
.touchToolbar .gwt-PushButton-down img,
.touchComboButtonPopup .gwt-ToggleButton img,
.touchComboButtonPopup .gwt-ToggleButton-up img,
.touchComboButtonPopup .gwt-ToggleButton-down img,
.touchComboButtonPopup .gwt-PushButton img,
.touchComboButtonPopup .gwt-PushButton-up img,
.touchComboButtonPopup .gwt-PushButton-down img, 
.toolbar .gwt-ToggleButton img,
.toolbar .gwt-ToggleButton-up img,
.toolbar .gwt-ToggleButton-down img,
.toolbar .gwt-PushButton-up img,
.toolbar .gwt-PushButton-down img,
.comboButtonPopup .gwt-ToggleButton img,
.comboButtonPopup .gwt-ToggleButton-up img,
.comboButtonPopup .gwt-ToggleButton-down img,
.comboButtonPopup .gwt-PushButton img,
.comboButtonPopup .gwt-PushButton-up img,
.comboButtonPopup .gwt-PushButton-down img {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

.touchToolbar .gwt-ToggleButton-up-disabled img,
.touchToolbar .gwt-ToggleButton-down-disabled img,
.touchToolbar .gwt-PushButton-up-disabled img,
.touchToolbar .gwt-PushButton-down-disabled img,
.touchComboButtonPopup .gwt-ToggleButton-up-disabled img,
.touchComboButtonPopup .gwt-ToggleButton-down-disabled img,
.touchComboButtonPopup .gwt-PushButton-up-disabled img,
.touchComboButtonPopup .gwt-PushButton-down-disabled img,
.toolbar .gwt-ToggleButton-up-disabled img,
.toolbar .gwt-ToggleButton-down-disabled img,
.toolbar .gwt-PushButton-up-disabled img,
.toolbar .gwt-PushButton-down-disabled img,
.comboButtonPopup .gwt-ToggleButton-up-disabled img,
.comboButtonPopup .gwt-ToggleButton-down-disabled img,
.comboButtonPopup .gwt-PushButton-up-disabled img,
.comboButtonPopup .gwt-PushButton-down-disabled img{
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

.touchToolbar .gwt-ToggleButton-up-hovering,
.touchToolbar .gwt-PushButton-up-hovering,
.touchToolbar .gwt-ToggleButton-up:hover,
.touchToolbar .gwt-PushButton-up:hover,
.touchComboButtonPopup .gwt-ToggleButton-up-hovering,
.touchComboButtonPopup .gwt-ToggleButton-up:hover,
.touchComboButtonPopup .gwt-PushButton-up-hovering,
.touchComboButtonPopup .gwt-PushButton-up:hover,
.toolbar .gwt-ToggleButton-up-hovering,
.toolbar .gwt-PushButton-up-hovering,
.toolbar .gwt-ToggleButton-up:hover,
.toolbar .gwt-PushButton-up:hover,
.comboButtonPopup .gwt-ToggleButton-up-hovering,
.comboButtonPopup .gwt-ToggleButton-up:hover,
.comboButtonPopup .gwt-PushButton-up-hovering,
.comboButtonPopup .gwt-PushButton-up:hover{
	border: 1px solid white;
}

.touchToolbar .gwt-ToggleButton-down,
.touchToolbar .gwt-PushButton-down,
.touchComboButtonPopup .gwt-ToggleButton-down,
.touchComboButtonPopup .gwt-PushButton-down,
.toolbar .gwt-ToggleButton-down,
.toolbar .gwt-PushButton-down,
.comboButtonPopup .gwt-ToggleButton-down,
.comboButtonPopup .gwt-PushButton-down {
	outline: none;
}

.touchToolbar .gwt-ToggleButton,
.touchToolbar .gwt-ToggleButton-up,
.touchToolbar .gwt-ToggleButton-down,
.touchToolbar .gwt-ToggleButton-up-hovering,
.touchToolbar .gwt-ToggleButton-down-hovering,
.touchToolbar .gwt-ToggleButton-up-disabled,
.touchToolbar .gwt-ToggleButton-down-disabled,
.touchToolbar .gwt-PushButton-up,
.touchToolbar .gwt-PushButton-down,
.touchToolbar .gwt-PushButton-up-hovering,
.touchToolbar .gwt-PushButton-down-hovering,
.touchToolbar .gwt-PushButton-up-disabled,
.touchToolbar .gwt-PushButton-down-disabled,
.touchComboButtonPopup .gwt-ToggleButton,
.touchComboButtonPopup .gwt-ToggleButton-up,
.touchComboButtonPopup .gwt-ToggleButton-down,
.touchComboButtonPopup .gwt-ToggleButton-up-hovering,
.touchComboButtonPopup .gwt-ToggleButton-down-hovering,
.touchComboButtonPopup .gwt-ToggleButton-up-disabled,
.touchComboButtonPopup .gwt-ToggleButton-down-disabled,
.touchComboButtonPopup .gwt-PushButton,
.touchComboButtonPopup .gwt-PushButton-up,
.touchComboButtonPopup .gwt-PushButton-down,
.touchComboButtonPopup .gwt-PushButton-up-hovering,
.touchComboButtonPopup .gwt-PushButton-down-hovering,
.touchComboButtonPopup .gwt-PushButton-up-disabled,
.touchComboButtonPopup .gwt-PushButton-down-disabled,
.toolbar .gwt-ToggleButton,
.toolbar .gwt-ToggleButton-up,
.toolbar .gwt-ToggleButton-down,
.toolbar .gwt-ToggleButton-up-hovering,
.toolbar .gwt-ToggleButton-down-hovering,
.toolbar .gwt-ToggleButton-up-disabled,
.toolbar .gwt-ToggleButton-down-disabled,
.toolbar .gwt-PushButton-up,
.toolbar .gwt-PushButton-down,
.toolbar .gwt-PushButton-up-hovering,
.toolbar .gwt-PushButton-down-hovering,
.toolbar .gwt-PushButton-up-disabled,
.toolbar .gwt-PushButton-down-disabled,
.comboButtonPopup .gwt-PushButton,
.comboButtonPopup .gwt-PushButton-up,
.comboButtonPopup .gwt-PushButton-down,
.comboButtonPopup .gwt-PushButton-up-hovering,
.comboButtonPopup .gwt-PushButton-down-hovering,
.comboButtonPopup .gwt-PushButton-up-disabled,
.comboButtonPopup .gwt-PushButton-down-disabled,
.comboButtonPopup .gwt-ToggleButton,
.comboButtonPopup .gwt-ToggleButton-up,
.comboButtonPopup .gwt-ToggleButton-down,
.comboButtonPopup .gwt-ToggleButton-up-hovering,
.comboButtonPopup .gwt-ToggleButton-down-hovering,
.comboButtonPopup .gwt-ToggleButton-up-disabled,
.comboButtonPopup .gwt-ToggleButton-down-disabled{
	background-image: none;
	border: 1px solid white;
	
}
.touchToolbar .comboButton,
.toolbar .comboButton,
.touchToolbar .comboButton-down,
.toolbar .comboButton-down{
	border-radius: 0px;
	border-bottom-right-radius: 9px;
	background-color: white;
}

.touchToolbar .comboButton,
.toolbar .comboButton{
	background-color: white;
}


.touchToolbar .comboButton{
	border-bottom-right-radius: 15px;
}

.touchToolbar .comboButtonBackground,
.toolbar .comboButtonBackground{
	background: black;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iNzklIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 84%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(84%,rgba(0,0,0,0)), color-stop(85%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 84%,rgba(0,0,0,1) 85%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 84%,rgba(0,0,0,1) 85%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 84%,rgba(0,0,0,1) 85%,rgba(0,0,0,1) 100%);
	background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 84%,rgba(0,0,0,1) 85%,rgba(0,0,0,1) 100%);
	filter: none;
	margin: 0px;
	padding: 0px;
}

.touchToolbar .gwt-PushButton-down,
.touchToolbar .gwt-PushButton-down-hovering,
.touchToolbar .gwt-PushButton-down-disabled,
.toolbar .gwt-PushButton-down,
.toolbar .gwt-PushButton-down-hovering,
.toolbar .gwt-PushButton-down-disabled,
.touchToolbar .gwt-ToggleButton-down,
.touchToolbar .gwt-ToggleButton-down-hovering,
.touchToolbar .gwt-ToggleButton-down-disabled,
.toolbar .gwt-ToggleButton-down,
.toolbar .gwt-ToggleButton-down-hovering,
.toolbar .gwt-ToggleButton-down-disabled,
.comboButtonPopup .gwt-ToggleButton-down,
.comboButtonPopup .gwt-ToggleButton-down-hovering,
.comboButtonPopup .gwt-ToggleButton-down-disabled,
.comboButtonPopup .gwt-PushButton-down,
.comboButtonPopup .gwt-PushButton-down-hovering,
.comboButtonPopup .gwt-PushButton-down-disabled,
.touchToolbar .comboButton-down,
.toolbar .comboButton-down{
    box-shadow: 0px 0px 4px 1px gray inset;
    border: 1px solid white;
}


.slidingBar{
	transition: margin 0.25s;
	-webkit-transition: margin 0.25s;
}

.contextMenu .gwt-MenuItem
{
	padding-right: 3px;
	white-space: nowrap;
}

.touchContextMenu .gwt-MenuItem
{
	font-size: 20px;
	padding-right: 3px;
	white-space: nowrap;
}

.touchContextMenu{
	max-height: 80%;
	max-width: 80%;
	overflow-y: scroll;
}

.toolbar, .touchToolbar, .toolbar div, .touchToolbar div,.toolbar table, .touchToolbar table, .toolbar td, .touchToolbar td{
	-webkit-user-select: none;
}

